/*##########################################navbar css##################################################################################*/
@import '../../assets/scss/variables.scss';


.header {
  background-color: $primary-color;

  .navbar {
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
  }

  .navbar-brand {
    svg {
      @media screen and (max-width:767px) {
        max-width: 230px;
      }
    }
  }

  .header-refer-btn {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.493rem 1rem 0.392rem 1rem;
    @media screen and (max-width:991px) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    svg {
      margin-right: 0.25rem;
      margin-top: -3px;
      @media screen and (max-width:991px) {
        margin-right: 0;
      }
    }
  }

  .header-nav {
    li {
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      @media screen and (max-width:1199px) {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
      }

      &.menuItem-msg {
        padding-left: 1rem;
        padding-right: 1rem;
        @media screen and (max-width:1199px) {
          padding-right: 0.5rem;
        }
        @media screen and (max-width:991px) {
          padding-right: 0.25rem;
          padding-left: 0.5rem;
        }
      }

      a {
        text-decoration: none;
        display: block;

      }
      button {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;

      }
    }
    .menuItem-refer {
      .btn {
        border-radius: 10px;
      }
    }
    .menuItem-lng {
      .dropdown-toggle {
        font-weight: 500;
        background-color: $white-color;
        color: $primary-color;
        border-radius: 10px;
        padding: 0.563rem 0.85rem;
        font-size: 1rem;

        img {
          margin-right: 0.25rem;
          margin-top: -2px;
          @media screen and (max-width:991px) {
            margin-right: 0;
          }
        }
      }
    }

    .menuItem-msg {
      a {
        position: relative;

        span {
          width: 10px;
          height: 10px;
          background-color: $danger-color;
          border-radius: 50%;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

    .menuItem-auth {
      .dropdown-toggle {
        font-weight: 500;
        font-size: 1.15rem;
        @media screen and (max-width:1199px) {
          font-size: 1rem;
        }
        img {
          margin-right: 0.75rem;
          width: 50px !important;
          @media screen and (max-width:1199px) {
            width: 40px !important;
          }
          @media screen and (max-width:991px) {
            margin-right: 0.25rem;
          }
        }
      }
      .dropdown-menu {
        min-width: 290px;
        left: auto;
        right: -20px;
        border-radius: 10px;
        border: 1px solid #B9B9B9;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        .dropdown-item {
          padding: 0.75rem 1.5rem;
          font-size: 1.15rem;
          font-weight: 500;
          display: flex;
          align-items: center;
          
          svg {
            margin-right: 0.75rem;
            height: 20px;
          }
        }
        &:after {
          content: '';
          position: absolute;
          right: 31px;
          top: -10px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #fff;
        }
        &:before {
          content: '';
          position: absolute;
          right: 31px;
          top: -11px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #B9B9B9;
        }
      }
    }

    .dropdown-menu {
      .dropdown-item {
        border-bottom: 1px solid #e4e1e1;

        &:last-child {
          border-bottom: 0px;
        }
      }

    }

    .menuItem-popup {
      a {
        padding: 10px;
      }
    }
  }
}

