<!-- Header -->
<header class="header">
  <div class="container">
    <nav class="navbar">
      <a class="navbar-brand" routerLink="/home">
        <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" width="284.23" height="38" viewBox="0 0 284.23 38">
          <g id="Group_22" data-name="Group 22" transform="translate(-213 -46)">
            <path id="Path_72" data-name="Path 72"
              d="M9.48.42A19.414,19.414,0,0,1,4.53-.21,12.175,12.175,0,0,1,.63-1.89L2.58-6.27a12.618,12.618,0,0,0,3.27,1.5,12.448,12.448,0,0,0,3.66.57q3.42,0,3.42-1.71a1.416,1.416,0,0,0-.975-1.335A17.93,17.93,0,0,0,8.82-8.16a29.922,29.922,0,0,1-3.96-1.1A6.665,6.665,0,0,1,2.13-11.13,5.066,5.066,0,0,1,.99-14.61a6.024,6.024,0,0,1,1.05-3.465A7.026,7.026,0,0,1,5.175-20.52a12.9,12.9,0,0,1,5.115-.9,18.043,18.043,0,0,1,4.08.465,12.494,12.494,0,0,1,3.54,1.365l-1.83,4.41a12.225,12.225,0,0,0-5.82-1.62,4.879,4.879,0,0,0-2.58.525,1.574,1.574,0,0,0-.81,1.365,1.353,1.353,0,0,0,.96,1.26,17.358,17.358,0,0,0,3.09.87,28.947,28.947,0,0,1,3.975,1.1,6.864,6.864,0,0,1,2.73,1.86A4.968,4.968,0,0,1,18.78-6.36a5.907,5.907,0,0,1-1.05,3.42A7.157,7.157,0,0,1,14.58-.5,12.741,12.741,0,0,1,9.48.42Zm25.56-4.5H26.16L24.51,0H18.45l9.27-21h5.85l9.3,21H36.69ZM33.3-8.46l-2.7-6.72L27.9-8.46ZM62.97,0l-.06-11.13-5.4,9.06H54.87L49.5-10.83V0H44.01V-21H48.9L56.28-8.88,63.48-21h4.89l.06,21ZM88.95-4.59V0H72.09V-21H88.56v4.59H77.97v3.54H87.3v4.44H77.97v3.84ZM99.9-21h9.93a13.9,13.9,0,0,1,6.12,1.29,9.717,9.717,0,0,1,4.14,3.66,10.313,10.313,0,0,1,1.47,5.55,10.313,10.313,0,0,1-1.47,5.55,9.717,9.717,0,0,1-4.14,3.66A13.9,13.9,0,0,1,109.83,0H99.9Zm9.69,16.26a6.088,6.088,0,0,0,4.335-1.53,5.51,5.51,0,0,0,1.635-4.23,5.51,5.51,0,0,0-1.635-4.23,6.088,6.088,0,0,0-4.335-1.53h-3.75V-4.74Zm28.32.66h-8.88L127.38,0h-6.06l9.27-21h5.85l9.3,21h-6.18Zm-1.74-4.38-2.7-6.72-2.7,6.72Zm20.64.93V0h-5.94V-7.62L142.86-21h6.27l4.98,8.34L159.09-21h5.76ZM183.6-21a11.977,11.977,0,0,1,4.95.945,7.341,7.341,0,0,1,3.24,2.7,7.4,7.4,0,0,1,1.14,4.125,7.329,7.329,0,0,1-1.14,4.11,7.377,7.377,0,0,1-3.24,2.685,11.977,11.977,0,0,1-4.95.945h-3.66V0H174V-21Zm-.36,10.83a4.15,4.15,0,0,0,2.76-.8,2.817,2.817,0,0,0,.93-2.265,2.862,2.862,0,0,0-.93-2.28,4.1,4.1,0,0,0-2.76-.81h-3.3v6.15Zm25.05,6.09h-8.88L197.76,0H191.7l9.27-21h5.85l9.3,21h-6.18Zm-1.74-4.38-2.7-6.72-2.7,6.72Zm20.64.93V0h-5.94V-7.62L213.24-21h6.27l4.98,8.34L229.47-21h5.76Z"
              transform="translate(262 76)" fill="#fff" />
            <g id="Rectangle_10" data-name="Rectangle 10" transform="translate(213 46)" fill="rgba(255,255,255,0)"
              stroke="#fff" stroke-width="7">
              <rect width="38" height="38" stroke="none" />
              <rect x="3.5" y="3.5" width="31" height="31" fill="none" />
            </g>
          </g>
        </svg>
      </a>
      <ul class="ms-auto header-nav d-flex align-items-center list-unstyled mb-0">
        <li class="menuItem-refer d-none d-md-inline-block">
          <a routerLink="/your-referrals" class="btn btn-warning header-refer-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="33.223" height="30" viewBox="0 0 33.223 30">
              <path id="Union_5" data-name="Union 5"
                d="M1.46-1186.108l-.968-2.453a2.519,2.519,0,0,0,.5-.141l1.316-.477.948,2.4c.314.8.42,1.37-.377,1.684a1.153,1.153,0,0,1-.421.091C1.961-1185,1.711-1185.47,1.46-1186.108ZM-21-1185.2l2.969-9.57c.812-2.457,1.869-4.083,4.349-4.454H-2.244l-.013,2.134-11.388-.031c-.694,0-1.9.566-2.623,3.093l-1.887,6.842h15.89v1.986Zm18.47-9.941L.058-1196.2a8.222,8.222,0,0,0,2.251-1.444,11.584,11.584,0,0,0,1.839-2.392,1.034,1.034,0,0,1,.584-1.341,1.033,1.033,0,0,1,1.342.582l3.792,9.616a1.036,1.036,0,0,1-.583,1.344,1.036,1.036,0,0,1-1.343-.584,13.225,13.225,0,0,0-3.163-.494,6.616,6.616,0,0,0-2.367.489L-.3-1189.392Zm6.119-1.578a8.927,8.927,0,0,1-2.32,1.578l-1.856.742,1.206,3.063,1.948-.65a13.218,13.218,0,0,1,2.877-.371,9.188,9.188,0,0,1,2.876.556L5.26-1199.04A10.487,10.487,0,0,1,3.59-1196.72Zm-8.173,5.683a2.1,2.1,0,0,1,1.2-2.7l.089-.035,1.517,3.847-.089.034a2.1,2.1,0,0,1-.772.147A2.082,2.082,0,0,1-4.583-1191.037ZM11.5-1193.1l-1.343-.581a.517.517,0,0,1-.267-.681.517.517,0,0,1,.681-.268l1.342.582a.517.517,0,0,1,.268.681.518.518,0,0,1-.475.311A.511.511,0,0,1,11.5-1193.1Zm-1.893-2.98a.516.516,0,0,1,.291-.671l1.477-.581a.516.516,0,0,1,.52.068.517.517,0,0,1,.192.488.516.516,0,0,1-.333.405l-1.477.583a.516.516,0,0,1-.189.036A.516.516,0,0,1,9.606-1196.078Zm-.965-1.447a.517.517,0,0,1-.269-.68l.584-1.342a.518.518,0,0,1,.681-.269h0a.516.516,0,0,1,.275.285.516.516,0,0,1-.008.4l-.584,1.341a.517.517,0,0,1-.474.312A.516.516,0,0,1,8.64-1197.525Zm-23.423-10.7A6.773,6.773,0,0,1-8.01-1215a6.773,6.773,0,0,1,6.774,6.774,6.773,6.773,0,0,1-6.774,6.773A6.773,6.773,0,0,1-14.783-1208.226Zm1.669,0a5.1,5.1,0,0,0,5.1,5.1,5.1,5.1,0,0,0,5.105-5.1,5.087,5.087,0,0,0-1.358-3.467h-7.495A5.087,5.087,0,0,0-13.114-1208.226Z"
                transform="translate(21 1215)" fill="#fff" />
            </svg>
            <span class="d-none d-lg-inline-block">Refer a friend</span>
          </a>
        </li>

        <li ngbDropdown class="dropdown menuItem-lng d-none d-md-inline-block">
          <button *ngIf="locale == 'bg'" class="" id="dropdownBasic1" ngbDropdownToggle>
            <img src="../../assets/images/bg.png" alt="user" class="img-fluid" width="22">
            <span class="d-none d-lg-inline-block">BG</span>
          </button>
          <!-- <button *ngIf="locale == 'fr'" class="" id="dropdownBasic1" ngbDropdownToggle>
            <img src="../../assets/images/fr.png" alt="user" class="img-fluid" width="22">
            <span class="d-none d-lg-inline-block">FR</span>
          </button> -->
          <button *ngIf="locale == 'en'" class="" id="dropdownBasic1" ngbDropdownToggle>
            <img src="../../assets/images/en.png" alt="user" class="img-fluid" width="22">
            <span class="d-none d-lg-inline-block">EN</span>
          </button>
          <button *ngIf="locale == 'pl'" class="" id="dropdownBasic1" ngbDropdownToggle>
            <img src="../../assets/images/pl.png" alt="user" class="img-fluid" width="22">
            <span class="d-none d-lg-inline-block">PL</span>
          </button>
          <button *ngIf="locale == 'ro'" class="" id="dropdownBasic1" ngbDropdownToggle>
            <img src="../../assets/images/ro.png" alt="user" class="img-fluid" width="22">
            <span class="d-none d-lg-inline-block">RO</span>
          </button>
          <button *ngIf="locale == 'sk'" class="" id="dropdownBasic1" ngbDropdownToggle>
            <img src="../../assets/images/sk.png" alt="user" class="img-fluid" width="22">
            <span class="d-none d-lg-inline-block">SK</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="localeSwitcher('bg')" ngbDropdownItem>BG</button>
            <!-- <button (click)="localeSwitcher('fr')" ngbDropdownItem>FR</button> -->
            <button (click)="localeSwitcher('en')" ngbDropdownItem>EN</button>
            <button (click)="localeSwitcher('pl')" ngbDropdownItem>PL</button>
            <button (click)="localeSwitcher('ro')" ngbDropdownItem>RO</button>
            <button (click)="localeSwitcher('sk')" ngbDropdownItem>SK</button>
            
          </div>
        </li>

        <li class="menuItem-msg d-none d-md-inline-block">
          <a routerLink="/messages">
            <svg xmlns="http://www.w3.org/2000/svg" width="27.341" height="31.75" viewBox="0 0 27.341 31.75">
              <g id="notifications-outline" transform="translate(-4.329 -2.125)">
                <path id="Path_40" data-name="Path 40"
                  d="M30.071,24.71c-1.8-2.21-3.08-3.335-3.08-9.428,0-5.579-2.849-7.567-5.194-8.532a1.255,1.255,0,0,1-.7-.742A3.407,3.407,0,0,0,18,3.375,3.4,3.4,0,0,0,14.906,6.01a1.241,1.241,0,0,1-.7.74c-2.348.967-5.194,2.948-5.194,8.532,0,6.093-1.278,7.218-3.083,9.428A1.418,1.418,0,0,0,7.144,27H28.862A1.419,1.419,0,0,0,30.071,24.71Z"
                  fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" />
                <path id="Path_41" data-name="Path 41" d="M22.5,27v1.125a4.5,4.5,0,0,1-9,0V27" fill="none" stroke="#fff"
                  stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" />
              </g>
            </svg>
            <span></span>
          </a>
        </li>

        <li ngbDropdown class="dropdown menuItem-auth d-none d-md-inline-block">
          <button class="text-white" id="dropdownBasic1" ngbDropdownToggle>
            <img src="../../assets/images/profile.png" alt="user" class="img-fluid"
              style="width: 58px;border-radius: 25px" *ngIf="getUserImage()=='null'">
            <img src="{{getUserImage()}}" alt="user" class="img-fluid"
            style="width: 58px;border-radius: 25px" *ngIf="getUserImage()!='null'">
            <span class="d-none d-lg-inline-block">{{getUserName()}}</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
            <a ngbDropdownItem routerLink="/profile">
              <svg xmlns="http://www.w3.org/2000/svg" width="21.078" height="25.761" viewBox="0 0 21.078 25.761">
                <g id="user" transform="translate(-6.75 -2.25)">
                  <path id="Path_44" data-name="Path 44"
                    d="M17.5,4.358a5.269,5.269,0,1,1-5.269,5.269A5.269,5.269,0,0,1,17.5,4.358m0-2.108a7.377,7.377,0,1,0,7.377,7.377A7.377,7.377,0,0,0,17.5,2.25Z"
                    transform="translate(-0.213 0)" fill="#34383b" />
                  <path id="Path_45" data-name="Path 45"
                    d="M27.828,29.149H25.72V27.627a5.269,5.269,0,0,0-5.269-5.269H14.127a5.269,5.269,0,0,0-5.269,5.269v1.522H6.75V27.627a7.377,7.377,0,0,1,7.377-7.377H20.45a7.377,7.377,0,0,1,7.377,7.377Z"
                    transform="translate(0 -1.138)" fill="#34383b" />
                </g>
              </svg>

              Profile / About You
            </a>
            <button ngbDropdownItem routerLink="/settings">
              <svg xmlns="http://www.w3.org/2000/svg" width="22.5" height="23.109" viewBox="0 0 22.5 23.109">
                <g id="settings" transform="translate(-2.715 -2.295)">
                  <path id="Path_46" data-name="Path 46"
                    d="M23.065,14.478V13.212l1.589-1.391a1.655,1.655,0,0,0,.314-2.111L23.015,6.4a1.669,1.669,0,0,0-1.961-.745l-2.011.678a9.394,9.394,0,0,0-1.084-.621l-.422-2.086A1.655,1.655,0,0,0,15.88,2.295H12.006a1.655,1.655,0,0,0-1.655,1.332L9.929,5.713a9.5,9.5,0,0,0-1.093.621l-1.97-.712a1.655,1.655,0,0,0-.529-.049A1.655,1.655,0,0,0,4.906,6.4L2.953,9.711a1.655,1.655,0,0,0,.339,2.078L4.856,13.22v1.266L3.292,15.877a1.655,1.655,0,0,0-.339,2.111L4.906,21.3a1.669,1.669,0,0,0,1.961.745l2.011-.678a9.394,9.394,0,0,0,1.084.621l.422,2.086A1.655,1.655,0,0,0,12.041,25.4h3.907A1.655,1.655,0,0,0,17.6,24.071l.422-2.086a9.5,9.5,0,0,0,1.093-.621l2,.678a1.669,1.669,0,0,0,1.961-.745l1.887-3.311a1.655,1.655,0,0,0-.339-2.078Zm-1.482,5.992-2.839-.96a7.333,7.333,0,0,1-2.243,1.3l-.587,2.972H12.007l-.588-2.938a7.747,7.747,0,0,1-2.235-1.3l-2.846.927L4.384,17.16l2.251-1.986a7.367,7.367,0,0,1,0-2.59L4.384,10.539,6.338,7.228l2.839.96a7.333,7.333,0,0,1,2.243-1.3l.587-2.972h3.907L16.5,6.856a7.747,7.747,0,0,1,2.235,1.3l2.846-.927,1.953,3.311-2.251,1.986a7.367,7.367,0,0,1,0,2.59l2.251,2.045Z"
                    transform="translate(0)" fill="#34383b" />
                  <path id="Path_47" data-name="Path 47"
                    d="M16.216,21.182a4.917,4.917,0,1,1,3.526-1.44A4.966,4.966,0,0,1,16.216,21.182Zm0-8.277a3.236,3.236,0,1,0,2.364.947A3.236,3.236,0,0,0,16.216,12.905Z"
                    transform="translate(-2.256 -2.367)" fill="#34383b" />
                </g>
              </svg>

              Settings
            </button>
            <a ngbDropdownItem routerLink="/favourite-jobs">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.668" height="22" viewBox="0 0 23.668 22">
                <path id="heart"
                  d="M14.208,24.5a1.667,1.667,0,0,1-.938-.29,30.4,30.4,0,0,1-6.843-5.875,12.075,12.075,0,0,1-3.053-7.969A5.875,5.875,0,0,1,9.16,4.5a6.337,6.337,0,0,1,4.812,2.37.313.313,0,0,0,.472,0A6.334,6.334,0,0,1,19.256,4.5a5.875,5.875,0,0,1,5.785,5.867,12.079,12.079,0,0,1-3.053,7.969,30.421,30.421,0,0,1-6.843,5.875,1.667,1.667,0,0,1-.938.29Z"
                  transform="translate(-2.374 -3.5)" fill="none" stroke="#34383b" stroke-width="2" />
              </svg>
              Favourites Jobs
            </a>
            <button ngbDropdownItem (click)="onLogout()">
              <svg xmlns="http://www.w3.org/2000/svg" width="19.668" height="19.668" viewBox="0 0 19.668 19.668">
                <g id="md-log-out" transform="translate(-3.375 -3.375)">
                  <path id="Path_50" data-name="Path 50"
                    d="M13.5,16.8h8.969l-2.062,2.113,1.414,1.413,4.539-4.539L21.821,11.25l-1.466,1.413,2.113,2.113H13.5V16.8Z"
                    transform="translate(-3.317 -2.58)" fill="#34383b" />
                  <path id="Path_51" data-name="Path 51"
                    d="M13.195,21.024A7.82,7.82,0,0,1,7.678,7.682,7.8,7.8,0,0,1,18.7,7.672L20.135,6.24a10.439,10.439,0,0,0-1.31-1.1,9.84,9.84,0,1,0,1.306,15.03L18.7,18.746A7.738,7.738,0,0,1,13.2,21.024Z"
                    fill="#34383b" />
                  <path id="Path_52" data-name="Path 52" d="M31.48,18.021l-.04-.04.04-.04.04.04Z"
                    transform="translate(-9.194 -4.771)" fill="#34383b" />
                </g>
              </svg>
              Logout
            </button>
          </div>
        </li>

  
        <li class="menuItem-popup">
          <button class="" (click)="open(mainMenu)"><img src="../../assets/images/bar.png" alt="bar" class="img-fluid"
              width="30"></button>
        </li>
      </ul>
    </nav>
  </div>
</header>

<ng-template #mainMenu let-modal>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="51.75" height="51.75" viewBox="0 0 51.75 51.75">
        <g id="close-circle-outline" transform="translate(-3.625 -3.625)" opacity="0.5">
          <path id="Path_16" data-name="Path 16" d="M54.5,29.5a25,25,0,1,0-25,25A25.007,25.007,0,0,0,54.5,29.5Z"
            transform="translate(0 0)" fill="none" stroke="#5d5d5d" stroke-miterlimit="10" stroke-width="1.75" />
          <path id="Path_17" data-name="Path 17" d="M35.067,35.067,13.5,13.5" transform="translate(5.217 5.217)"
            fill="none" stroke="#5d5d5d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
          <path id="Path_18" data-name="Path 18" d="M13.5,35.067,35.067,13.5" transform="translate(5.217 5.217)"
            fill="none" stroke="#5d5d5d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
        </g>
      </svg>
    </span>
  </button>
  <div class="modal-body d-md-flex align-items-center justify-content-center">
    <div class="d-block d-md-none mt-2 menu-on-profile">
      <div class="row align-items-center">
        <div class="col-auto">
          <img src="../../assets/images/profile.png" alt="user" class="img-fluid"
              style="width: 58px;border-radius: 32px" *ngIf="getUserImage()=='null'">
          <img src="{{getUserImage()}}" alt="user" class="img-fluid"
            style="width: 58px;border-radius: 32px" *ngIf="getUserImage()!='null'">
        </div>
        <div class="col">
          <span class="h4 mt-1 fw-medium text-dark">{{getUserName()}}</span>
          <div ngbDropdown class="dropdown menuItem-lng d-block d-md-none">            
            <button *ngIf="locale == 'bg'" class="" id="dropdownBasic1" ngbDropdownToggle>
              <img src="../../assets/images/bg.png" alt="user" class="img-fluid" width="22">
              <span class="">BG</span>
            </button>
            <button *ngIf="locale == 'en'" class="" id="dropdownBasic1" ngbDropdownToggle>
              <img src="../../assets/images/en.png" alt="user" class="img-fluid" width="22">
              <span class="">EN</span>
            </button>
            <button *ngIf="locale == 'pl'" class="" id="dropdownBasic1" ngbDropdownToggle>
              <img src="../../assets/images/pl.png" alt="user" class="img-fluid" width="22">
              <span class="">PL</span>
            </button>
            <button *ngIf="locale == 'ro'" class="" id="dropdownBasic1" ngbDropdownToggle>
              <img src="../../assets/images/ro.png" alt="user" class="img-fluid" width="22">
              <span class="">RO</span>
            </button>
            <button *ngIf="locale == 'sk'" class="" id="dropdownBasic1" ngbDropdownToggle>
              <img src="../../assets/images/sk.png" alt="user" class="img-fluid" width="22">
              <span class="">SK</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="localeSwitcher('bg')" ngbDropdownItem>BG</button>
              <button (click)="localeSwitcher('en')" ngbDropdownItem>EN</button>
              <button (click)="localeSwitcher('pl')" ngbDropdownItem>PL</button>
              <button (click)="localeSwitcher('ro')" ngbDropdownItem>RO</button>
              <button (click)="localeSwitcher('sk')" ngbDropdownItem>SK</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a routerLink="/home" (click)="modal.dismiss('Cross click')">Jobs</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/calendar-view" (click)="modal.dismiss('Cross click')">Calendar View</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/your-jobs" (click)="modal.dismiss('Cross click')">Your Jobs</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/job-offer" (click)="modal.dismiss('Cross click')">Job Offers</a>
      </li>
      <li class="list-group-item d-block d-md-none">
        <a routerLink="/favourite-jobs" (click)="modal.dismiss('Cross click')">Favourites Jobs</a>
      </li>
      <li class="list-group-item d-block d-md-none">
        <a routerLink="/profile" (click)="modal.dismiss('Cross click')">Profile / About You</a>
      </li>
      <li class="list-group-item d-block d-md-none">
        <a routerLink="/settings" (click)="modal.dismiss('Cross click')">Settings</a>
      </li>
      <li class="list-group-item d-block d-md-none">
        <a routerLink="/messages" (click)="modal.dismiss('Cross click')">Messages</a>
      </li>
      <li class="list-group-item d-block d-md-none">
        <a routerLink="/your-referrals" (click)="modal.dismiss('Cross click')">Refer a friend </a>
      </li>
      <li class="list-group-item d-block d-md-none">
        <a (click)="[onLogout(), modal.dismiss('Cross click')]">Logout </a>
      </li>
    </ul>
  </div>
</ng-template>