/*################################################footer css####################################################################*/
@import '../../assets/scss/variables.scss';

footer {
  padding: 3.125rem 0px 0px;

  h4 {
    font-weight: 600;
  }

  li {
    a {
      color: #707070;
      font-size: 1.125rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social-icon {
    li {
      margin-right: 0.75rem;

      a {
        width: 2.25rem;
        height: 2.25rem;
        border: 1px solid #A5A5A5;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: $primary-color;
          border-color: $primary-color;

          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    background: $primary-color;
    padding: 1rem 0;
    margin-top: 50px;
  }
}


.spinner-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .spinner-inner {
    background-color: #fff;
    border-radius: 10px;
    padding: 2.5rem 4rem;
  }
}
