<!-- footer -->
<footer class="text-center text-sm-start">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-12 mb-4 mb-lg-0">
        <a routerLink="/home">
          <img src="../../assets/images/logo-bg.png" alt="logo-bg" class="img-fluid" style="width:244px;">
        </a>
      </div>
      <div class="col-lg-3 col-sm-4">
        <h4 class="mb-3 text-dark">Links</h4>
        <ul class="list-unstyled">
          <li class="mb-2"><a routerLink="/favourite-jobs">Favourite Jobs</a></li>
          <li class="mb-2"><a  routerLink="/home">Recent Jobs</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-4">
        <h4 class="mb-3 text-dark">Resourses</h4>
        <ul class="list-unstyled">
          <li class="mb-2"><a routerLink="/messages">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-4">
        <h4 class="mb-3 text-dark">Social</h4>
        <ul class="social-icon d-inline-flex list-unstyled">
          <li class="">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="8.019" height="16.038" viewBox="0 0 8.019 16.038">
                <path id="social-facebook"
                  d="M16.6,9.846V8.255c0-.718.159-1.082,1.274-1.082h1.4V4.5H16.935c-2.861,0-3.8,1.312-3.8,3.563V9.846H11.251v2.673H13.13v8.019H16.6V12.519h2.356l.317-2.673H16.6Z"
                  transform="translate(-11.251 -4.5)" fill="#c7c4c4" />
              </svg>
            </a>
          </li>

          <li class="">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="18.711" height="18.711" viewBox="0 0 18.711 18.711">
                <path id="logo-linkedin-outline"
                  d="M19.465,2.25H3.849a1.526,1.526,0,0,0-1.6,1.457V19.358a1.646,1.646,0,0,0,1.6,1.6H19.46a1.563,1.563,0,0,0,1.5-1.6V3.707A1.435,1.435,0,0,0,19.465,2.25ZM8.051,17.847H5.37V9.512H8.051ZM6.8,8.245H6.784A1.376,1.376,0,0,1,5.37,6.807,1.384,1.384,0,0,1,6.817,5.37,1.381,1.381,0,0,1,8.25,6.807,1.385,1.385,0,0,1,6.8,8.245Zm11.044,9.6H15.166V13.29c0-1.092-.39-1.838-1.36-1.838a1.466,1.466,0,0,0-1.375.99,1.806,1.806,0,0,0-.093.658v4.747H9.659V9.512h2.681v1.16a2.715,2.715,0,0,1,2.418-1.355c1.759,0,3.091,1.16,3.091,3.66Z"
                  transform="translate(-2.25 -2.25)" fill="#c7c4c4" />
              </svg>
            </a>
          </li>

          <li class="">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="16.038" height="16.038" viewBox="0 0 16.038 16.038">
                <path id="social-instagram-outline"
                  d="M20.573,6.519a1.984,1.984,0,0,0-1.984-1.984H6.519A1.984,1.984,0,0,0,4.535,6.519v12.07a1.984,1.984,0,0,0,1.984,1.984h12.07a1.984,1.984,0,0,0,1.984-1.984Zm-8,2.666a3.341,3.341,0,1,1-3.341,3.341,3.341,3.341,0,0,1,3.341-3.341Zm6.662-.64a.669.669,0,0,1-.668.668h-2a.669.669,0,0,1-.668-.668v-2a.669.669,0,0,1,.668-.668h2a.669.669,0,0,1,.668.668ZM18.61,19.237H6.581a.743.743,0,0,1-.71-.71V11.218H8.088A4.665,4.665,0,0,0,9.268,15.84a4.68,4.68,0,0,0,7.985-3.3,4.6,4.6,0,0,0-.191-1.32h2.175v7.309A.672.672,0,0,1,18.61,19.237Z"
                  transform="translate(-4.535 -4.535)" fill="#c7c4c4" />
              </svg>
            </a>
          </li>


          <li class="">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20.048" height="16.038" viewBox="0 0 20.048 16.038">
                <path id="logo-twitter-outline"
                  d="M21.173,6.4a8.429,8.429,0,0,1-2.362.639A4.073,4.073,0,0,0,20.621,4.8a8.259,8.259,0,0,1-2.613.981A4.141,4.141,0,0,0,15,4.5a4.08,4.08,0,0,0-4.112,4.047A3.893,3.893,0,0,0,11,9.47,11.724,11.724,0,0,1,2.52,5.239a4,4,0,0,0,1.278,5.4,4.072,4.072,0,0,1-1.871-.506v.05a4.067,4.067,0,0,0,3.3,3.968,4.209,4.209,0,0,1-1.083.142,3.942,3.942,0,0,1-.773-.075,4.111,4.111,0,0,0,3.844,2.811,8.336,8.336,0,0,1-5.109,1.734,8.479,8.479,0,0,1-.981-.058,11.64,11.64,0,0,0,6.3,1.829A11.529,11.529,0,0,0,19.134,9.019c0-.175,0-.351-.013-.522a8.29,8.29,0,0,0,2.052-2.1Z"
                  transform="translate(-1.125 -4.5)" fill="#c7c4c4" />
              </svg>

            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="text-center text-white m-0">SAME DAY PAY © 2021 | Privacy Policy</p>
  </div>
</footer>