/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

/* Fonts Size */
@function strip-unit($value) {
  @return $value / ($value * 0 + 0);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
    & {

      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1920px;
$min_font: 14px;
$max_font: 16px;
/**/

html {
  height: 100%;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  height: 100%;
}

@media (min-width: 1540px) {
  .container {
    max-width: 1490px;
  }
}

/**/
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: 3.75rem;
}

h2,
.h2 {
  font-size: 2.25rem;

  @media (max-width: 575px) {
    font-size: 1.9rem;
  }
}

h3,
.h3 {
  font-size: 1.875rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;

  @media (max-width: 575px) {
    font-size: 1.125rem;
  }
}

h6,
.h6 {
  font-size: 1.125rem;

  @media (max-width: 575px) {
    font-size: 1rem;
  }
}

/**/
.fw-bolder {
  font-weight: 600 !important;
}

/* Buttons */
button:focus {
  outline: 1px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

.btn {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.675rem 0.75rem;
  border-radius: 6px;

  @media (max-width: 575px) {
    font-size: 1.125rem;
  }
  &.btn-lg {
    padding: 0.94rem 1.75rem;
  }
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-button-border;

}

.btn-primary:hover {
  color: #fff;
  background-color: $primary-button-border;
  border-color: $primary-color;
}

.btn-warning {
  color: #fff;
  background-color: $warning-color;
  border-color: $warning-border;
}
.btn-warning:hover {
  color: #fff;
  background-color: $warning-border;
  border-color: $warning-color;
}

.btn-success {
  color: #fff;
  background-color: $success-color;
  border-color: $success-border;
}

/**/
.btn-social {
  padding: 0;


}

.btn-social {
  span {
    display: inline-block;
    padding: 0.671rem 1.5rem;
    border-right: 1px solid $primary-button-border;
    margin-right: 1.5rem;

    @media (max-width: 575px) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      margin-right: 1rem;
    }

    svg {
      @media (max-width: 575px) {
        width: 10px;
      }
    }

  }
}

.btn-social:hover span {
  border-right-color: $primary-button-border;
}

/* Form */
.form-control {
  font-size: 1.125rem;
  border-color: #bbbbbb;
  padding: 0.75rem 1.25rem;
  border-radius: 6px;

  @media (max-width: 575px) {
    font-size: 1rem;
  }

}

.form-control:focus {
  box-shadow: none;
  border-color: #185EEF;
}

/* Placeholder */
.form-control::placeholder {
  color: #9F9F9F;
}

.form-control:-ms-input-placeholder {
  color: #9F9F9F;
}

.form-control::-ms-input-placeholder {
  color: #9F9F9F;
}

/* Select */
.form-select {
  font-size: 1.125rem;
  border-color: #bbbbbb;
  padding: 0.75rem 1.25rem;
  border-radius: 6px;

  @media (max-width: 575px) {
    font-size: 1rem;
  }
}

/**/
.auth-sec-bg {
  background-image: url(../images/auth-sec-bg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-color: #EDF0F6;
  min-height: 100%;
  padding: 50px 0;
  display: flex;
  align-items: center;

  @media (max-width: 1460px) {
    background-size: 54% auto;
  }

  @media (max-width: 991px) {
    background-size: 500px auto;
    background-position: center top 75px;
    padding-top: 30px;
  }

  @media (max-width: 575px) {
    background-size: 400px auto;
  }
}

.auth-sec-logo {
  @media (max-width: 991px) {
    width: 250px;
    margin: 0 auto;
    display: block;
    margin-bottom: 440px;
  }

  @media (max-width: 575px) {
    margin-bottom: 340px;
  }
}

/**/
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #B5B6B8;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #B5B6B8;
}

.separator:not(:empty)::before {
  margin-right: .75em;
}

.separator:not(:empty)::after {
  margin-left: .75em;
}