/* Variables  */
$primary-color : #3B5998;
$primary-button-border : #163471;
$secondary-color : #EDF0F6;
$white-color : #ffffff;
$text-color : #707070;
$light-text : #A7A7A7;
$dark-text : #34383B;
$border-color: #bbbbbb;
$success-color: #36A420;
$success-border: #1F870A;
$warning-color: #F34515;
$warning-border: #FF7853;
$danger-color: #E41616;

$yellow-color: #FFCC00;
$green-color: #36A420;
$red-color: #EF3131;
$light-blue-color: #00A8FF;
$cyan-color: #00FFF6;
$chartreuse-color: #8AE820;
$orange-color: #F17351;

