<section class="referral py-3 py-lg-5 bg-secondary">
  <div class="container">
    <div class="content-box p-4 p-lg-5">

      <div class="text-center" *ngIf="loader">
        <img src="../../assets/images/text-loading.svg" alt="" />
      </div>
      
      <div class="row justify-content-between flex-md-row-reverse" *ngIf="!loader">
        <div class="col-md-5 text-end mb-4 mb-md-0">
          <img src="../../assets/images/friend.png" alt="friend" class="img-fluid">
        </div>
        <div class="col-md-5">
          <h1 class="fw-medium mb-0 text-success display-1">{{totalRewards}}</h1>
          <h4 class="fw-medium text-muted pb-2">Total Rewards</h4>
          <form class="form-inline mt-4 position-relative copy-link" [formGroup]="referralForm">
            <label class="fw-bolder text-uppercase text-muted">My referral link</label>
            <input class="form-control mr-sm-2 pl-5 w-100" type="text"
              value="" aria-label="Search" formControlName="referralCode" [readonly]="true" #userinput>
            <button class="btn btn-success border-0"
              (click)="copyInputMessage(userinput)">Copy</button>
              <div class="alert alert-success py-2"
                *ngIf="copyMessage!==''">
                {{copyMessage}}
              </div>
          </form>
          
          <ul class="social-icon list-unstyled share-link mt-4">
            <li class="mr-3 d-inline-block fw-bolder pe-3 text-uppercase text-muted">Share referral link </li>
            <li class="mr-3 d-inline-block">
              <button class="btn btn-primary btn-sm border-0 d-flex align-items-center" (click)='share(referralLink)'>
                <svg width="11px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="share-alt" class="svg-inline--fa fa-share-alt fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M352 320c-22.608 0-43.387 7.819-59.79 20.895l-102.486-64.054a96.551 96.551 0 0 0 0-41.683l102.486-64.054C308.613 184.181 329.392 192 352 192c53.019 0 96-42.981 96-96S405.019 0 352 0s-96 42.981-96 96c0 7.158.79 14.13 2.276 20.841L155.79 180.895C139.387 167.819 118.608 160 96 160c-53.019 0-96 42.981-96 96s42.981 96 96 96c22.608 0 43.387-7.819 59.79-20.895l102.486 64.054A96.301 96.301 0 0 0 256 416c0 53.019 42.981 96 96 96s96-42.981 96-96-42.981-96-96-96z"/></svg>
                <span class="ps-1">Share</span>
              </button>
              
            </li>   
            <li class="mr-3 d-md-inline-block d-none">
              <button class="btn btn-primary btn-sm border-0 d-inline-flex align-items-center" (click)='shareFB(referralLink)' style="background-color: #1877f2;">
                <svg width="15px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" class="svg-inline--fa fa-facebook fa-w-16" role="img" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
                <span class="ps-1">Share</span>
              </button>
            </li>         
          </ul>
        </div>
        

      </div>

      <div class="mt-5 pt-0 pt-md-4">

        <div class="referrals-item" *ngFor="let refer of referralList  | paginate : {
          itemsPerPage: limit,
          currentPage: this_page,
          totalItems: total
        }; index as i;">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-9 col-xs-12">
              <div class="setting-box">
                <h5 class="fw-medium"><strong class="fw-bold">{{refer.referred_name}}</strong> {{refer.referred_text}} </h5>
                <p class="h6 fw-medium text-success mb-0" *ngIf="refer.referral_paid==true">Paid - Yes</p>
                <p class="h6 fw-medium text-warning mb-0" *ngIf="refer.referral_paid==false">Paid - No</p>
              </div>
            </div>
            <div class="col-auto text-end mt-3 mt-md-0">
              <h3 class="text-success fw-bolder m-0">{{refer.referral_rate}}</h3>
            </div>
          </div>
        </div>
        
        <!-- <div class="py-2" *ngIf="!(referralList?.length > 0) && !loader">
          <div class="row">
            <div class="col-lg">
              <div class="d-flex d-lg-block justify-content-between">
                <div class="text-center" >
                  Click here to share referral and get free Rewards 
                  
                  <button class="btn btn-primary btn-sm border-0 d-inline-flex align-items-center ms-2" (click)='share(referralLink)'>
                    <svg width="11px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="share-alt" class="svg-inline--fa fa-share-alt fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M352 320c-22.608 0-43.387 7.819-59.79 20.895l-102.486-64.054a96.551 96.551 0 0 0 0-41.683l102.486-64.054C308.613 184.181 329.392 192 352 192c53.019 0 96-42.981 96-96S405.019 0 352 0s-96 42.981-96 96c0 7.158.79 14.13 2.276 20.841L155.79 180.895C139.387 167.819 118.608 160 96 160c-53.019 0-96 42.981-96 96s42.981 96 96 96c22.608 0 43.387-7.819 59.79-20.895l102.486 64.054A96.301 96.301 0 0 0 256 416c0 53.019 42.981 96 96 96s96-42.981 96-96-42.981-96-96-96z"/></svg>
                    <span class="ps-1">Share</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</section>