/*########################################Your-referrals.html##############################################################*/
.copy-link button {
  right: 8px;
  background: #36A420;
  font-size: 14px;
  top: 1.9rem;
  padding: 5px 15px;
  position: absolute;
}

.copy-link input {
  padding-right: 114px;
}
.share-link {
  display: flex;
  align-items: center;
}
.share-link li {
  padding: 0 4px;
}
.share-link li a {
  width: 34px;
  height: 34px;
  display: block;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.referrals-item {
  padding: 25px 0;
  border-top: 1px solid #D4D9E3;
}
