<div class="app-install-bar py-2 d-flex align-items-center justify-content-center" *ngIf="isAppInstall()">
  <p class="mb-0 text-white pe-2">Add to home screen</p>
  <button  class="btn btn-outline-secondary btn-sm text-center" (click)="addToHomeScreen()">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="15px" viewBox="0 0 122.876 107.16" enable-background="new 0 0 122.876 107.16" xml:space="preserve"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M32.716,32.108h16.566V0l23.702,0v32.107l17.176,0l-28.7,30.32L32.716,32.108 L32.716,32.108z M113.705,32.244l7.733,34.271c0.021,0.071,0.034,0.146,0.044,0.223c0.678,5.731,1.177,10.726,1.338,15.138 c0.164,4.449-0.023,8.255-0.726,11.545c-0.014,0.063-0.03,0.123-0.052,0.183c-0.647,7.566-7.043,13.558-14.77,13.558h-92.12 c-7.736,0-14.138-6.006-14.772-13.585c-0.021-0.094-0.032-0.19-0.034-0.29l-0.012-0.533l-0.002-0.079 c-0.031-1.248-0.076-2.625-0.123-4.06c-0.181-5.508-0.39-11.875,0.058-17.388l-0.016,0.021l0.093-0.892 c0.027-0.294,0.059-0.584,0.091-0.872l7.736-37.239h10.213l-1.297,41.397h88.252l-0.849-41.397H113.705L113.705,32.244z M93.92,84.625c3.247,0,5.879,2.633,5.879,5.879c0,3.247-2.632,5.879-5.879,5.879s-5.879-2.632-5.879-5.879 C88.041,87.258,90.673,84.625,93.92,84.625L93.92,84.625z M17.253,85.941h22.783v8.092H17.253V85.941L17.253,85.941z"/></g></svg>
    Install
  </button> 
</div>

<section class="auth-sec-bg">
  <div class="container">
    <div class="row">
      <div class="col-xxl-5 col-lg-6 ms-auto">
        
        <svg class="mb-lg-4 auth-sec-logo" xmlns="http://www.w3.org/2000/svg" width="329.326" height="45"
          viewBox="0 0 329.326 45">
          <g id="Group_21" data-name="Group 21" transform="translate(-1100 -226)">
            <path id="Path_71" data-name="Path 71"
              d="M10.744.476a22,22,0,0,1-5.61-.714,13.8,13.8,0,0,1-4.42-1.9l2.21-4.964a14.3,14.3,0,0,0,3.706,1.7,14.108,14.108,0,0,0,4.148.646q3.876,0,3.876-1.938a1.6,1.6,0,0,0-1.105-1.513A20.321,20.321,0,0,0,10-9.248a33.912,33.912,0,0,1-4.488-1.241,7.554,7.554,0,0,1-3.094-2.125,5.742,5.742,0,0,1-1.292-3.944,6.828,6.828,0,0,1,1.19-3.927,7.963,7.963,0,0,1,3.553-2.771,14.624,14.624,0,0,1,5.8-1.02,20.449,20.449,0,0,1,4.624.527A14.16,14.16,0,0,1,20.3-22.2l-2.074,5a13.855,13.855,0,0,0-6.6-1.836,5.53,5.53,0,0,0-2.924.6A1.784,1.784,0,0,0,7.786-16.9,1.534,1.534,0,0,0,8.874-15.47a19.672,19.672,0,0,0,3.5.986,32.807,32.807,0,0,1,4.505,1.241,7.779,7.779,0,0,1,3.094,2.108,5.63,5.63,0,0,1,1.309,3.927,6.694,6.694,0,0,1-1.19,3.876,8.112,8.112,0,0,1-3.57,2.771A14.44,14.44,0,0,1,10.744.476Zm29.58-5.1H30.26L28.39,0H21.522L32.028-23.8h6.63L49.2,0h-7ZM38.352-9.588,35.292-17.2l-3.06,7.616ZM72.59,0l-.068-12.614L66.4-2.346H63.41l-6.086-9.928V0H51.1V-23.8h5.542l8.364,13.736L73.168-23.8H78.71L78.778,0Zm30.056-5.2V0H83.538V-23.8H102.2v5.2h-12v4.012h10.574v5.032H90.2V-5.2ZM116.28-23.8h11.254a15.754,15.754,0,0,1,6.936,1.462,11.012,11.012,0,0,1,4.692,4.148,11.688,11.688,0,0,1,1.666,6.29,11.688,11.688,0,0,1-1.666,6.29,11.012,11.012,0,0,1-4.692,4.148A15.754,15.754,0,0,1,127.534,0H116.28ZM127.262-5.372a6.9,6.9,0,0,0,4.913-1.734,6.245,6.245,0,0,0,1.853-4.794,6.245,6.245,0,0,0-1.853-4.794,6.9,6.9,0,0,0-4.913-1.734h-4.25V-5.372Zm32.708.748H149.906L148.036,0h-6.868l10.506-23.8h6.63L168.844,0h-7ZM158-9.588l-3.06-7.616-3.06,7.616Zm24,1.054V0H175.27V-8.636L166.192-23.8H173.3l5.644,9.452,5.644-9.452h6.528ZM213.588-23.8a13.574,13.574,0,0,1,5.61,1.071,8.32,8.32,0,0,1,3.672,3.06,8.39,8.39,0,0,1,1.292,4.675,8.307,8.307,0,0,1-1.292,4.658A8.361,8.361,0,0,1,219.2-7.293a13.574,13.574,0,0,1-5.61,1.071H209.44V0h-6.732V-23.8Zm-.408,12.274a4.7,4.7,0,0,0,3.128-.9,3.192,3.192,0,0,0,1.054-2.567,3.244,3.244,0,0,0-1.054-2.584,4.643,4.643,0,0,0-3.128-.918h-3.74v6.97Zm29,6.9H232.118L230.248,0H223.38l10.506-23.8h6.63L251.056,0h-7ZM240.21-9.588,237.15-17.2l-3.06,7.616Zm24,1.054V0h-6.732V-8.636L248.4-23.8h7.106l5.644,9.452L266.8-23.8h6.528Z"
              transform="translate(1156 259)" fill="#3b5998" />
            <g id="Rectangle_10" data-name="Rectangle 10" transform="translate(1100 226)" fill="rgba(255,255,255,0)"
              stroke="#3b5998" stroke-width="8">
              <rect width="45" height="45" stroke="none" />
              <rect x="4" y="4" width="37" height="37" fill="none" />
            </g>
          </g>
        </svg>        
        <h2 class="fw-bolder mb-1 text-dark">Login</h2>
        <h5 class="mb-4">It's quick and easy.</h5>
        <button class="btn btn-primary btn-social w-100 mb-4 text-start" (click)="signInWithFB()">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="13.26" height="27.283" viewBox="0 0 13.26 27.283">
              <path id="facebook"
                d="M3.385,27.283v-12.8H0V9.872H3.385V5.935C3.385,2.841,5.385,0,9.992,0a27.975,27.975,0,0,1,3.244.179l-.108,4.3s-1.407-.014-2.942-.014c-1.661,0-1.928.765-1.928,2.036V9.872h5l-.218,4.609H8.258v12.8H3.385"
                fill="#fff" />
            </svg>
          </span>
          Login with Facebook
        </button>
        <div class="separator mb-4">OR</div>        
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off"
              placeholder="Email">
            <div class="error"
              *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
              Username is required</div>
          </div>
          <div class="form-group mb-3">
            <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off"
              placeholder="Password">
            <div class="error"
              *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
              Password is required</div>
          </div>
          <div class="form-check custom-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Remember me
            </label>
          </div>

          <div class="alert alert-danger mt-4 py-2" role="alert" *ngIf="message!==''">
            {{message}}
          </div>

          <button class="btn btn-primary w-100 mt-4" [disabled]="loginForm.invalid">Login</button>

          <div class="alert alert-danger py-2" role="alert" *ngIf="invalidLogin">
            Invalid credentials
          </div>

          
          <div class="text-center mt-4">
            <a class="fw-bolder text-dark" routerLink="/forgot-password">Forgot Password</a>
            <hr>
            Do not have an account? <a class="fw-bolder text-dark" routerLink="/register">Register Here</a>
          </div>
        </form>



      </div>
    </div>
  </div>
</section>



