<section class="calendar-sec py-3 py-lg-5 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-3 mb-lg-0">
        <div class="content-box p-3 p-lg-4 h-100 position-relative">
          <!-- <h6 class="fs-7 fw-bolder mt-3 text-muted">Today</h6> -->
          <div class="row align-items-center ">
            <!-- <div class="col-auto">
              <h1 class="m-0 text-dark">09</h1>
            </div> -->
            <div class="col">
              <h4 class="mb-1 mt-3 text-dark fw-medium">{{currentJobDate | date:'EEEE, d MMMM, y'}}</h4>
              <!-- <h6 class="m-0 text-dark fw-medium">May, 2021</h6> -->
            </div>
          </div>

          <hr class="my-4 mb-0">

          
          <div class="calendar-job-item-wrap p-3 p-lg-4">
            <h6 class="fs-7 fw-bolder mb-3 text-muted">Jobs</h6>
            <div class="text-center" *ngIf="loader">
              <img src="../../assets/images/text-loading.svg" alt="" />
            </div>
            <div class="calendar-job-item" *ngFor="let job of jobs">
              <h5 class="fw-bolder text-dark" style="cursor: pointer;" (click)="open(mymodal, job.job_id)">{{job.job_type}}</h5>
              <div class="row align-items-end">
                <div class="col">
                  
                  <ul class="icon-with-text-wrap mb-0 list-unstyled">
                    <li class="">
                      <div class="icon-with-text">
                        <span class="icon-span">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19.232" height="27" viewBox="0 0 19.232 27">
                            <g id="location-outline" transform="translate(-7 -2.5)">
                              <path id="Path_7" data-name="Path 7"
                                d="M16.616,3.375a8.539,8.539,0,0,0-8.741,8.316c0,5.281,5.827,13.65,7.967,16.54a.957.957,0,0,0,1.548,0c2.139-2.889,7.967-11.255,7.967-16.54A8.54,8.54,0,0,0,16.616,3.375Z"
                                transform="translate(0 0)" fill="none" stroke="#707070" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.75" />
                              <path id="Path_8" data-name="Path 8"
                                d="M21.375,13.5A3.375,3.375,0,1,1,18,10.125,3.375,3.375,0,0,1,21.375,13.5Z"
                                transform="translate(-1.384 -1.2)" fill="none" stroke="#707070" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.75" />
                            </g>
                          </svg>
                        </span>
                        <span class="fw-medium fs-7">{{job.job_location}}</span>
                      </div>



                    </li>
                    <li class="d-flex mt-2">
                      <div class="icon-with-text">
                        <span class="icon-span">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                            <g id="time-outline" transform="translate(-3.625 -3.625)">
                              <path id="Path_9" data-name="Path 9"
                                d="M15,4.5A10.5,10.5,0,1,0,25.5,15,10.5,10.5,0,0,0,15,4.5Z" fill="none" stroke="#707070"
                                stroke-miterlimit="10" stroke-width="1.75" />
                              <path id="Path_10" data-name="Path 10" d="M18,9v7.875h5.25" transform="translate(-3 -1)"
                                fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="1.75" />
                            </g>
                          </svg>
                        </span>
                        <span class="fw-medium fs-7">{{job.job_start_time}}</span>
                      </div>
                      <div class="px-3"> - </div>
                      <div class="icon-with-text">
                        <span class="icon-span">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                            <g id="time-outline" transform="translate(-3.625 -3.625)">
                              <path id="Path_9" data-name="Path 9"
                                d="M15,4.5A10.5,10.5,0,1,0,25.5,15,10.5,10.5,0,0,0,15,4.5Z" fill="none" stroke="#707070"
                                stroke-miterlimit="10" stroke-width="1.75" />
                              <path id="Path_10" data-name="Path 10" d="M18,9v7.875h5.25" transform="translate(-3 -1)"
                                fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="1.75" />
                            </g>
                          </svg>
                        </span>
                        <span class="fw-medium fs-7">{{job.job_end_time}}</span>
                      </div>

                    </li>
                  </ul>
                </div>
                <div class="col-auto">
                  <div class="icon-with-text mt-1" *ngIf="job.job_applied==true && job.job_accepted==false && job.job_offer_expired==false && job.job_offered==false">
                    <span class="icon-span">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18.462" height="18.462" viewBox="0 0 18.462 18.462">
                        <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                          <path id="Path_38" data-name="Path 38"
                            d="M21.212,12.856a8.356,8.356,0,1,0-8.356,8.356A8.358,8.358,0,0,0,21.212,12.856Z"
                            transform="translate(0 0)" fill="none" stroke="#36a420" stroke-miterlimit="10"
                            stroke-width="1.75" />
                          <path id="Path_39" data-name="Path 39" d="M19.606,12.375l-5.849,6.963L11.25,16.553"
                            transform="translate(-2.572 -3.001)" fill="none" stroke="#36a420" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.75" />
                        </g>
                      </svg>
                    </span>
                    <span class="fw-medium fs-7 text-success">Applied</span> 
                  </div>

                  <div class="icon-with-text mt-1" *ngIf="job.job_offer_expired==false && job.job_rejected== true">
                    <span class="icon-span">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                        <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                          <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                            transform="translate(0 0)" fill="none" stroke="#e41616" stroke-miterlimit="10"
                            stroke-width="1.75" />
                          <path id="Path_12" data-name="Path 12" d="M21.837,12.375,13.4,23" transform="translate(-2.588 -2.5)"
                            fill="none" stroke="#e41616" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
                          <path id="Path_73" data-name="Path 73" d="M13.4,12.375,21.837,23" transform="translate(-2.588 -2.5)"
                            fill="none" stroke="#e41616" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
                        </g>
                      </svg>
                    </span>
                    <span class="fw-medium fs-7 text-danger">Declined</span> 
                  </div>

                  <div class="icon-with-text mt-1" *ngIf="job.job_offered==true && job.job_rejected==false && job.job_offer_expired==false && job.job_accepted==false">
                    <span class="icon-span">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18.462" height="18.462" viewBox="0 0 18.462 18.462">
                        <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                          <path id="Path_38" data-name="Path 38"
                            d="M21.212,12.856a8.356,8.356,0,1,0-8.356,8.356A8.358,8.358,0,0,0,21.212,12.856Z"
                            transform="translate(0 0)" fill="none" stroke="#36a420" stroke-miterlimit="10"
                            stroke-width="1.75" />
                          <path id="Path_39" data-name="Path 39" d="M19.606,12.375l-5.849,6.963L11.25,16.553"
                            transform="translate(-2.572 -3.001)" fill="none" stroke="#36a420" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.75" />
                        </g>
                      </svg>
                    </span>
                    <span class="fw-medium fs-7 text-success">Offered</span> 
                  </div>

                  <div class="icon-with-text mt-1" *ngIf="job.job_accepted==true && job.job_offer_expired==false && job.job_offer_expired== false && job.job_rejected==false">
                    <span class="icon-span">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18.462" height="18.462" viewBox="0 0 18.462 18.462">
                        <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                          <path id="Path_38" data-name="Path 38"
                            d="M21.212,12.856a8.356,8.356,0,1,0-8.356,8.356A8.358,8.358,0,0,0,21.212,12.856Z"
                            transform="translate(0 0)" fill="none" stroke="#36a420" stroke-miterlimit="10"
                            stroke-width="1.75" />
                          <path id="Path_39" data-name="Path 39" d="M19.606,12.375l-5.849,6.963L11.25,16.553"
                            transform="translate(-2.572 -3.001)" fill="none" stroke="#36a420" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.75" />
                        </g>
                      </svg>
                    </span>
                    <span class="fw-medium fs-7 text-success">Accepted</span> 
                  </div>

                  <div class="icon-with-text mt-1" *ngIf="job.job_offer_expired==true">
                    <span class="icon-span">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                        <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                          <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                            transform="translate(0 0)" fill="none" stroke="#e41616" stroke-miterlimit="10"
                            stroke-width="1.75" />
                          <path id="Path_12" data-name="Path 12" d="M21.837,12.375,13.4,23" transform="translate(-2.588 -2.5)"
                            fill="none" stroke="#e41616" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
                          <path id="Path_73" data-name="Path 73" d="M13.4,12.375,21.837,23" transform="translate(-2.588 -2.5)"
                            fill="none" stroke="#e41616" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
                        </g>
                      </svg>
                    </span>
                    <span class="fw-medium fs-7 text-danger">Expired</span> 
                  </div>

                </div>
              </div>
              
              <p class="mt-3 fs-7">{{job.job_desc}}</p>
            </div>

            <div class="calendar-job-item" *ngIf="!(jobs?.length > 0) && !loader">
              
              No jobs available
                  
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="content-box h-100">
          <div class="p-3 p-lg-4 mt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto">
                <!-- <button class="btn btn-primary btn-sm">Month</button>
                <button class="btn btn-outline-default btn-sm mx-1 mx-md-2">Week</button>
                <button class="btn btn-outline-default btn-sm">Day</button> -->
              </div>
              <div class="col-auto">
                <button class="btn btn-outline-default btn-sm py-0 px-2" (click)="getMonthCalendar(prev_link)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="7.078" height="12.381" viewBox="0 0 7.078 12.381">
                    <path id="ios-arrow-back"
                      d="M13.384,12.382,18.069,7.7a.885.885,0,0,0-1.253-1.25l-5.307,5.3a.883.883,0,0,0-.026,1.22l5.329,5.34a.885.885,0,1,0,1.253-1.25Z"
                      transform="translate(-11.25 -6.193)" fill="#aeaeae" />
                  </svg>
                </button>
                <span class="fw-bolder px-1 px-md-3">{{this_month_name}}, {{this_year}}</span>
                <button class="btn btn-outline-default btn-sm py-0 px-2" (click)="getMonthCalendar(next_link)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="7.078" height="12.381" viewBox="0 0 7.078 12.381">
                    <path id="ios-arrow-back"
                      d="M16.195,12.382,11.51,7.7a.885.885,0,1,1,1.253-1.25l5.307,5.3a.883.883,0,0,1,.026,1.22l-5.329,5.34a.885.885,0,1,1-1.253-1.25Z"
                      transform="translate(-11.25 -6.193)" fill="#aeaeae" />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div class="calendar-table table-responsive">
            <!-- <div class="text-center" *ngIf="loader">
              <img src="../../assets/images/text-loading.svg" alt="" />
            </div> -->
            <table class="table table-bordered mb-0">
              <thead class="text-center">
                <tr>
                  <th class="text-muted fw-medium" style="width: 14.285%;">Mon</th>
                  <th class="text-muted fw-medium" style="width: 14.285%;">Tue</th>
                  <th class="text-muted fw-medium" style="width: 14.285%;">Wed</th>
                  <th class="text-muted fw-medium" style="width: 14.285%;">Thu</th>
                  <th class="text-muted fw-medium" style="width: 14.285%;">Fri</th>
                  <th class="text-muted fw-medium" style="width: 14.285%;">Sat</th>
                  <th class="text-muted fw-medium" style="width: 14.285%;">Sun</th>
                </tr>
              </thead>
              
              <tbody class="fw-medium" >               
                <tr *ngIf="calendarList!=null">                  
                  <td class="" [ngClass]="{'bg-orange text-white': calendar.date_is_today==true, 'bg-chartreuse':calendar.date_highlight=='green', 'bg-warning':calendar.date_highlight=='amber'}" *ngFor="let calendar of calendarList.week1">
                    <!-- , 'opacity-25': checkCurrentMonth(calendar.date)!=currentMonth -->
                    <button class="border-0 bg-transparent w-100 h-100" (click)="getJobList(calendar.date)">
                      {{calendar.date_int}}
                      <div class="d-md-flex justify-content-center text-center mt-md-2 job-on-date">
                        <svg xmlns="http://www.w3.org/2000/svg" width="31.523" height="30.4" viewBox="0 0 31.523 30.4" *ngIf="calendar.jobs_applied==true">
                          <path id="thumbs-up"
                            d="M29.25,12.375H22.5V6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0H16.234a1.7,1.7,0,0,0-1.609,1.316V3.7L13.5,10.834,9.518,16.875H2.25v15.75H23.625c8.37,0,10.125-4.894,10.125-9v-6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0ZM9,30.375H4.5V19.125H9Zm22.5-6.75c0,4.6-2.5,6.75-7.875,6.75H11.25V18.338l4.5-6.671.821-6.041L16.729,4.5H18c1.62,0,2.25.63,2.25,2.25v7.875h9c1.62,0,2.25.63,2.25,2.25Z"
                            transform="translate(-2.25 -2.225)" fill="#34383b" />
                        </svg>
                        <h6 class="m-0 ms-md-2 pt-1 fw-medium" *ngIf="calendar.date_earn_amount!=null">
                          {{calendar.date_earn_amount}}</h6>
                      </div>
                      <span *ngIf="calendar.jobs_available==true">Available</span>
                    </button>
                  </td>                   
                </tr>
                <tr *ngIf="calendarList!=null">
                  <td class="" [ngClass]="{'bg-orange text-white': calendar.date_is_today==true, 'bg-chartreuse':calendar.date_highlight=='green', 'bg-warning':calendar.date_highlight=='amber' }" *ngFor="let calendar of calendarList.week2">
                    <!-- , 'opacity-25': checkCurrentMonth(calendar.date)!=currentMonth -->
                    <button class="border-0 bg-transparent w-100 h-100" (click)="getJobList(calendar.date)">{{calendar.date_int}}
                      <div class="d-md-flex justify-content-center text-center mt-md-2 job-on-date">
                        <svg xmlns="http://www.w3.org/2000/svg" width="31.523" height="30.4" viewBox="0 0 31.523 30.4" *ngIf="calendar.jobs_applied==true">
                          <path id="thumbs-up"
                            d="M29.25,12.375H22.5V6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0H16.234a1.7,1.7,0,0,0-1.609,1.316V3.7L13.5,10.834,9.518,16.875H2.25v15.75H23.625c8.37,0,10.125-4.894,10.125-9v-6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0ZM9,30.375H4.5V19.125H9Zm22.5-6.75c0,4.6-2.5,6.75-7.875,6.75H11.25V18.338l4.5-6.671.821-6.041L16.729,4.5H18c1.62,0,2.25.63,2.25,2.25v7.875h9c1.62,0,2.25.63,2.25,2.25Z"
                            transform="translate(-2.25 -2.225)" fill="#34383b" />
                        </svg>
                        <h6 class="m-0 ms-md-2 pt-1 fw-medium" *ngIf="calendar.date_earn_amount!=null">{{calendar.date_earn_amount}}</h6>
                      </div>
                      <span *ngIf="calendar.jobs_available==true">Available</span>
                    </button>
                  </td> 
                </tr>
                <tr *ngIf="calendarList!=null">
                  <td class="" [ngClass]="{'bg-orange text-white': calendar.date_is_today==true, 'bg-chartreuse':calendar.date_highlight=='green', 'bg-warning':calendar.date_highlight=='amber' }" *ngFor="let calendar of calendarList.week3">
                    <!-- , 'opacity-25': checkCurrentMonth(calendar.date)!=currentMonth -->
                    <button class="border-0 bg-transparent w-100 h-100" (click)="getJobList(calendar.date)">{{calendar.date_int}}
                      <div class="d-md-flex justify-content-center text-center mt-md-2 job-on-date">
                        <svg xmlns="http://www.w3.org/2000/svg" width="31.523" height="30.4" viewBox="0 0 31.523 30.4" *ngIf="calendar.jobs_applied==true">
                          <path id="thumbs-up"
                            d="M29.25,12.375H22.5V6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0H16.234a1.7,1.7,0,0,0-1.609,1.316V3.7L13.5,10.834,9.518,16.875H2.25v15.75H23.625c8.37,0,10.125-4.894,10.125-9v-6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0ZM9,30.375H4.5V19.125H9Zm22.5-6.75c0,4.6-2.5,6.75-7.875,6.75H11.25V18.338l4.5-6.671.821-6.041L16.729,4.5H18c1.62,0,2.25.63,2.25,2.25v7.875h9c1.62,0,2.25.63,2.25,2.25Z"
                            transform="translate(-2.25 -2.225)" fill="#34383b" />
                        </svg>
                        <h6 class="m-0 ms-md-2 pt-1 fw-medium" *ngIf="calendar.date_earn_amount!=null">
                          {{calendar.date_earn_amount}}</h6>
                      </div>
                      <span *ngIf="calendar.jobs_available==true">Available</span>
                    </button>
                  </td>                   
                </tr>
                <tr *ngIf="calendarList!=null">
                  <td class="" [ngClass]="{'bg-orange text-white': calendar.date_is_today==true, 'bg-chartreuse':calendar.date_highlight=='green', 'bg-warning':calendar.date_highlight=='amber' }" *ngFor="let calendar of calendarList.week4">
                    <!-- , 'opacity-25': checkCurrentMonth(calendar.date)!=currentMonth -->
                    <button class="border-0 bg-transparent w-100 h-100" (click)="getJobList(calendar.date)">{{calendar.date_int}}
                      <div class="d-md-flex justify-content-center text-center mt-md-2 job-on-date">
                        <svg xmlns="http://www.w3.org/2000/svg" width="31.523" height="30.4" viewBox="0 0 31.523 30.4" *ngIf="calendar.jobs_applied==true">
                          <path id="thumbs-up"
                            d="M29.25,12.375H22.5V6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0H16.234a1.7,1.7,0,0,0-1.609,1.316V3.7L13.5,10.834,9.518,16.875H2.25v15.75H23.625c8.37,0,10.125-4.894,10.125-9v-6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0ZM9,30.375H4.5V19.125H9Zm22.5-6.75c0,4.6-2.5,6.75-7.875,6.75H11.25V18.338l4.5-6.671.821-6.041L16.729,4.5H18c1.62,0,2.25.63,2.25,2.25v7.875h9c1.62,0,2.25.63,2.25,2.25Z"
                            transform="translate(-2.25 -2.225)" fill="#34383b" />
                        </svg>
                        <h6 class="m-0 ms-md-2 pt-1 fw-medium" *ngIf="calendar.date_earn_amount!=null">
                          {{calendar.date_earn_amount}}</h6>
                      </div>
                      <span *ngIf="calendar.jobs_available==true">Available</span>
                    </button>
                  </td> 
                </tr>
                <tr *ngIf="calendarList!=null">
                  <td class="" [ngClass]="{'bg-orange text-white': calendar.date_is_today==true, 'bg-chartreuse':calendar.date_highlight=='green', 'bg-warning':calendar.date_highlight=='amber' }" *ngFor="let calendar of calendarList.week5">
                    <!-- , 'opacity-25': checkCurrentMonth(calendar.date)!=currentMonth -->
                    <button class="border-0 bg-transparent w-100 h-100" (click)="getJobList(calendar.date)">{{calendar.date_int}}
                      <div class="d-md-flex justify-content-center text-center mt-md-2 job-on-date">
                        <svg xmlns="http://www.w3.org/2000/svg" width="31.523" height="30.4" viewBox="0 0 31.523 30.4" *ngIf="calendar.jobs_applied==true">
                          <path id="thumbs-up"
                            d="M29.25,12.375H22.5V6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0H16.234a1.7,1.7,0,0,0-1.609,1.316V3.7L13.5,10.834,9.518,16.875H2.25v15.75H23.625c8.37,0,10.125-4.894,10.125-9v-6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0ZM9,30.375H4.5V19.125H9Zm22.5-6.75c0,4.6-2.5,6.75-7.875,6.75H11.25V18.338l4.5-6.671.821-6.041L16.729,4.5H18c1.62,0,2.25.63,2.25,2.25v7.875h9c1.62,0,2.25.63,2.25,2.25Z"
                            transform="translate(-2.25 -2.225)" fill="#34383b" />
                        </svg>
                        <h6 class="m-0 ms-md-2 pt-1 fw-medium" *ngIf="calendar.date_earn_amount!=null">
                          {{calendar.date_earn_amount}}</h6>
                      </div>
                      <span *ngIf="calendar.jobs_available==true">Available</span>
                    </button>
                  </td>                   
                </tr>
                <tr *ngIf="calendarList!=null">
                  <td class="" [ngClass]="{'bg-orange text-white': calendar.date_is_today==true, 'bg-chartreuse':calendar.date_highlight=='green', 'bg-warning':calendar.date_highlight=='amber' }" *ngFor="let calendar of calendarList.week6">
                    <!-- , 'opacity-25': checkCurrentMonth(calendar.date)!=currentMonth -->
                    <button class="border-0 bg-transparent w-100 h-100" (click)="getJobList(calendar.date)">{{calendar.date_int}}
                      <div class="d-md-flex justify-content-center text-center mt-md-2 job-on-date">
                        <svg xmlns="http://www.w3.org/2000/svg" width="31.523" height="30.4" viewBox="0 0 31.523 30.4" *ngIf="calendar.jobs_applied==true">
                          <path id="thumbs-up"
                            d="M29.25,12.375H22.5V6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0H16.234a1.7,1.7,0,0,0-1.609,1.316V3.7L13.5,10.834,9.518,16.875H2.25v15.75H23.625c8.37,0,10.125-4.894,10.125-9v-6.75a4.1,4.1,0,0,0-3.645-4.5,3.623,3.623,0,0,0-.855,0ZM9,30.375H4.5V19.125H9Zm22.5-6.75c0,4.6-2.5,6.75-7.875,6.75H11.25V18.338l4.5-6.671.821-6.041L16.729,4.5H18c1.62,0,2.25.63,2.25,2.25v7.875h9c1.62,0,2.25.63,2.25,2.25Z"
                            transform="translate(-2.25 -2.225)" fill="#34383b" />
                        </svg>
                        <h6 class="m-0 ms-md-2 pt-1 fw-medium" *ngIf="calendar.date_earn_amount!=null">
                          {{calendar.date_earn_amount}}</h6>
                      </div>
                      <span *ngIf="calendar.jobs_available==true">Available</span>
                    </button>
                  </td>                  
                </tr>                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<ng-template #mymodal let-modal >
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="11.414" height="11.414" viewBox="0 0 11.414 11.414">
        <g id="Group_21" data-name="Group 21" transform="translate(-1497.793 -105.793)">
          <line id="Line_62" data-name="Line 62" x2="10" y2="10" transform="translate(1498.5 106.5)" fill="none"
            stroke="#fff" stroke-width="2" />
          <line id="Line_63" data-name="Line 63" x1="10" y2="10" transform="translate(1498.5 106.5)" fill="none"
            stroke="#fff" stroke-width="2" />
        </g>
      </svg>
    </span>
  </button>
  <div class="modal-body">    
    <div class="job-post-item p-0 border-0 shadow-none">
      <h3 class="post-heading text-dark fw-bolder">{{jobDetails.job_type}}</h3>
      <div class="row">              
        <div class="col">
          
          <div class="mb-3 icon-with-text">
            <span class="icon-span">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22.857" viewBox="0 0 20 22.857">
                <path id="calendar-regular"
                  d="M17.857,2.857H15.714V.536A.537.537,0,0,0,15.179,0H13.393a.537.537,0,0,0-.536.536V2.857H7.143V.536A.537.537,0,0,0,6.607,0H4.821a.537.537,0,0,0-.536.536V2.857H2.143A2.143,2.143,0,0,0,0,5V20.714a2.143,2.143,0,0,0,2.143,2.143H17.857A2.143,2.143,0,0,0,20,20.714V5A2.143,2.143,0,0,0,17.857,2.857ZM17.8,20.982H2.231a.269.269,0,0,1-.268-.268L1.942,6.533h16.1l.021,14.182A.269.269,0,0,1,17.8,20.982Z"
                  fill="#707070" />
              </svg>
            </span>
            <span class="fw-medium">{{jobDetails.job_date}}</span>            
          </div>
          <!-- <div class="mb-3 icon-with-text">
            <span class="icon-span">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22.857" viewBox="0 0 20 22.857">
                <path id="calendar-regular"
                  d="M17.857,2.857H15.714V.536A.537.537,0,0,0,15.179,0H13.393a.537.537,0,0,0-.536.536V2.857H7.143V.536A.537.537,0,0,0,6.607,0H4.821a.537.537,0,0,0-.536.536V2.857H2.143A2.143,2.143,0,0,0,0,5V20.714a2.143,2.143,0,0,0,2.143,2.143H17.857A2.143,2.143,0,0,0,20,20.714V5A2.143,2.143,0,0,0,17.857,2.857ZM17.8,20.982H2.231a.269.269,0,0,1-.268-.268L1.942,6.533h16.1l.021,14.182A.269.269,0,0,1,17.8,20.982Z"
                  fill="#707070" />
              </svg>
            </span>
            <span class="fw-medium">Job Start : {{jobDetails.job_start}}</span>
            <span class="fw-medium"> Job End : {{jobDetails.job_end}}</span>
          </div> -->
          <ul class="icon-with-text-wrap d-md-flex mb-3 list-unstyled">
            <li class="">
              <div class="icon-with-text">
                <span class="icon-span">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19.232" height="27" viewBox="0 0 19.232 27">
                    <g id="location-outline" transform="translate(-7 -2.5)">
                      <path id="Path_7" data-name="Path 7"
                        d="M16.616,3.375a8.539,8.539,0,0,0-8.741,8.316c0,5.281,5.827,13.65,7.967,16.54a.957.957,0,0,0,1.548,0c2.139-2.889,7.967-11.255,7.967-16.54A8.54,8.54,0,0,0,16.616,3.375Z"
                        transform="translate(0 0)" fill="none" stroke="#707070" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.75" />
                      <path id="Path_8" data-name="Path 8"
                        d="M21.375,13.5A3.375,3.375,0,1,1,18,10.125,3.375,3.375,0,0,1,21.375,13.5Z"
                        transform="translate(-1.384 -1.2)" fill="none" stroke="#707070" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.75" />
                    </g>
                  </svg>
                </span>
                <span class="fw-medium">{{jobDetails.job_location}}</span>
              </div>



            </li>
            <li class="d-flex">
              <div class="icon-with-text">
                <span class="icon-span">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                    <g id="time-outline" transform="translate(-3.625 -3.625)">
                      <path id="Path_9" data-name="Path 9" d="M15,4.5A10.5,10.5,0,1,0,25.5,15,10.5,10.5,0,0,0,15,4.5Z"
                        fill="none" stroke="#707070" stroke-miterlimit="10" stroke-width="1.75" />
                      <path id="Path_10" data-name="Path 10" d="M18,9v7.875h5.25" transform="translate(-3 -1)"
                        fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.75" />
                    </g>
                  </svg>
                </span>
                <span class="fw-medium">{{jobDetails.job_start_time}}</span>
              </div>
              <div class="px-3"> - </div>
              <div class="icon-with-text">
                <span class="icon-span">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                    <g id="time-outline" transform="translate(-3.625 -3.625)">
                      <path id="Path_9" data-name="Path 9" d="M15,4.5A10.5,10.5,0,1,0,25.5,15,10.5,10.5,0,0,0,15,4.5Z"
                        fill="none" stroke="#707070" stroke-miterlimit="10" stroke-width="1.75" />
                      <path id="Path_10" data-name="Path 10" d="M18,9v7.875h5.25" transform="translate(-3 -1)"
                        fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.75" />
                    </g>
                  </svg>
                </span>
                <span class="fw-medium">{{jobDetails.job_end_time}}</span>
              </div>

            </li>
          </ul>

          <ul class="icon-with-text-wrap d-md-flex mb-3 list-unstyled">
            <li class="">
              <div class="icon-with-text">
                <span class="icon-span">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21.8" viewBox="0 0 21 21.8">
                    <path id="Meal-2"
                      d="M10.5,1C4.709,1,0,6.641,0,13.577a14.473,14.473,0,0,0,1.236,5.869H1.217c.172.388.376.776.582,1.14.033.058.057.123.09.18l.011-.01c.073.122.146.26.219.367L4.432,21.1a11.965,11.965,0,0,1-1.009-1.467,12.358,12.358,0,0,1-1.564-6.079c0-6.03,3.7-10.548,8.729-10.548S19.1,7.555,19.1,13.585a12.357,12.357,0,0,1-1.564,6.079,11.972,11.972,0,0,1-1.009,1.467l2.355-.008c.072-.107.146-.244.219-.367l.011.01c.033-.057.058-.122.09-.18.207-.364.41-.752.583-1.14h-.019A14.474,14.474,0,0,0,21,13.577C21,6.641,16.291,1,10.5,1ZM7.7,7.708A3.182,3.182,0,0,0,5.132,9.666,8.086,8.086,0,0,0,4.2,13.439a4.867,4.867,0,0,0,1.034,3.216A3.172,3.172,0,0,0,7,17.694V22.8H8.4V17.694a3.17,3.17,0,0,0,1.766-1.038A4.869,4.869,0,0,0,11.2,13.439a8.089,8.089,0,0,0-.932-3.773A3.182,3.182,0,0,0,7.7,7.708Zm4.9,0v6.708H14V7.708Zm2.8,0v7.546a.768.768,0,0,1-.7.838H12.146a5.809,5.809,0,0,1-.839,1.562,1.769,1.769,0,0,0,.593.115h.7V22.8H14V17.769h.7a2.348,2.348,0,0,0,2.1-2.515V7.708ZM7.7,9.385c.449,0,.968.41,1.395,1.2A6.376,6.376,0,0,1,9.8,13.439a2.926,2.926,0,0,1-.6,2.008,1.91,1.91,0,0,1-1.5.645,1.911,1.911,0,0,1-1.5-.645,2.924,2.924,0,0,1-.6-2.008,6.373,6.373,0,0,1,.705-2.859C6.732,9.795,7.251,9.385,7.7,9.385Z"
                      transform="translate(0 -1)" fill="#707070" />
                  </svg>


                </span>
                <span class="fw-medium">{{jobDetails.job_break_time}}</span>
              </div>



            </li>
            <li class="d-flex">
              <div class="icon-with-text">
                <span class="icon-span">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24.868" height="26.389" viewBox="0 0 24.868 26.389">
                    <g id="age" transform="translate(0.017 0)">
                      <path id="Path_84" data-name="Path 84"
                        d="M22.688,15.767a1.1,1.1,0,0,1,.158-.4h0a1.084,1.084,0,0,1,.3-.3,1.127,1.127,0,0,1,.391-.169,1.068,1.068,0,0,1,.427,0,1.1,1.1,0,0,1,.4.158h0a1.084,1.084,0,0,1,.3.3,1.127,1.127,0,0,1,.169.391,1.069,1.069,0,0,1,0,.427h0c-.032.172-.068.345-.108.514s-.083.345-.133.514-.1.345-.151.506-.108.32-.176.5-.129.341-.19.488-.133.309-.215.485q-.108.237-.237.474c-.083.154-.165.309-.255.463l0,.007a12.566,12.566,0,0,1-1.429,2,12.491,12.491,0,0,1-3.868,2.97,12.541,12.541,0,0,1-7.165,1.2,12.492,12.492,0,0,1-2.374-.55,12.9,12.9,0,0,1-2.234-1l-.083-.047a12.526,12.526,0,0,1-5.8-7.582,12.518,12.518,0,0,1-.327-4.859,12.52,12.52,0,0,1,.55-2.37,12.744,12.744,0,0,1,1-2.23l.022-.04A.678.678,0,0,1,1.7,7.546,12.785,12.785,0,0,1,3.114,5.578,12.508,12.508,0,0,1,18.769,3.017l.011.007a1.09,1.09,0,0,1,.532,1.081,1.109,1.109,0,0,1-.136.406,1.007,1.007,0,0,1-.28.32,1.071,1.071,0,0,1-.384.19,1.095,1.095,0,0,1-.83-.108h0a10.306,10.306,0,0,0-5.847-1.361,10.563,10.563,0,0,0-2,.33A10.382,10.382,0,0,0,6.206,5.668,10.093,10.093,0,0,0,4.734,7.05,10.529,10.529,0,0,0,3.556,8.7l-.032.057a10.224,10.224,0,0,0-.8,1.792,10.238,10.238,0,0,0-.524,3.994,10.563,10.563,0,0,0,.33,2A10.382,10.382,0,0,0,4.31,20.17a10.35,10.35,0,0,0,6.845,3.951,10.369,10.369,0,0,0,2.029.065,10.4,10.4,0,0,0,3.908-1.045,10.352,10.352,0,0,0,1.724-1.07,10.067,10.067,0,0,0,1.473-1.379,10.479,10.479,0,0,0,1.182-1.652c.072-.122.14-.248.2-.374.057-.108.122-.244.2-.4h0c.054-.111.111-.248.176-.4s.111-.273.158-.4h0c.047-.129.093-.262.14-.4s.086-.28.126-.42h0c.043-.154.079-.3.108-.424.043-.158.075-.3.1-.449ZM20.17,14.011H17.308a.913.913,0,0,0,.187.514.674.674,0,0,0,.539.241.826.826,0,0,0,.4-.1.861.861,0,0,0,.248-.233l1.408.129a2.006,2.006,0,0,1-.779.8A2.847,2.847,0,0,1,18,15.605,2.7,2.7,0,0,1,16.83,15.4a1.706,1.706,0,0,1-.7-.664,1.989,1.989,0,0,1-.28-1.07,1.883,1.883,0,0,1,.56-1.415,2.139,2.139,0,0,1,1.548-.542,2.756,2.756,0,0,1,1.264.244,1.636,1.636,0,0,1,.7.7,2.556,2.556,0,0,1,.241,1.2v.165Zm-1.455-.686a.966.966,0,0,0-.223-.593.7.7,0,0,0-1.02.09,1.009,1.009,0,0,0-.165.5ZM14,11.791h1.34v3.52l0,.165a1.539,1.539,0,0,1-.151.668,1.4,1.4,0,0,1-.4.514,1.562,1.562,0,0,1-.629.284,3.977,3.977,0,0,1-.873.09,2.564,2.564,0,0,1-1.544-.338,1.093,1.093,0,0,1-.42-.9c0-.047,0-.111.007-.19l1.386.158a.446.446,0,0,0,.162.266.683.683,0,0,0,.4.108.59.59,0,0,0,.46-.165.855.855,0,0,0,.151-.575V14.83a1.385,1.385,0,0,1-1.131.539,1.412,1.412,0,0,1-1.207-.654,2.1,2.1,0,0,1-.327-1.225,1.9,1.9,0,0,1,.42-1.329,1.423,1.423,0,0,1,1.1-.456,1.568,1.568,0,0,1,.718.147,1.586,1.586,0,0,1,.528.488v-.55ZM12.657,13.6a.892.892,0,0,0,.172.6.609.609,0,0,0,.9-.007.876.876,0,0,0,.18-.607.912.912,0,0,0-.19-.621.592.592,0,0,0-.463-.215.527.527,0,0,0-.435.2,1.031,1.031,0,0,0-.162.654Zm-3.408,1.07H7.438l-.248.848H5.567L7.5,10.369H9.234l1.936,5.147H9.507l-.259-.848Zm-.334-1.11-.567-1.85-.564,1.85Zm8.749-5.01a1.09,1.09,0,0,1-.424.05,1.078,1.078,0,0,1-.409-.119h0a1.082,1.082,0,0,1-.334-.266,1.135,1.135,0,0,1-.208-.37,1.09,1.09,0,0,1-.05-.424,1.077,1.077,0,0,1,.119-.413,1.029,1.029,0,0,1,.266-.33,1.135,1.135,0,0,1,.37-.208L21.1,5.154,19.251,1.6a1.069,1.069,0,0,1-.119-.409,1.125,1.125,0,0,1,.047-.424,1.045,1.045,0,0,1,.2-.377A1.085,1.085,0,0,1,20.127,0a1.125,1.125,0,0,1,.424.047,1.1,1.1,0,0,1,.377.2,1.062,1.062,0,0,1,.266.334l2.449,4.7a.529.529,0,0,0,.036.079l.018.05.014.047a1.112,1.112,0,0,1,.047.417,1.077,1.077,0,0,1-.119.413,1.029,1.029,0,0,1-.266.33,1.135,1.135,0,0,1-.37.208L17.663,8.548Z"
                        transform="translate(0 0)" fill="#707070" fill-rule="evenodd" />
                    </g>
                  </svg>

                </span>
                <span class="fw-medium">{{jobDetails.job_min_age}} years</span>
              </div>
              

            </li>
          </ul>
          <div class="badges-wrap mb-4">
            <div class="badge badge-danger" *ngIf="jobDetails.job_req_dl==true">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.047" height="19.312" viewBox="0 0 17.047 19.312">
                <g id="asterisk" transform="translate(-2.111)">
                  <path id="Path_83" data-name="Path 83"
                    d="M10.634,0a1.207,1.207,0,0,1,1.207,1.207V7.565l5.506-3.179a1.207,1.207,0,1,1,1.207,2.09L13.048,9.656l5.506,3.179a1.207,1.207,0,1,1-1.207,2.09l-5.506-3.179V18.1a1.207,1.207,0,0,1-2.414,0V11.746L3.921,14.925a1.207,1.207,0,1,1-1.207-2.09L8.22,9.656,2.714,6.476a1.207,1.207,0,1,1,1.207-2.09L9.427,7.565V1.207A1.207,1.207,0,0,1,10.634,0Z"
                    transform="translate(0 0)" fill="#e41616" fill-rule="evenodd" />
                </g>
              </svg>
              Driving license required
            </div>

            <div class="badge badge-warning" *ngIf="jobDetails.job_staffed==true">
              <svg xmlns="http://www.w3.org/2000/svg" width="26.714" height="20.335" viewBox="0 0 26.714 20.335">
                <g id="bx-user-check" transform="translate(-6 -7)">
                  <path id="Path_85" data-name="Path 85"
                    d="M9,11.9a2.775,2.775,0,0,0,2.9,2.9,2.775,2.775,0,0,0,2.9-2.9A2.775,2.775,0,0,0,11.9,9,2.775,2.775,0,0,0,9,11.9Z"
                    transform="translate(-0.099 -0.066)" fill="none" />
                  <path id="Path_86" data-name="Path 86"
                    d="M28.463,12.453,21.971,18.6,19.8,16.336,18.3,17.8l3.668,3.666,7.743-7.73ZM5.711,11.423a5.3,5.3,0,0,0,5.423,5.423,5.3,5.3,0,0,0,5.423-5.423A5.3,5.3,0,0,0,11.134,6,5.3,5.3,0,0,0,5.711,11.423Zm9.1,0A3.357,3.357,0,0,1,11.134,15.1a3.425,3.425,0,0,1-3.678-3.678,3.525,3.525,0,0,1,3.678-3.678A3.449,3.449,0,0,1,14.812,11.423ZM4.744,24.979a5.288,5.288,0,0,1,5.034-5.034h2.711a5.342,5.342,0,0,1,5.034,5.034v1.356h1.744V24.979A6.785,6.785,0,0,0,12.489,18.2H9.778A6.785,6.785,0,0,0,3,24.979v1.356H4.744Z"
                    transform="translate(3 1)" fill="#f34515" />

                </g>
              </svg>
              Already Staffed
            </div>

            <div *ngIf="jobDetails.job_offer_expired==true" class="badge badge-warning">
              <svg xmlns="http://www.w3.org/2000/svg" width="26.714" height="20.335" viewBox="0 0 26.714 20.335">
                <g id="asterisk" transform="translate(-2.111)">
                  <path id="Path_83" data-name="Path 83"
                    d="M10.634,0a1.207,1.207,0,0,1,1.207,1.207V7.565l5.506-3.179a1.207,1.207,0,1,1,1.207,2.09L13.048,9.656l5.506,3.179a1.207,1.207,0,1,1-1.207,2.09l-5.506-3.179V18.1a1.207,1.207,0,0,1-2.414,0V11.746L3.921,14.925a1.207,1.207,0,1,1-1.207-2.09L8.22,9.656,2.714,6.476a1.207,1.207,0,1,1,1.207-2.09L9.427,7.565V1.207A1.207,1.207,0,0,1,10.634,0Z"
                    transform="translate(0 0)" fill="#e41616" fill-rule="evenodd" />
                </g>
              </svg>
              Expired
            </div>
          </div>
          


          
          
          

          <p class="mb-4 fw-medium">{{jobDetails.job_desc}}</p>
          <div class="row">
            <div class="col-lg-5">
              <h6 class="text-dark fw-bolder mb-2">Requirements</h6>
              <ol class="list-group list-group-numbered">
                <li class="list-group-item border-0" *ngFor="let child of jobDetails.job_requirements">{{child}}</li>                
              </ol>
            </div>
            <div class="col-lg-1 text-center d-none d-lg-block"><span class="vl d-inline-block"></span></div>
            <div class="col-lg-6 mt-3 mt-lg-0">
              <h6 class="text-dark fw-bolder mb-2">Perks</h6>
              <ol class="list-group list-group-numbered">
                <li class="list-group-item border-0" *ngFor="let child of jobDetails.job_perks">{{child}}</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="earn text-center pe-0 pe-xl-3">
            <span>Earn</span>
            <h2 class="mb-2 text-dark">{{jobDetails.job_earn}}</h2>

            <div *ngIf="jobDetails.job_ot_paid == true" class="badge badge-success">
              <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                  <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                    transform="translate(0 0)" fill="none" stroke="#36a420" stroke-miterlimit="10"
                    stroke-width="1.75" />
                  <path id="Path_12" data-name="Path 12" d="M21.75,12.375,14.4,22.625l-3.15-4.1"
                    transform="translate(-1.5 -2.5)" fill="none" stroke="#36a420" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.75" />
                </g>
              </svg>

              Overtime Available
            </div>
            <br>
            
            <div  *ngIf="jobDetails.job_offered == true" class="badge badge-success item-Favourite mt-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                  <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                    transform="translate(0 0)" fill="none" stroke="#36a420" stroke-miterlimit="10"
                    stroke-width="1.75" />
                  <path id="Path_12" data-name="Path 12" d="M21.75,12.375,14.4,22.625l-3.15-4.1"
                    transform="translate(-1.5 -2.5)" fill="none" stroke="#36a420" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.75" />
                </g>
              </svg>
              Offered
            </div>
            <br>
            <button *ngIf="jobDetails.job_favourite == false" class="item-Favourite border-0 bg-transparent mt-4 mt-lg-5" (click)="favouriteJobAddDetails(jobDetails.job_id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.668" height="22" viewBox="0 0 23.668 22">
                <path id="heart"
                  d="M14.208,24.5a1.667,1.667,0,0,1-.938-.29,30.4,30.4,0,0,1-6.843-5.875,12.075,12.075,0,0,1-3.053-7.969A5.875,5.875,0,0,1,9.16,4.5a6.337,6.337,0,0,1,4.812,2.37.313.313,0,0,0,.472,0A6.334,6.334,0,0,1,19.256,4.5a5.875,5.875,0,0,1,5.785,5.867,12.079,12.079,0,0,1-3.053,7.969,30.421,30.421,0,0,1-6.843,5.875,1.667,1.667,0,0,1-.938.29Z"
                  transform="translate(-2.374 -3.5)" fill="#fff" stroke="#a7a7a7" stroke-width="2" />
              </svg>

              <span class="text-muted ms-2">Favourite</span>
              
            </button>
            <button *ngIf="jobDetails.job_favourite == true" class="item-Favourite border-0 bg-transparent mt-5 mt-lg-5" (click)="favouriteJobAddDetails(jobDetails.job_id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.668" height="22" viewBox="0 0 23.668 22">
                <path id="heart"
                  d="M14.208,24.5a1.667,1.667,0,0,1-.938-.29,30.4,30.4,0,0,1-6.843-5.875,12.075,12.075,0,0,1-3.053-7.969A5.875,5.875,0,0,1,9.16,4.5a6.337,6.337,0,0,1,4.812,2.37.313.313,0,0,0,.472,0A6.334,6.334,0,0,1,19.256,4.5a5.875,5.875,0,0,1,5.785,5.867,12.079,12.079,0,0,1-3.053,7.969,30.421,30.421,0,0,1-6.843,5.875,1.667,1.667,0,0,1-.938.29Z"
                  transform="translate(-2.374 -3.5)" fill="#36a420" stroke="#36a420" stroke-width="2" />
              </svg>

              <span class="text-success ms-2">Favourite</span>
            </button>

            <small class="d-block mt-3 text-muted fw-medium">Date Job Posted:<br>
              {{jobDetails.job_start | date: 'dd MMMM yyyy'}} ({{calculateDiff(jobDetails.job_start)}} days ago)</small>
          </div>
        </div>
      </div>
      <div class="apply-job-terms mb-2" *ngIf="jobDetails.job_terms!=undefined">
        <div class="apply-job-terms-inner" *ngFor="let terms of jobDetails.job_terms.split('\n')">
          {{terms}}
        </div>
      </div>
      <div *ngIf="jobDetails.job_applied==false">
        <div class="form-check custom-check mt-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="toggleShow()">
          <label class="form-check-label" for="flexCheckDefault">
            I agree with Terms and Conditions
          </label>       
        </div>
        
        <button class="btn btn-primary mt-3 w-25" [disabled]="!isAgree" (click)="applyJob(jobDetails.job_id)">Apply</button>
      </div>
      <!-- <div class="d-flex mt-3"> -->
        <div *ngIf="jobDetails.job_applied==true  && jobDetails.job_accepted==false && jobDetails.job_offer_expired==false && jobDetails.job_offered==false" class="badge badge-success px-3 mt-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
            <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
              <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                transform="translate(0 0)" fill="none" stroke="#36a420" stroke-miterlimit="10"
                stroke-width="1.75" />
              <path id="Path_12" data-name="Path 12" d="M21.75,12.375,14.4,22.625l-3.15-4.1"
                transform="translate(-1.5 -2.5)" fill="none" stroke="#36a420" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="1.75" />
            </g>
          </svg>
          Applied
        </div>  
        
        <span class="status-badge badge-red mt-2" *ngIf="jobDetails.job_offer_expired==true">Expired</span>
        <span class="status-badge badge-red mt-2" *ngIf="jobDetails.job_rejected== true">Declined</span>
        <button class="btn btn-warning px-5 mt-2" (click)="offerJobEdit(jobDetails.job_id, 'withdraw')" *ngIf="jobDetails.job_accepted==true && jobDetails.job_offer_expired==false && jobDetails.job_offer_expired== false && jobDetails.job_rejected==false">Withdraw</button>
        <button class="btn btn-primary px-5 ms-3 mt-2" (click)="offerJobEdit(jobDetails.job_id, 'accept')" *ngIf="jobDetails.job_offered==true && jobDetails.job_rejected==false && jobDetails.job_offer_expired==false && jobDetails.job_accepted==false">Accept</button>
        <button class="btn btn-outline-primary px-5 ms-3 mt-2" (click)="offerJobEdit(jobDetails.job_id, 'decline')" *ngIf="jobDetails.job_offered==true && jobDetails.job_rejected==false && jobDetails.job_offer_expired==false && jobDetails.job_accepted==false">Decline</button>
        <p class="mt-2" *ngIf="jobDetails.job_offered==true && jobDetails.job_offer_expired==false && jobDetails.job_rejected==false && jobDetails.job_accepted==false">If didn't reply on time and date, it will be automatically marked as declined</p>
      <!-- </div>  -->

      <div class="alert alert-success mb-0" *ngIf="message!==''">
        {{message}}
      </div>
      <div class="alert alert-danger mb-0" *ngIf="error_message!==''">
        {{error_message}}
      </div>
    </div>
  </div>
  <div class="alert alert-success mb-0" *ngIf="message_apply!==''">
    {{message_apply}}
  </div>
  <div class="alert alert-danger mb-0" *ngIf="error_message_apply!==''">
    {{error_message_apply}}
  </div>
</ng-template>