
@import '../../assets/scss/variables.scss';
.calendar-job-item-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 90px;
  overflow: auto;
  
  @media (max-width: 991px) {
    position: static;
    max-height: 300px;
  }
}
.job-on-date {
  svg {
    @media (max-width: 1399px) {
      width: 23px;
    }
    @media (max-width: 767px) {
      width: 14px;
    }
  }
  h3 {
    @media (max-width: 1399px) {
      font-size: 1.5rem !important;
    }
  }
  h6 {
    @media (max-width: 767px) {
      font-size: 0.85rem;
    }
  }
  
}
.calendar-job-item {
  .icon-with-text {
    padding-left: 25px;
    .icon-span {
      top: 0px;
      svg {
            width: 16px;
            height: 20px;
      }
    }
  }
  &+.calendar-job-item {
    border-top: 1px solid #D4D9E3;
    padding-top: 20px;
    margin-top: 20px;
  }
}

.calendar-table {
  th {
    // border-top: 1px solid #D4D9E3;
    // border-bottom: 1px solid #D4D9E3;
    padding: 1.5rem 1rem;
  }
  td {
    height: 7.5rem;
    padding: 0;
    @media (max-width: 1399px) {
      height: 7rem;
    }
    @media (max-width: 767px) {
      height: 5rem;
    }
    button {
      padding: 0.75rem 1rem;
      display: flex;
      justify-content: left;
      align-items: flex-start;
      flex-wrap: wrap;
      @media (max-width: 1399px) {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    }
  }
}

.status-badge {
  border-radius: 30px;
  padding: 5px 15px 6px 15px;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  border:1px solid;
  display: inline-block;
  margin-right: 0.25rem;
  &.sm {
    padding: 2px 10px 3px 10px;
    font-size: 0.75rem;
  }
  
}

.badge-red { border-color: $red-color; color: $red-color; }
.badge-green { border-color: $green-color; color: $green-color; }
/**/

.job-post-item {
  padding: 2em 2.25rem;
  border-radius: 6px;
  border: 1px solid #D4D9E3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

  @media (max-width: 991px) {
    padding: 1.25em 1.5rem;
  }

  .post-heading {
    margin-bottom: 0.75rem;
  }

  .list-group-item {
    padding: 0.15rem 0;
  }
}

.job-post-item+.job-post-item {
  margin-top: 35px;
}

.icon-with-text-wrap li {

  @media (min-width: 768px) {
    border-right: 1px solid #D4D4D4;
    padding: 0 25px 0 0;
    margin-right: 25px;
  }
}

.icon-with-text-wrap li:last-child {
  border: 0px;

  @media (max-width: 767px) {
    margin-top: 14px;
  }

  @media (max-width: 575px) {
    margin-top: 6px;
  }
}

.posted-jobs {
  // background: #EDF0F6;
  // padding: 80px 0;

  @media (max-width: 767px) {
    padding: 50px 0;
  }
}

.earn {
  h2 {
    @media (max-width: 991px) {
      font-size: 2rem;
    }

    @media (max-width: 767px) {
      font-size: 1.75rem;
    }
  }

  span {
    font-size: 1.125rem;
    font-weight: 600;
    color: #707070;
  }

  .btn {
    @media (max-width: 991px) {
      font-size: 1.15rem;
      width: 144px !important;
    }

  }

  .item-Favourite {
    svg {
      @media (max-width: 991px) {
        width: 18px;
      }
    }

    span {
      @media (max-width: 991px) {
        font-size: 1rem;
      }
    }
  }
}


@media screen and (max-width:767px) {
  .one-row {
    flex-direction: column;
  }

  .one-row li {
    border-right: 0;
    padding: 0;
    margin: 0px 0 10px !important;
  }
}

/**/
.apply-job-terms {
  background-color: #F8F8F8;
  max-height: 120px;
  overflow: auto;
  padding: 17px 26px 20px 26px;
  border-radius: 6px;
  border: 1px solid #D4D9E3;
  margin-top: 30px;
  line-height: 1.72;
  font-size: 14px;

  .apply-job-terms-inner {}
}