<!-- * Header * -->
<app-header *ngIf="checkLoggedIn()==true"></app-header>
<!-- * Router Link * -->
<router-outlet></router-outlet>
<!-- * Footer * -->
<app-footer *ngIf="checkLoggedIn()==true && checkMessageDetailsPage()==null"></app-footer>
