<section class="messages-sec py-3 py-lg-5 bg-secondary">
  <div class="container">
    <div class="content-box p-4 p-lg-5">
      <div class="row align-items-center">       

        <div class="col-md">
          <h3 class="fw-bolder text-dark mb-0">Messages</h3>
        </div>
        <div class="col-md-3 col-12">
          <form class="form-inline my-2 my-lg-0 pull-right float-md-right float-sm-none search-wrap" [formGroup]="searchForm" (ngSubmit)="searchMessage()" id="searchForm">
            <input class="form-control mr-sm-2 pl-5" type="search" placeholder="Search" aria-label="Search" formControlName="searchText" id="searchValue" (ngModelChange)="onChangeEvent($event)">
            <button class="btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.112" height="23.112" viewBox="0 0 23.112 23.112">
                <g id="search-outline" transform="translate(-3.625 -3.625)">
                  <path id="Path_22" data-name="Path 22"
                    d="M13.091,4.5a8.591,8.591,0,1,0,8.591,8.591A8.591,8.591,0,0,0,13.091,4.5Z" fill="none"
                    stroke="#9f9f9f" stroke-miterlimit="10" stroke-width="1.75" />
                  <path id="Path_23" data-name="Path 23" d="M23.786,23.786l6,6" transform="translate(-4.286 -4.286)"
                    fill="none" stroke="#9f9f9f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.75" />
                </g>
              </svg>

            </button>
          </form>
        </div>
        <div class="col-md-auto col-12">
          <button class="btn btn-primary px-md-4 w-100" (click)="open(mainMenu)">Post New Message</button>
        </div>
      </div>
      <div class="alert alert-success py-2"
        *ngIf="message!==''">
        {{message}}
      </div>
      <div class="alert alert-danger py-2"
        *ngIf="error_message!==''">
        {{error_message}}
      </div>
      <div class="tabel-responsive mt-4">
        
        <table class="table">
          <thead>
            <tr>
              <!--<th scope="col" class="pe-0" style="width: 20px;">
                <div class="form-check mb-0">
                   <input type="checkbox" class="form-check-input" id="exampleCheck1"> 
                  <label class="form-check-label" for="exampleCheck1">Sr.</label>
                </div>
              </th>-->
              <th scope="col" class="col-7">
                <span class="">Title</span>
              </th>
              <th scope="col" class="col-3">
                <span class="sorting" [ngClass]="{'ascending': order=='ASC', 'descending':order=='DESC'}" #filterBySort (click)="onFilterChangeSortBy(filterBySort.value)">Recevied date</span>
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let message of messageList  | paginate : {
              itemsPerPage: limit,
              currentPage: this_page,
              totalItems: total
            }; index as i;" [ngClass]="{'unread': message.thread_read==false, 'read':message.thread_read==true}">
              <!--<td scope="row" class="pe-0">
                <div class="form-check custom-check mb-0">
                   <input type="checkbox" class="form-check-input" id="exampleCheck1"> 
                  <label class="form-check-label" for="exampleCheck1">{{i+1}}</label>
                </div>
              </td>-->
              <td>{{message.thread_subject}}</td>
              <td>{{message.thread_created_date_nice}}</td>
              <td class="text-end">
                <a class="border-0 bg-transparent me-2" [routerLink]="['/message-details', message.thread_id]">
                  <svg xmlns="http://www.w3.org/2000/svg" width="33.749" height="24.75" viewBox="0 0 33.749 24.75">
                    <g id="view" transform="translate(-1.126 -5.625)">
                      <path id="Path_74" data-name="Path 74" d="M34.808,17.617A18.776,18.776,0,0,0,18,5.625,18.776,18.776,0,0,0,1.193,17.617a1.125,1.125,0,0,0,0,.765A18.776,18.776,0,0,0,18,30.375,18.776,18.776,0,0,0,34.808,18.383a1.125,1.125,0,0,0,0-.765ZM18,28.125C12.038,28.125,5.737,23.7,3.454,18,5.737,12.3,12.037,7.875,18,7.875S30.263,12.3,32.546,18C30.262,23.7,23.963,28.125,18,28.125Z" fill="#3b5998"/>
                      <path id="Path_75" data-name="Path 75" d="M18,11.25A6.75,6.75,0,1,0,24.75,18,6.75,6.75,0,0,0,18,11.25ZM18,22.5A4.5,4.5,0,1,1,22.5,18,4.5,4.5,0,0,1,18,22.5Z" fill="#3b5998"/>
                    </g>
                  </svg>
                </a>
              </td>
            </tr>
            
            <tr *ngIf="!(messageList?.length > 0) && !loader">
              <td  colspan="3" class="text-center">No message available</td></tr>         
          </tbody>
        </table>
      </div>
      
      <div class="custom-pagination">
        <div class="row align-items-center mt-5">
          <div class="col-lg-2">

          </div>
          <div class="col-lg-8">
            <div class="text-center " *ngIf="messageList?.length > 0">
              <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="per-page-wrap d-flex align-items-center justify-content-center justify-content-lg-end mt-3 mt-lg-0">
              <div class="fw-medium fs-7 text-nowrap pe-2">Per page</div>
              <select class="form-select w-100" aria-label="Default select example" #filterByPage (change)="onFilterChangeLimit(filterByPage.value)">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
              </select>
            </div>
            
          </div>
        </div>
      </div>
      
      
      <div class="text-center" *ngIf="loader">
        <img src="../../assets/images/text-loading.svg" alt="" />
      </div>
      <!-- <nav aria-label="Page navigation example justify-content-center">
        <ul class="pagination justify-content-center mt-4">
          <li class="page-item">
            <a class="page-link border-0" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"  [ngClass]="{'active': this_page==i+1}"  *ngFor='let in of counter(total_pages) ;let i = index'>
            <a class="page-link border-0" href="#">{{i+1}}</a>
          </li>
          <li class="page-item">
            <a class="page-link border-0" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</section>

<ng-template #mainMenu let-modal>
  <div class="modal-body">
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newMessage" class="fw-bolder h6 text-dark">New Message</label>
        <textarea class="form-control" id="newMessage" formControlName="newMessage" placeholder="Enter message"
          rows="3"></textarea>
          <!-- <div class="alert alert-danger py-2"
            *ngIf="messageForm.controls['newMessage'].hasError('required') && messageForm.controls['newMessage'].touched">
            Message is required
          </div> -->
      </div>
      <div class="form-group text-end">
        <!-- <button class="btn btn-default mt-4" (click)="modal.dismiss('Cross click')">Cancel</button> -->
        <button class="btn btn-primary mt-4" [disabled]="messageForm.invalid">Send</button>
      </div>
    </form>
  </div>
</ng-template>
