/*#################################################### MESSAGE PAGE START #######################################################################################*/
.body-bg {
  background-color: #EDF0F6;
}




table {
  border-top: 1px solid #D4D9E3;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  padding: 1.5rem 1.5rem;
  vertical-align: middle;
  font-weight: 500;
  font-size: 1.125rem;
}
thead th {
  color: #A7A7A7;
  font-size: 16px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #D4D9E3 !important;
}
.unread {
  background-color: #F9F9F9;
}
.unread td {
  font-weight: 600;
}
.sms-box {
  background: white;
  padding: 50px;
  border: 1px solid #D4D9E3;
  border-radius: 6px;
}

.pagination .page-item .page-link.active {
  background: red;
}
.page-item.active .page-link {
  background-color: #3B5998;
  border-color: #17387E;
  border-radius: 6px;
}
.page-link {
  color: #3B5998;
}

.search-wrap {
  position: relative;
  .form-control {
    padding-left: 50px;
  }
  .btn {
    position: absolute;
    left: 5px;
    top: -1px;
  }
}


@media screen and (max-width:767px) {
  .scroll-responsive-inner {
    width: 800px;
  }

  .scroll-responsive {
    overflow: auto;
  }
}

@media screen and (max-width:480px) {
  .sms-box {
    padding: 25px;
  }
}