/*#########################################################################about page start################################################################*/
.error{
  color: #FF0000;
} 


.upload {
  background: #F6F8FB;
  width: 250px;
  max-width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  border: 1px solid #C1CCF9;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.upload-img { height: 100%; width: 100%; background-position: center center; background-repeat: no-repeat; background-size: auto 100%; }
.upload img { width: 100%; height: 100%; }
.upload form {
  position: absolute;
  height: 50px;
  top: 0;
  right: 0;
  width: 50px;
  border: 2px dashed #AEAEAE;
  border-radius: 0 0 0 48px;
  background: #fff;
}
.upload form svg {
  width: 30px;
  height: auto;
  margin-left: 11px;
  margin-top: 3px;
  cursor: pointer;
}
// .upload form::before {
//   background: white;
//   height: 50px;
//   content: "";
//   position: absolute;
//   width: 50px;
//   top: auto;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   bottom: auto;
//   border: 1px dashed #AEAEAE;
//   border-width: 2px;
//   color: grey;
//   font-size: 18px;
//   border-radius: 0 0 0 48px;
//   display: block;
//   cursor: pointer;
// }
.upload form input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.upload-licence {
  background: #F6F8FB;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #C1CCF9;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  min-height: 200px;
}
.upload-licence::before {
  background: white;
  height: 50px;
  content: "Upload image";
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  margin-top: -25px;
  border: 2px dashed #AEAEAE;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  opacity: 0;
  transition: all 0.3s ease;
}
.upload-licence:hover:before {
  opacity: 1;

}
.upload-licence input {
  appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}
.email-update-form {
  display: flex;
}
.email-update-form .form-control {
  height: 28px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  padding: 0;
  font-size: 15px;
}
.email-update-form .btn {
  font-size: 12px;
  white-space: nowrap;
}

.rating-star {
  li {
    padding: 0 3px;
    svg {
      width: 20px;
    }
  }
}



.nav-tabs {
  .nav-item {
    @media (min-width: 768px) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    .nav-link {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  
}

.waist-size {
  background: #F6F8FB;
  border: 1px solid #c9ced6;
  border-radius: 8px;
}


.upload-data {
  padding: 50px 0 0;
}

.nav-link.active {
  border: 0px;
  color: #3B5998;
  border-bottom: 3px solid #3B5998;
}

.nav-link {
  color: #A7A7A7;
}

