<div class="upload-data py-3 py-lg-5 bg-secondary">
  <div class="container">
    <div class="content-box p-4 p-lg-5">

      <!-- <div class="card job-post-item" *ngIf="loader">
        <div class="row">
          <div class="col-lg">
            <div class="d-flex d-lg-block justify-content-between"> -->
              <div class="text-center" *ngIf="loader" >
                <img src="../../assets/images/text-loading.svg" alt="" />
              </div>
            <!-- </div>
          </div>
        </div>
      </div> -->

      <div class="row" *ngIf="UserData!=undefined">
        <div class="col-lg-3">
          <div class="upload">
            <div class="upload-img" style="background-image: url({{UserData.user_profile_image}});" *ngIf="UserData.user_profile_image!=null"></div>
            <div class="upload-img" style="background-image: url(../../assets/images/profile.png);" *ngIf="UserData.user_profile_image==null"></div>
            
            <!-- <button (click)="changeImage('1')" *ngIf="!changeProfileImage">Change Image</button> -->
            <form [formGroup]="imageForm"> 
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path
                  style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal"
                  d="M 2.5 2 C 1.673 2 1 2.673 1 3.5 L 1 12.5 C 1 13.327 1.673 14 2.5 14 L 7.4101562 14 L 7.6484375 13 L 2.5 13 C 2.224 13 2 12.776 2 12.5 L 2 11.572266 L 5.5566406 7.5664062 L 9.1269531 11.332031 L 9.828125 10.619141 L 9.2324219 9.9902344 L 10.517578 8.5449219 L 11.179688 9.2421875 L 11.880859 8.5292969 L 10.494141 7.0664062 L 8.5429688 9.2636719 L 5.5332031 6.0898438 L 2 10.066406 L 2 3.5 C 2 3.224 2.224 3 2.5 3 L 13.5 3 C 13.776 3 14 3.224 14 3.5 L 14 7.0214844 C 14.067 7.0154844 14.132219 7 14.199219 7 L 14.224609 7 L 14.248047 7.0019531 C 14.516047 7.0139531 14.766 7.0692969 15 7.1542969 L 15 3.5 C 15 2.673 14.327 2 13.5 2 L 2.5 2 z M 11 4 A 1 1 0 0 0 10 5 A 1 1 0 0 0 11 6 A 1 1 0 0 0 12 5 A 1 1 0 0 0 11 4 z M 14.205078 8.0039062 C 13.87855 8.0059963 13.553783 8.1310493 13.310547 8.3808594 L 8.6464844 13.123047 L 7.9511719 16.048828 L 10.876953 15.353516 L 10.974609 15.255859 L 15.619141 10.689453 C 16.118761 10.202981 16.12374 9.3874144 15.630859 8.8945312 L 15.105469 8.3691406 C 14.859027 8.1226991 14.531606 8.0018122 14.205078 8.0039062 z M 14.210938 8.9960938 C 14.277619 8.9957637 14.344879 9.0226118 14.398438 9.0761719 L 14.923828 9.6015625 C 15.030945 9.7086795 15.030302 9.8690817 14.921875 9.9746094 L 14.919922 9.9746094 L 10.376953 14.443359 L 9.2988281 14.701172 L 9.5546875 13.626953 L 14.025391 9.0800781 L 14.025391 9.078125 C 14.078154 9.0239351 14.144256 8.9964238 14.210938 8.9960938 z"
                  font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible" />
              </svg>
            
              <input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
                  <!-- <div *ngIf="(submitted) && f.file.invalid" class="alert alert-danger">
                    <div *ngIf="f.file.errors.required">File is required.</div>
                  </div> -->
                  <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:100px">
                  <button class="btn btn-primary" type="submit" [disabled]="imageForm.invalid">Upload</button>
                  <button (click)="changeImage('')" *ngIf="changeProfileImage">Cancel</button> -->
            </form>
          </div>
          
          <div class="alert alert-success"
            *ngIf="message_image!==''">
            {{message_image}}
          </div>
          <div class="alert alert-danger"
            *ngIf="error_message_image!==''">
            {{error_message_image}}
          </div>
        </div>      
        <div class="col-lg-9">
          <div class="user-detail ps-0 ps-lg-4 mt-4 mt-lg-0">
            <h2 class="m-1 text-dark fw-bolder">{{UserData.user_first_name}} {{UserData.user_last_name}}
              <!-- <small class="h6 ps-3 text-primary fw-medium">Age - 30</small> -->
              </h2>

            <!-- <h5 class="fw-medium">House Removal</h5> -->
            
            <div class="icon-with-text mt-3">
              <div class="icon-span">
                <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="18.975" viewBox="0 0 23.5 18.975">
                  <path id="envelope-o"
                    d="M21.822,16.819V6.469a7.815,7.815,0,0,1-.9.89Q17.4,10.134,15.33,11.913q-.669.58-1.088.9a5.99,5.99,0,0,1-1.135.653,3.222,3.222,0,0,1-1.345.33h-.026a3.218,3.218,0,0,1-1.344-.33,6.018,6.018,0,0,1-1.135-.653q-.42-.323-1.088-.9Q6.1,10.134,2.584,7.358a7.815,7.815,0,0,1-.9-.89v10.35a.42.42,0,0,0,.125.3.4.4,0,0,0,.3.128H21.4a.4.4,0,0,0,.3-.128.42.42,0,0,0,.125-.3Zm0-14.164v-.33l-.007-.175-.039-.168L21.7,1.86l-.118-.1L21.4,1.725H2.1a.4.4,0,0,0-.3.128.42.42,0,0,0-.125.3A4.759,4.759,0,0,0,3.606,5.983q2.531,2.049,5.259,4.272l.459.4q.38.331.6.505t.584.425a3.4,3.4,0,0,0,.663.371,1.537,1.537,0,0,0,.564.121h.026a1.516,1.516,0,0,0,.564-.121,3.491,3.491,0,0,0,.663-.37q.361-.249.583-.425t.6-.505l.459-.4q2.728-2.224,5.259-4.272a6.287,6.287,0,0,0,1.318-1.556,3.432,3.432,0,0,0,.61-1.772Zm1.678-.5V16.819a2.105,2.105,0,0,1-.616,1.523,1.993,1.993,0,0,1-1.482.633H2.1a1.993,1.993,0,0,1-1.482-.633A2.105,2.105,0,0,1,0,16.819V2.156A2.105,2.105,0,0,1,.616.633,1.993,1.993,0,0,1,2.1,0H21.4a1.993,1.993,0,0,1,1.482.633A2.105,2.105,0,0,1,23.5,2.156Z"
                    fill="#707070" />
                </svg>


              </div>
              <div class="d-flex align-items-center">
                <h6 class="fw-medium pe-2 mb-0" *ngIf="!emailChange  && !emailVerify">{{UserData.user_email}}</h6>
                <div class="email-update" *ngIf="emailChange">
                  <form [formGroup]="emailForm" (ngSubmit)="sendEmailCode()">
                    <div class="email-update-form">
                      <input class="form-control" type="text" placeholder="Enter New email" formControlName="newEmail">
                      <button class="btn btn-primary btn-sm" [disabled]="emailForm.invalid">Send Code</button>    
                    </div>
                    <div class="error"
                      *ngIf="(submitted) && emailFormControl.newEmail.errors?.required">
                      Email is required
                    </div>
                    <div class="error" *ngIf="emailFormControl.newEmail.errors?.newEmail">
                      Please, enter valid email address.                        
                    </div>             
                  </form>
                </div>
                <div class="email-update-form" *ngIf="emailVerify">
                  <input class="form-control" type="text" placeholder="Enter Code" [(ngModel)]='emailCode' [value]='emailCode' maxlength="6">
                  <button class="btn btn-primary btn-sm" (click)="verifyEmailCode(emailCode)" [disabled]="emailCode==''">Verify</button>
                  <button class="bg-transparent border-0 text-primary fw-medium" (click)="changeEmailVerify('')" *ngIf="emailVerify">Cancel</button> 
                </div>
                
                <!-- <svg *ngIf="UserData.user_email_verified == true && !emailChange && !emailVerify" class="me-4" xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75"
                  viewBox="0 0 22.75 22.75">
                  <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                    <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                      transform="translate(0 0)" fill="none" stroke="#36a420" stroke-miterlimit="10"
                      stroke-width="1.75" />
                    <path id="Path_12" data-name="Path 12" d="M21.75,12.375,14.4,22.625l-3.15-4.1"
                      transform="translate(-1.5 -2.5)" fill="none" stroke="#36a420" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="1.75" />
                  </g>
                </svg>
                <svg *ngIf="UserData.user_email_verified == false && !emailChange && !emailVerify" xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                  <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                    <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                      transform="translate(0 0)" fill="none" stroke="#e41616" stroke-miterlimit="10"
                      stroke-width="1.75" />
                    <path id="Path_12" data-name="Path 12" d="M21.837,12.375,13.4,23" transform="translate(-2.588 -2.5)"
                      fill="none" stroke="#e41616" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
                    <path id="Path_73" data-name="Path 73" d="M13.4,12.375,21.837,23" transform="translate(-2.588 -2.5)"
                      fill="none" stroke="#e41616" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
                  </g>
                </svg> -->
                <button class="bg-transparent border-0 text-primary fw-medium" (click)="changeEmail('1')" *ngIf="!emailChange && !emailVerify">Change email address</button>
                <button class="bg-transparent border-0 text-primary fw-medium" (click)="changeEmail('')" *ngIf="emailChange">Cancel</button>               
              </div>
              <div class="alert alert-success p-2"
                *ngIf="message_email!==''">
                {{message_email}}
              </div>
              <div class="alert alert-danger p-2"
                *ngIf="error_message_email!==''">
                {{error_message_email}}
              </div>
            </div>

            <div class="icon-with-text mt-2" *ngIf="UserData.user_mob_f!=null">
              <div class="icon-span">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                  <path id="phone"
                    d="M21.057,23.375h-.131C5.817,22.506,3.672,9.752,3.372,5.86A2.307,2.307,0,0,1,5.494,3.375H9.731a1.538,1.538,0,0,1,1.431.969L12.33,7.221a1.539,1.539,0,0,1-.338,1.662l-1.638,1.654a7.206,7.206,0,0,0,5.828,5.846l1.668-1.654a1.537,1.537,0,0,1,1.668-.315l2.9,1.162a1.538,1.538,0,0,1,.947,1.43v4.062a2.307,2.307,0,0,1-2.307,2.308ZM5.678,4.913a.769.769,0,0,0-.769.769v.062c.354,4.554,2.622,15.323,16.1,16.092a.769.769,0,0,0,.815-.723V17.006l-2.9-1.162-2.207,2.192-.369-.046c-6.689-.838-7.6-7.531-7.6-7.6l-.046-.369,2.184-2.208-1.154-2.9Z"
                    transform="translate(-3.364 -3.375)" fill="#707070" />
                </svg>

              </div>
              <div class="d-flex">
                <h6 class="fw-medium pe-2">{{UserData.user_mob_f}}</h6>
                <!-- <svg *ngIf="UserData.user_mob_verified == false" xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                  <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                    <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                      transform="translate(0 0)" fill="none" stroke="#e41616" stroke-miterlimit="10"
                      stroke-width="1.75" />
                    <path id="Path_12" data-name="Path 12" d="M21.837,12.375,13.4,23" transform="translate(-2.588 -2.5)"
                      fill="none" stroke="#e41616" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
                    <path id="Path_73" data-name="Path 73" d="M13.4,12.375,21.837,23" transform="translate(-2.588 -2.5)"
                      fill="none" stroke="#e41616" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
                  </g>
                </svg>
                <svg *ngIf="UserData.user_mob_verified == true" class="me-4" xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75"
                  viewBox="0 0 22.75 22.75">
                  <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                    <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                      transform="translate(0 0)" fill="none" stroke="#36a420" stroke-miterlimit="10"
                      stroke-width="1.75" />
                    <path id="Path_12" data-name="Path 12" d="M21.75,12.375,14.4,22.625l-3.15-4.1"
                      transform="translate(-1.5 -2.5)" fill="none" stroke="#36a420" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="1.75" />
                  </g>
                </svg> -->
              </div>
            </div>

            <div class="icon-with-text mt-2" *ngIf="UserData.user_mob_Alt_f!=null">
              <div class="icon-span">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                  <path id="phone"
                    d="M21.057,23.375h-.131C5.817,22.506,3.672,9.752,3.372,5.86A2.307,2.307,0,0,1,5.494,3.375H9.731a1.538,1.538,0,0,1,1.431.969L12.33,7.221a1.539,1.539,0,0,1-.338,1.662l-1.638,1.654a7.206,7.206,0,0,0,5.828,5.846l1.668-1.654a1.537,1.537,0,0,1,1.668-.315l2.9,1.162a1.538,1.538,0,0,1,.947,1.43v4.062a2.307,2.307,0,0,1-2.307,2.308ZM5.678,4.913a.769.769,0,0,0-.769.769v.062c.354,4.554,2.622,15.323,16.1,16.092a.769.769,0,0,0,.815-.723V17.006l-2.9-1.162-2.207,2.192-.369-.046c-6.689-.838-7.6-7.531-7.6-7.6l-.046-.369,2.184-2.208-1.154-2.9Z"
                    transform="translate(-3.364 -3.375)" fill="#707070" />
                </svg>

              </div>
              <div class="d-flex">
                <h6 class="fw-medium pe-2">{{UserData.user_mob_Alt_f}}</h6>
                <!-- <svg *ngIf="UserData.user_mob_alt_verified == false" xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                  <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                    <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                      transform="translate(0 0)" fill="none" stroke="#e41616" stroke-miterlimit="10"
                      stroke-width="1.75" />
                    <path id="Path_12" data-name="Path 12" d="M21.837,12.375,13.4,23" transform="translate(-2.588 -2.5)"
                      fill="none" stroke="#e41616" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
                    <path id="Path_73" data-name="Path 73" d="M13.4,12.375,21.837,23" transform="translate(-2.588 -2.5)"
                      fill="none" stroke="#e41616" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" />
                  </g>
                </svg>
                <svg *ngIf="UserData.user_mob_alt_verified == true" class="me-4" xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75"
                  viewBox="0 0 22.75 22.75">
                  <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                    <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                      transform="translate(0 0)" fill="none" stroke="#36a420" stroke-miterlimit="10"
                      stroke-width="1.75" />
                    <path id="Path_12" data-name="Path 12" d="M21.75,12.375,14.4,22.625l-3.15-4.1"
                      transform="translate(-1.5 -2.5)" fill="none" stroke="#36a420" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="1.75" />
                  </g>
                </svg> -->
              </div>
            </div>


            

            <div class="icon-with-text mt-4" *ngIf="UserData.user_add_1">
              <span class="icon-span">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.232" height="27" viewBox="0 0 19.232 27">
                  <g id="location-outline" transform="translate(-7 -2.5)">
                    <path id="Path_7" data-name="Path 7"
                      d="M16.616,3.375a8.539,8.539,0,0,0-8.741,8.316c0,5.281,5.827,13.65,7.967,16.54a.957.957,0,0,0,1.548,0c2.139-2.889,7.967-11.255,7.967-16.54A8.54,8.54,0,0,0,16.616,3.375Z"
                      transform="translate(0 0)" fill="none" stroke="#707070" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="1.75" />
                    <path id="Path_8" data-name="Path 8"
                      d="M21.375,13.5A3.375,3.375,0,1,1,18,10.125,3.375,3.375,0,0,1,21.375,13.5Z"
                      transform="translate(-1.384 -1.2)" fill="none" stroke="#707070" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="1.75" />
                  </g>
                </svg>
              </span>
              <span class="fw-medium">{{UserData.user_add_1}}</span>
            </div>
            <p class="mb-0 mt-3 fw-bolder">Rating</p>
            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="true" class="rating-star"></ngb-rating> 
            
          </div>
        </div>
        <div class="col-md-12">
          
          <!-- Tab panes -->
          <ul ngbNav #nav="ngbNav" class="nav-tabs mt-5 mb-5">
            <li ngbNavItem>
              <a ngbNavLink class="h6 mb-0 fw-bolder">Personal Info</a>
              <ng-template ngbNavContent>
                <form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-lg-8 col-md-12">
                    <h6 class="mb-4 mb-lg-5 fw-medium">Please update your personal information.</h6>
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-group">
                            <label for="inputname" class="fw-bolder h6 text-dark">First name</label>
                            <input type="text" class="form-control" id="inputname" placeholder="First name" value="{{UserData.user_first_name}}" formControlName="fName">
                            <div class="error"
                              *ngIf="(registerFormControl.fName.touched || submitted) && registerFormControl.fName.errors?.required">                  
                              First Name is required
                            </div>  
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-group">
                            <label for="Lastname" class="fw-bolder h6 text-dark">Last name</label>
                            <input type="text" class="form-control" id="Lastname" placeholder="Last name"  value="{{UserData.user_last_name}}" formControlName="lName" >
                            <div class="error"
                              *ngIf="(registerFormControl.lName.touched || submitted) && registerFormControl.lName.errors?.required">
                              Last Name is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <h6 class="fw-bolder h6 w-100 text-dark">Date of birth</h6>
                      <div class="row mb-4">
                        <div class="col-md-7 col-12">
                          <div class="row">                          
                            <div class="col-4">
                              <div class="form-group" >                             
                                <select id="inputStateDay" class="form-select" formControlName="day">
                                  <option value="">Day</option>
                                  <option value="01">01</option>
                                  <option value="02">02</option>
                                  <option value="03">03</option>
                                  <option value="04">04</option>
                                  <option value="05">05</option>
                                  <option value="06">06</option>
                                  <option value="07">07</option>
                                  <option value="08">08</option>
                                  <option value="09">09</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
                                  <option value="13">13</option>
                                  <option value="14">14</option>
                                  <option value="15">15</option>
                                  <option value="16">16</option>
                                  <option value="17">17</option>
                                  <option value="18">18</option>
                                  <option value="19">19</option>
                                  <option value="20">20</option>
                                  <option value="21">21</option>
                                  <option value="22">22</option>
                                  <option value="23">23</option>
                                  <option value="24">24</option>
                                  <option value="25">25</option>
                                  <option value="26">26</option>
                                  <option value="27">27</option>
                                  <option value="28">28</option>
                                  <option value="29">29</option>
                                  <option value="30">30</option>
                                  <option value="31">31</option>
                                </select>
                                <div class="error"
                                  *ngIf="(registerFormControl.day.touched || submitted) && registerFormControl.day.errors?.required">
                                  
                                  Select Day
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="form-group">
                                  <select id="inputStateMonth" class="form-select" formControlName="month">
                                  <option value="">Month</option>
                                  <option value="01">January</option>
                                  <option value="02">February</option>
                                  <option value="03">March</option>
                                  <option value="04">April</option>
                                  <option value="05">May</option>
                                  <option value="06">June</option>
                                  <option value="07">July</option>
                                  <option value="08">August</option>
                                  <option value="09">September</option>
                                  <option value="10">October</option>
                                  <option value="11">November</option>
                                  <option value="12">December</option>
                                </select>
                                <div class="error"
                                  *ngIf="(registerFormControl.month.touched || submitted) && registerFormControl.month.errors?.required">
                                  Select Month
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="form-group">
                              <select id="inputStateYear" class="form-select" formControlName="year">
                                  <option value="">Year</option>
                                  <option *ngFor="let year of getYears().yearsList" value="{{year}}">{{ year }}</option>
                                  <!-- <option value="1975">1975</option>
                                  <option value="1976">1976</option>
                                  <option value="1977">1977</option>
                                  <option value="1978">1978</option>
                                  <option value="1979">1979</option>
                                  <option value="1980">1980</option>
                                  <option value="1981">1981</option>
                                  <option value="1982">1982</option>
                                  <option value="1983">1983</option>
                                  <option value="1984">1984</option>
                                  <option value="1985">1985</option>
                                  <option value="1986">1986</option>
                                  <option value="1987">1987</option>
                                  <option value="1988">1988</option>
                                  <option value="1989">1989</option>
                                  <option value="1990">1990</option>
                                  <option value="1991">1991</option>
                                  <option value="1992">1992</option>
                                  <option value="1993">1993</option>
                                  <option value="1994">1994</option>
                                  <option value="1995">1995</option>
                                  <option value="1996">1996</option>
                                  <option value="1997">1997</option>
                                  <option value="1998">1998</option>
                                  <option value="1999">1999</option>
                                  <option value="2000">2000</option>
                                  <option value="2001">2001</option>
                                  <option value="2002">2002</option>
                                  <option value="2003">2003</option>
                                  <option value="2004">2004</option>
                                  <option value="2005">2005</option>
                                  <option value="2006">2006</option>
                                  <option value="2007">2007</option>
                                  <option value="2008">2008</option>
                                  <option value="2009">2009</option>
                                  <option value="2010">2010</option>
                                  <option value="2011">2011</option>
                                  <option value="2012">2012</option>
                                  <option value="2013">2013</option>
                                  <option value="2014">2014</option>
                                  <option value="2015">2015</option>
                                  <option value="2016">2016</option>
                                  <option value="2017">2017</option>
                                  <option value="2018">2018</option>
                                  <option value="2019">2019</option>
                                  <option value="2020">2020</option>
                                  <option value="2021">2021</option> -->
                                </select>
                                <div class="error"
                                  *ngIf="(registerFormControl.year.touched || submitted) && registerFormControl.year.errors?.required">
                                  Select Year
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>                 
                  </div>               
                </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-group">
                        <label for="inputname" class="fw-bolder h6 text-dark">Mobile 1 (required)</label>
                        <input type="text" class="form-control" id="mobile1 " placeholder="Mobile 1 (required)"  value="{{UserData.user_mob}}" formControlName="mobile">
                        <div class="error"
                          *ngIf="(registerFormControl.mobile.touched || submitted) && registerFormControl.mobile.errors?.required">
                          Mobile is required
                      </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-group">
                        <label for="Lastname" class="fw-bolder h6 text-dark">Mobile 2</label>
                        <input type="text" class="form-control" id="mobile2 " placeholder="Mobile 2"  value="{{UserData.user_mob_alt}}" formControlName="mobile_alt">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-group">
                        <label for="inputname" class="fw-bolder h6 text-dark">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Email"  value="{{UserData.user_email}}" formControlName="email" readonly>
                        <div class="error"
                          *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                          Email is required
                        </div>
                        <div class="error" *ngIf="registerFormControl.email.errors?.email">
                          Please, enter valid email address.                        
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-group">
                        <label for="Lastname" class="fw-bolder h6 text-dark">Address Line 1 </label>
                        <ng-template #itemTemplate let-item>
                          <a [innerHTML]="item.address"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound> 
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                        <ng-autocomplete [data]="addressList" 
                        [searchKeyword]="keyword" (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate"  placeholder="Address Line 1 " formControlName="address_line_1">
                        </ng-autocomplete>
                        <!-- <input type="text" class="form-control" id="address-line-1" placeholder="Address Line 1 "  value="{{UserData.user_add_1}}" formControlName="address_line_1"> -->
                        <div class="error"
                          *ngIf="(registerFormControl.address_line_1.touched || submitted) && registerFormControl.address_line_1.errors?.required">
                          Address is required
                        </div>                        
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-group">
                        <label for="inputname" class="fw-bolder h6 text-dark">Address Line 2</label>
                        <!-- <ng-autocomplete [data]="addressList" 
                        [searchKeyword]="keyword" (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate" placeholder="Address Line 2 " formControlName="address_line_2">
                        </ng-autocomplete> -->
                        <input type="text" class="form-control" id="address-line-2" placeholder="Address Line 2"  value="{{UserData.user_add_2}}" formControlName="address_line_2">
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-group">
                        <label for="Lastname" class="fw-bolder h6 text-dark">Address Line 3</label>
                        <!-- <ng-autocomplete [data]="addressList" 
                        [searchKeyword]="keyword" (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate"  placeholder="Address Line 3" formControlName="address_line_3">
                        </ng-autocomplete> -->
                        <input type="text" class="form-control" id="address-line-3" placeholder="Address Line 3"  value="{{UserData.user_add_3}}" formControlName="address_line_3">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-group">
                        <label for="inputname" class="fw-bolder h6 text-dark">Address line 4</label>
                        <!-- <ng-autocomplete [data]="addressList" 
                        [searchKeyword]="keyword" (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate"  placeholder="Address Line 4" formControlName="address_line_4">
                        </ng-autocomplete> -->
                        <input type="text" class="form-control" id="address-line-4" placeholder="Address line 4"  value="{{UserData.user_add_4}}" formControlName="address_line_4">
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-group">
                        <label for="Lastname" class="fw-bolder h6 text-dark">Postcode</label>
                        <input type="text" class="form-control" id="postcode" placeholder="Postcode"  value="{{UserData.user_postcode}}" formControlName="postcode">
                        <div class="error"
                          *ngIf="(registerFormControl.postcode.touched || submitted) && registerFormControl.postcode.errors?.required">
                          Postcode is required
                        </div>
                      </div>
                    </div>
                  </div>
                

                  <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12">
                      <h6 class="fw-bolder h6 text-dark">Work uniform size</h6>
                      <div class="waist-size p-4 p-lg-5 mb-5">
                        <div class="row">
                          <div class="col-md-4 mb-3 mb-lg-0">
                            <div class="form-group">
                              <label class="fw-bolder h6 text-dark" for="Waist-size">Waist size </label>
                              <select id="inputStateWaist" class="form-select" formControlName="waist_size">
                                <option value=''>Select</option>
                                <option value="28">28</option>
                                <option value="30">30</option>
                                <option value="32">32</option>
                                <option value="34">34</option>
                                <option value="36">36</option>
                                <option value="38">38</option>
                                <option value="40">40</option>
                                <option value="42">42</option>
                                <option value="44">44</option>
                                <option value="46">46</option>
                                <option value="48">48</option>
                                <option value="50">50</option>
                                <option value="52">52</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3 mb-lg-0">
                            <div class="form-group">
                              <label class="fw-bolder h6 text-dark" for="Trouser-length">Trouser-length</label>
                              <select id="inputStateTrouser" class="form-select" formControlName="trouser_length">
                                <option value=''>Select</option>
                                <option value="short">Short</option>
                                <option value="medium">Medium</option>
                                <option value="long">Long</option>                               
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3 mb-lg-0">
                            <div class="form-group">
                              <label class="fw-bolder h6 text-dark" for="Tops">Tops Size</label>
                              <select id="inputStateTops" class="form-select" formControlName="top_size">
                                <option value=''>Select</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                                <option value="XXXL">XXXL</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        
                        
                        
                      </div>
                      <div class="alert alert-success"
                        *ngIf="message!==''">
                        {{message}}
                      </div>
                      <div class="alert alert-danger"
                        *ngIf="error_message!==''">
                        {{error_message}}
                      </div>
                      
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col-xl-3 col-md-5">
                      <button class="btn btn-primary w-100">Update</button>
                    </div>
                  </div>

              </form>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="h6 mb-0 fw-bolder">Qualifications</a>
              <ng-template ngbNavContent>
                <form [formGroup]="licenseForm" (ngSubmit)="onSubmitlicense()">
                  <h6 class="mb-4 mb-lg-5 fw-medium">Please update your personal information.</h6>
                  
                  <h6 class="fw-bolder text-dark">Do you drive?</h6>
                  <div class="form-check d-inline-block">
                    <input class="form-check-input" type="radio" name="drive_yes" formControlName="drive_yes"  id="exampleRadios2"
                    [value]=true > 
                    <label class="form-check-label" for="exampleRadios2">
                      Yes
                    </label>
                  </div>
                  <div class="form-check d-inline-block ms-4">
                    <input class="form-check-input" type="radio" id="drive_no" 
                    formControlName="drive_yes" name="drive_yes" [value]=false>
                    <label class="form-check-label" for="drive_no">
                      No
                    </label>
                  </div>
                  <h6 class="mt-4 mb-4 fw-bolder text-dark" >Upload driving license</h6>
                  <div class="row" >
                    <div class="col-lg-4 col-md-12 mb-3">
                      <div class="upload-licence">
                        <img class="img-fluid" src="{{user_driving_license_front}}" alt="" *ngIf="!imageSrcFront" />
                        <img class="img-fluid" [src]="imageSrcFront"   *ngIf="imageSrcFront" />                        
                          <input type="file" id="license_front" (change)="onFileChangeLicence($event, 'driving_license_front')">                         
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-3">
                      <div class="upload-licence">
                        <img class="img-fluid" src="{{user_driving_license_back}}" alt=""  *ngIf="!imageSrcBack"/>
                        <img class="img-fluid" [src]="imageSrcBack"  *ngIf="imageSrcBack" />
                        <input type="file" id="license_back" (change)="onFileChangeLicence($event, 'driving_license_back')">
                        
                      </div>
                    </div>
                    <div class="alert alert-success"
                      *ngIf="message_image_license!==''">
                      {{message_image_license}}
                    </div>
                    <div class="alert alert-danger"
                      *ngIf="error_message_image_license!==''">
                      {{error_message_image_license}}
                    </div>
                    <div class="col-md-4 col-lg-12"></div>
                  </div>
                  <h6 class="fw-bolder mt-4 mb-3 text-dark">Do you have any endorsements / points on your license?</h6>
                  <div class="form-check d-inline-block">
                    <input class="form-check-input" type="radio" id="license_point_yes" [value]=true
                    formControlName="license_point_yes">
                    <label class="form-check-label" for="license_point_yes">
                      Yes
                    </label>
                  </div>
                  <div class="form-check d-inline-block ms-4">
                    <input class="form-check-input" type="radio" id="license_point_no" [value]=false
                    formControlName="license_point_yes">
                    <label class="form-check-label" for="license_point_no">
                      No
                    </label>
                  </div>
                  <div class="alert alert-success"
                    *ngIf="message_license!==''">
                    {{message_license}}
                  </div>
                  <div class="alert alert-danger"
                    *ngIf="error_message_license!==''">
                    {{error_message_license}}
                  </div>
                  <div class="row mt-4">
                    <div class="col-xl-3 col-md-5">
                      <button class="btn btn-primary w-100">Update</button>
                    </div>
                  </div>
                </form>  
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="h6 mb-0 fw-bolder">Getting Paid</a>
              <ng-template ngbNavContent>
                <form [formGroup]="accountForm" (ngSubmit)="onSubmitAccount()">
                  <h6 class="mb-4 mb-lg-5 fw-medium">Please update your payment method.</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group mb-4">
                        <label for="inputname" class="fw-bolder h6 text-dark">National Insurance Number</label>
                        <input type="text" class="form-control" id="nin" formControlName="nin" placeholder="Enter national insurance number">
                      </div>
                      <div class="form-group mb-4">
                        <label for="inputname" class="fw-bolder h6 text-dark">Bank</label>
                        <input type="text" class="form-control" id="bank_name " formControlName="bank_name" placeholder="Enter bank">
                      </div>
                      <div class="form-group mb-4">
                        <label for="inputname" class="fw-bolder h6 text-dark">Account Name</label>
                        <input type="text" class="form-control" id="account_name " placeholder="Enter account name" formControlName="account_name">
                      </div>
                      <div class="form-group mb-4">
                        <label for="inputname" class="fw-bolder h6 text-dark">Sort Code</label>
                        <input type="text" class="form-control" id="sort_code " placeholder="Enter sort code" formControlName="sort_code">
                      </div>
                      <div class="form-group mb-4">
                        <label for="inputname" class="fw-bolder h6 text-dark">Account Number</label>
                        <input type="text" class="form-control" id="account_number" placeholder="Enter account number" formControlName="account_number">
                      </div>

                      <h6 class="fw-bolder text-dark">Preferred payment method?</h6>
                      <div class="form-check d-inline-block">
                        <input class="form-check-input" type="radio" formControlName="payment_method" id="exampleRadios1"
                          value="cash">
                        <label class="form-check-label" for="exampleRadios1">
                          Cash
                        </label>
                      </div>
                      <div class="form-check d-inline-block ms-4">
                        <input class="form-check-input" type="radio" formControlName="payment_method"  id="exampleRadios2"
                          value="transfer">
                        <label class="form-check-label" for="exampleRadios2">
                          Transfer
                        </label>
                      </div>
                      <div class="alert alert-success"
                        *ngIf="message_account!==''">
                        {{message_account}}
                      </div>
                      <div class="alert alert-danger"
                        *ngIf="error_message_account!==''">
                        {{error_message_account}}
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-xl-3 col-md-5">
                      <button class="btn btn-primary w-100">Update</button>
                    </div>
                  </div>
                </form>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
  </div>

  