/*#################################################chat-box#####################################*/
.back-page-arrow {
  white-space: nowrap;
  svg {
    @media screen and (max-width:767px) {
      width: 15px;
    }
  }
}
.chat-review {
  height: calc(100vh - 87px);
  @media screen and (max-width:1199px) {
    height: calc(100vh - 82px);
  }
  @media screen and (max-width:767px) {
    height: calc(100vh - 72px);
  }
  .container {
    height: 100%;
    .content-box {
      height: 100%;
      .chat-content-box {
        height: calc(100% - 112px);
        @media screen and (max-width:1199px) {
          height: calc(100% - 182px);
        }
      }
    }
  }
}
.chat-box-inner {
  background: #EDF0F6;
  padding: 10px 15px;
  border-radius: 6px;
  z-index: 9;
  border: 1px solid #C1CCF9;
  position: relative;
}

.chat-box img {
  top: 0px;
  left: 0px;
}

.chat-content-box {
  // max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
}
.chat-box-inner:after {
  content: "";
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
  z-index: 8;
  border-top: 10px solid transparent;
  border-right: 15px solid #C1CCF9;
  border-bottom: 10px solid transparent;
  left: -16px;
}
.chat-box-inner:before {
  content: "";
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
  z-index: 9;
  border-top: 10px solid transparent;
  border-right: 15px solid #EDF0F6;
  border-bottom: 10px solid transparent;
  left: -15px;
}

.send-msg .chat-box-inner {
  border: 1px solid #C1CCF9;
  background-color: #fff;
}
.send-msg .chat-box-inner:after {
  left: auto;
  right: -16px;
  border-right: none;
  border-left: 15px solid #C1CCF9;
}
.send-msg .chat-box-inner:before {
  left: auto;
  right: -15px;
  border-right: none;
  border-left: 15px solid #fff;
}

.chat-box img {
  width: 50px;
  margin-top: 8px;
}
.send-msg .chat-box img {
  left: unset;
  right: 0px;
}
.msg-type {
  margin: 0 -3rem -3rem -3rem;
  @media screen and (max-width:991px) {
    margin: 40px -1.5rem -1.5rem -1.5rem;
  }
  form {
    position: relative;
  }
}
.search-wrap {
  position: relative;
  // @media screen and (max-width:767px) {
  //   width: 80%;
  //   margin-left: auto;
  // }
  .form-control {
    padding-left: 50px;
    
  }
  .btn {
    position: absolute;
    left: 5px;
    top: -1px;
  }
}
.msg-type .form-control {
  border-radius: 0;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 30px 100px 30px 40px;
  @media screen and (max-width:991px) {
    padding-left: 1.65rem;
    padding-right:  80px;
  }
}
.msg-type .btn {
  position: absolute;
  right: 40px;
  top: 23px;
  @media screen and (max-width:991px) {
    right: 1.65rem;
  }
}

.dot {
  height: 12px;
  width: 12px;
  vertical-align: middle;
}

.badge {
  border-radius: 50px !important;
}

@media screen and (max-width:480px) {
  body .msg-type button {
    top: -1px;
  }

  body .send-msg .chat-box {
    padding-left: 0px;
    padding-right: 0;
  }

  .chat-box {
    padding-left: 0;
  }
}

footer { display: none; }