<section class="chat-review py-3 py-lg-5 bg-secondary">
  <div class="container">
    <div class="content-box p-4 p-lg-5">
      <div class="border-bottom pb-3 pb-md-4">
        <div class="row justify-content-between align-items-center">
          <div class="col p-0">
            <div class="row m-0 back-page-arrow">
              <a routerLink="/messages" class="fw-bolder text-muted h5 mb-0 w-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 23.068 22.766">
                  <g id="arrow-back-outline" transform="translate(-5.531 -5.754)">
                    <path id="Path_24" data-name="Path 24" d="M16.293,26.4,7.031,17.137l9.262-9.262" fill="none"
                      stroke="#9f9f9f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                    <path id="Path_25" data-name="Path 25" d="M8.438,18h18.78" transform="translate(-0.12 -0.863)"
                      fill="none" stroke="#9f9f9f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                  </g>
                </svg>
  
                <span class="ps-2 ps-md-3">Back <span class="d-none d-md-inline-block">to messages</span></span>
              </a>
            </div>
            
          </div>
          <div class="col-auto">
            <form class="form-inline my-2 my-lg-0 search-wrap" [formGroup]="searchForm" (ngSubmit)="searchMessage()" id="searchForm">
              <input class="form-control mr-sm-2 pl-5" type="search" placeholder="Search" aria-label="Search" formControlName="searchText" id="searchValue" (ngModelChange)="onChangeEvent($event)">
              <button class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="23.112" height="23.112" viewBox="0 0 23.112 23.112">
                  <g id="search-outline" transform="translate(-3.625 -3.625)">
                    <path id="Path_22" data-name="Path 22"
                      d="M13.091,4.5a8.591,8.591,0,1,0,8.591,8.591A8.591,8.591,0,0,0,13.091,4.5Z" fill="none"
                      stroke="#9f9f9f" stroke-miterlimit="10" stroke-width="1.75" />
                    <path id="Path_23" data-name="Path 23" d="M23.786,23.786l6,6" transform="translate(-4.286 -4.286)"
                      fill="none" stroke="#9f9f9f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.75" />
                  </g>
                </svg>
  
              </button>
            </form>
          </div>
        </div>
      </div>
      
      <div class="chat-content-box" #scrollBottom 
      
      >   
      <!-- infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollUpDistance]="1.5"
      [infiniteScrollThrottle]="50"
      (scrolledUp)="onUp(next)"
      [scrollWindow]="false"    -->
      <div class="text-center p-3 border-bottom" *ngIf="next!==null">
        <button class="btn btn-sm" (click)="loadMessage(next)"> Load More...</button>
      </div>
        <ng-container *ngFor="let message of messageList">
          <div class="row" *ngIf="message.message_author_type=='user'">
            <div class="col-lg-6 col-md-12 mt-4 ms-auto send-msg">
              <div class="chat-box">
                <div class="row">
                  <div class="col">
                    <div class="chat-box-inner">
                      <p class="fw-bolder mb-1">{{message.message_author}}</p>
                      <p class="text-dark mb-1">{{message.message}}</p>
                      <small class="text-end d-block mb-0">{{calculateTimeDiff(message.message_time)}}</small>
                    </div>
                  </div>
                  <div class="col-auto">
                    <!-- <img src="../../assets/images/client.png" alt="client" class="img-fluid"> -->
                    <img src="../../assets/images/profile.png" alt="user" class="img-fluid" style="width: 58px;border-radius: 32px" *ngIf="getUserImage()=='null'">
                    <img src="{{getUserImage()}}" alt="user" class="img-fluid"style="width: 58px;border-radius: 32px" *ngIf="getUserImage()!='null'">
              
                  </div>
                </div>
              </div>
            </div>
          </div>      
          <div class="row" *ngIf="message.message_author_type=='robot'" >
            <div class="col-lg-6 col-md-12 mt-4">
              <div class="chat-box">
                <div class="row">
                  <div class="col-auto">
                    <img src="../../assets/images/client.png" alt="client" class="img-fluid">
                  </div>
                  <div class="col">
                    <div class="chat-box-inner">
                      <p class="fw-bolder mb-1">{{message.message_author}}</p>
                      <p class="text-dark mb-1">{{message.message}}</p>
                      <small class="text-end d-block mb-0">{{calculateTimeDiff(message.message_time)}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <div *ngIf="!(messageList?.length > 0) && !loader">
          No message found
        </div> 

        <div class="text-center" *ngIf="loader">
          <img src="../../assets/images/text-loading.svg" alt="" />
        </div>
      </div>
      <div class="msg-type">
        <!-- <div class="alert alert-danger py-2 mb-0"
          *ngIf="messageForm.controls['newMessage'].hasError('required') && messageForm.controls['newMessage'].touched">
          Message is required</div> -->

        <!-- <div class="alert alert-success"
              *ngIf="message!==''">
              {{message}}
            </div>-->
        <div class="alert alert-danger py-2" *ngIf="error_message!==''">
          {{error_message}}
        </div>
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
          <input class="form-control" type="text" formControlName="newMessage" placeholder="Write somethings..." aria-label="Search">
          

          <button class="btn btn-primary" [disabled]="messageForm.invalid" >
            <svg xmlns="http://www.w3.org/2000/svg" width="26.998" height="26.995" viewBox="0 0 26.998 26.995">
              <path id="ios-send"
                d="M30.649,4.563,4.837,15.813a.592.592,0,0,0,.021,1.076l6.982,3.945a1.125,1.125,0,0,0,1.287-.127L26.894,8.838c.091-.077.309-.225.394-.141s-.049.3-.127.394L15.251,22.507a1.123,1.123,0,0,0-.113,1.343L19.7,31.17a.594.594,0,0,0,1.069-.014L31.444,5.344a.592.592,0,0,0-.8-.78Z"
                transform="translate(-4.502 -4.503)" fill="#fff" />
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div> 
</section>