<section class="auth-sec-bg">
  <div class="container">
    <div class="row">
      <div class="col-xxl-5 col-lg-6 ms-auto">
        <svg class="mb-lg-4 auth-sec-logo" xmlns="http://www.w3.org/2000/svg" width="329.326" height="45"
          viewBox="0 0 329.326 45">
          <g id="Group_21" data-name="Group 21" transform="translate(-1100 -226)">
            <path id="Path_71" data-name="Path 71"
              d="M10.744.476a22,22,0,0,1-5.61-.714,13.8,13.8,0,0,1-4.42-1.9l2.21-4.964a14.3,14.3,0,0,0,3.706,1.7,14.108,14.108,0,0,0,4.148.646q3.876,0,3.876-1.938a1.6,1.6,0,0,0-1.105-1.513A20.321,20.321,0,0,0,10-9.248a33.912,33.912,0,0,1-4.488-1.241,7.554,7.554,0,0,1-3.094-2.125,5.742,5.742,0,0,1-1.292-3.944,6.828,6.828,0,0,1,1.19-3.927,7.963,7.963,0,0,1,3.553-2.771,14.624,14.624,0,0,1,5.8-1.02,20.449,20.449,0,0,1,4.624.527A14.16,14.16,0,0,1,20.3-22.2l-2.074,5a13.855,13.855,0,0,0-6.6-1.836,5.53,5.53,0,0,0-2.924.6A1.784,1.784,0,0,0,7.786-16.9,1.534,1.534,0,0,0,8.874-15.47a19.672,19.672,0,0,0,3.5.986,32.807,32.807,0,0,1,4.505,1.241,7.779,7.779,0,0,1,3.094,2.108,5.63,5.63,0,0,1,1.309,3.927,6.694,6.694,0,0,1-1.19,3.876,8.112,8.112,0,0,1-3.57,2.771A14.44,14.44,0,0,1,10.744.476Zm29.58-5.1H30.26L28.39,0H21.522L32.028-23.8h6.63L49.2,0h-7ZM38.352-9.588,35.292-17.2l-3.06,7.616ZM72.59,0l-.068-12.614L66.4-2.346H63.41l-6.086-9.928V0H51.1V-23.8h5.542l8.364,13.736L73.168-23.8H78.71L78.778,0Zm30.056-5.2V0H83.538V-23.8H102.2v5.2h-12v4.012h10.574v5.032H90.2V-5.2ZM116.28-23.8h11.254a15.754,15.754,0,0,1,6.936,1.462,11.012,11.012,0,0,1,4.692,4.148,11.688,11.688,0,0,1,1.666,6.29,11.688,11.688,0,0,1-1.666,6.29,11.012,11.012,0,0,1-4.692,4.148A15.754,15.754,0,0,1,127.534,0H116.28ZM127.262-5.372a6.9,6.9,0,0,0,4.913-1.734,6.245,6.245,0,0,0,1.853-4.794,6.245,6.245,0,0,0-1.853-4.794,6.9,6.9,0,0,0-4.913-1.734h-4.25V-5.372Zm32.708.748H149.906L148.036,0h-6.868l10.506-23.8h6.63L168.844,0h-7ZM158-9.588l-3.06-7.616-3.06,7.616Zm24,1.054V0H175.27V-8.636L166.192-23.8H173.3l5.644,9.452,5.644-9.452h6.528ZM213.588-23.8a13.574,13.574,0,0,1,5.61,1.071,8.32,8.32,0,0,1,3.672,3.06,8.39,8.39,0,0,1,1.292,4.675,8.307,8.307,0,0,1-1.292,4.658A8.361,8.361,0,0,1,219.2-7.293a13.574,13.574,0,0,1-5.61,1.071H209.44V0h-6.732V-23.8Zm-.408,12.274a4.7,4.7,0,0,0,3.128-.9,3.192,3.192,0,0,0,1.054-2.567,3.244,3.244,0,0,0-1.054-2.584,4.643,4.643,0,0,0-3.128-.918h-3.74v6.97Zm29,6.9H232.118L230.248,0H223.38l10.506-23.8h6.63L251.056,0h-7ZM240.21-9.588,237.15-17.2l-3.06,7.616Zm24,1.054V0h-6.732V-8.636L248.4-23.8h7.106l5.644,9.452L266.8-23.8h6.528Z"
              transform="translate(1156 259)" fill="#3b5998" />
            <g id="Rectangle_10" data-name="Rectangle 10" transform="translate(1100 226)" fill="rgba(255,255,255,0)"
              stroke="#3b5998" stroke-width="8">
              <rect width="45" height="45" stroke="none" />
              <rect x="4" y="4" width="37" height="37" fill="none" />
            </g>
          </g>
        </svg>
        <h2 class="fw-bolder mb-1 text-dark">Forgotten Password?</h2>
        <h5 class="mb-5">We will email you a password reset code.</h5>


        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <input type="text" class="form-control" formControlName="email" id="email" autocomplete="off"
              placeholder="Email">
          </div>
          <div class="alert alert-danger mt-2 py-2"
              *ngIf="error_message!==''">
              {{error_message}}
            </div>
          <button class="btn btn-primary w-100 mt-4" [disabled]="forgotPasswordForm.invalid">Send</button>

          <div class="text-center mt-4">
            Remembered your password? <a class="fw-bolder text-dark" routerLink="/login">Login Here</a>
          </div>
        </form>



      </div>
    </div>
  </div>
</section>
