/* You can add global styles to this file, and also import other style files */
@import '../src/assets/scss/variables.scss';
/* Fonts Size */
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
    & {

      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1000px;
$min_font: 13px;
$max_font: 15px;
/**/
html {
  height: 100%;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  height: 100%;
  color: $text-color;
}
a { text-decoration: none; }
@media (min-width: 1540px) {
  .container {
    max-width: 1440px;
  }
}

/* Font Size */
h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1 {
  font-weight: 400;
}
h1,.h1 {
  font-size: 3.5rem;
  @media (max-width: 1399px) {
    font-size: 3rem;
  }
  @media (max-width: 767px) {
    font-size: 2.5rem;
  }
}

h2,.h2 {
  font-size: 2.25rem;

  @media (max-width: 575px) {
    font-size: 1.9rem;
  }
}

h3,.h3 {
  font-size: 1.875rem;
  @media (max-width: 767px) {
    font-size: 1.75rem;
  }
  @media (max-width: 575px) {
    font-size: 1.5rem;
  }
}

h4,.h4 {
  font-size: 1.5rem;
}

h5,.h5 {
  font-size: 1.25rem;

  @media (max-width: 575px) {
    font-size: 1.125rem;
  }
}
h6,.h6 {
  font-size: 1.125rem;

  @media (max-width: 575px) {
    font-size: 1rem;
  }
}


/*****/

.fs-1 {
  font-size: 3.75rem !important;
}

.fs-2 {
  font-size: 2.25rem !important;

  @media (max-width: 575px) {
    font-size: 1.9rem !important;
  }
}

.fs-3 {
  font-size: 1.875rem !important;
}

.fs-4 {
  font-size: 1.5rem !important;
}

.fs-5 {
  font-size: 1.25rem !important;

  @media (max-width: 575px) {
    font-size: 1.125rem !important;
  }
}

.fs-6 {
  font-size: 1.125rem !important;

  @media (max-width: 575px) {
    font-size: 1rem !important;
  }
}
.fs-7 {
  font-size: 0.875rem !important;
}
/**/
.fw-medium {
  font-weight: 500 !important;
}
.fw-bolder {
  font-weight: 600 !important;
}
/**/
hr {
  background-color: #D4D9E3;
  opacity: 1;
}
/* Buttons */
button:focus {
  outline: 1px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

.btn {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.48rem 0.75rem;
  border-radius: 6px;

  @media (max-width: 575px) {
    font-size: 1.125rem;
  }

  &.btn-lg {
    padding: 0.85rem 1.75rem;
  }
  &.btn-sm {
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
  }
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled
 {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-button-border;

  
}
.btn-primary.disabled, .btn-primary:disabled {
    opacity: 0.5;
}

.btn-primary:hover {
  color: #fff;
  background-color: $primary-button-border;
  border-color: $primary-color;
}

/**/
.btn-outline-primary,
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: $primary-color;
  background-color: transparent;
  border-color: $primary-color;


}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  opacity: 0.5;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}
/**/
.btn-outline-default,
.btn-outline-default.disabled,
.btn-outline-default:disabled {
  color: $light-text;
  background-color: transparent;
  border-color: $light-text;
}

/**/
.btn-warning {
  color: #fff;
  background-color: $warning-color;
  border-color: $warning-border;
}

.btn-warning:hover {
  color: #fff;
  background-color: $warning-border;
  border-color: $warning-color;
}

.btn-success {
  color: #fff;
  background-color: $success-color;
  border-color: $success-border;
}

.btn-outline-secondary {
  color: $text-color;
  border-color: $light-text;
  background-color: $secondary-color;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
  color: $text-color;
  border-color: $light-text;
  background-color: #fff;
}
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
  box-shadow: 0 0 0 0.25rem rgb(108 117 125 / 10%);
}
.show.dropdown {
  .btn-outline-secondary {
    background-color: #fff;
  }
}


/**/
.btn-social {
  padding: 0;
  span {
    display: inline-block;
    padding: 0.671rem 1.5rem;
    border-right: 1px solid $primary-button-border;
    margin-right: 1.5rem;

    @media (max-width: 575px) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      margin-right: 1rem;
    }

    svg {
      @media (max-width: 575px) {
        width: 10px;
      }
    }

  }
}

.btn-social:hover span {
  border-right-color: $primary-button-border;
}
/* Badge */
.badge-success {
  border:1px solid $success-color;
  background-color: transparent;
  color: $success-color;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.616rem 1.25rem 0.55rem 1.25rem;
  @media (max-width: 991px) {
    font-size: 0.8rem;
    padding: 0.316rem 1.25rem 0.3rem 0.75rem;
  }
  @media (max-width: 767px) {
    padding: 0.216rem 0.5rem 0.2rem 0.5rem;
  }
  svg {
    margin-top: -3px;
    margin-right: 0.35rem;
    @media (max-width: 991px) {
      width: 18px;
    }
    @media (max-width: 767px) {
      width: 16px;
      margin-right: 0;
      position: relative;
      top: 1px;
    }
  }
}

.badge-danger {
  border: 1px solid $danger-color;
  background-color: transparent;
  color: $danger-color;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.616rem 1.25rem 0.55rem 1.25rem;

  @media (max-width: 991px) {
    font-size: 0.8rem;
    padding: 0.316rem 1.25rem 0.3rem 0.75rem;
  }

  @media (max-width: 767px) {
    padding: 0.216rem 0.5rem 0.2rem 0.5rem;
  }

  svg {
    margin-top: -3px;
    margin-right: 0.35rem;

    @media (max-width: 991px) {
      width: 18px;
    }

    @media (max-width: 767px) {
      width: 16px;
      margin-right: 0;
      position: relative;
      top: 1px;
    }
  }
}

.badge-warning {
  border: 1px solid $warning-color;
  background-color: transparent;
  color: $warning-color;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.616rem 1.25rem 0.55rem 1.25rem;

  @media (max-width: 991px) {
    font-size: 0.8rem;
    padding: 0.316rem 1.25rem 0.3rem 0.75rem;
  }

  @media (max-width: 767px) {
    padding: 0.216rem 0.5rem 0.2rem 0.5rem;
  }

  svg {
    margin-top: -3px;
    margin-right: 0.35rem;

    @media (max-width: 991px) {
      width: 18px;
    }

    @media (max-width: 767px) {
      width: 16px;
      margin-right: 0;
      position: relative;
      top: 1px;
    }
  }
}
.badges-wrap {
  .badge {
    &+.badge {
      margin-left: 0.75rem;
    }
  }
}
/* Background Color */
.bg-primary {
  background-color: $primary-color !important;
}
.bg-secondary {
  background-color: $secondary-color !important;
}
.bg-yellow {
  background-color: $yellow-color !important;
}
.bg-green {
  background-color: $green-color !important;
}
.bg-red {
  background-color: $red-color !important;
}
.bg-light-blue {
  background-color: $light-blue-color !important;
}
.bg-cyan {
  background-color: $cyan-color !important;
}
.bg-chartreuse {
  background-color: $chartreuse-color !important;
}
.bg-orange {
  background-color: $orange-color !important;
}

/* Text Color */
.text-color {
  color: $text-color !important;
}
.text-primary {
  color: $primary-color !important;
}
.text-success {
  color: $success-color !important;
}
.text-muted {
  color: $light-text !important;
}
/* Rating */
.rating-star {
  span {
    padding: 0 1px;
    font-size: 29px;
    color: $yellow-color;
  }
  .sr-only {
    display: none;
  }
}

/* Tabel */

.sorting:before {
  content: "";
  position: absolute;
  right: -22px;
  top: 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $light-text;
  cursor: pointer;
  
}
.sorting:after {
  content: "";
  position: absolute;
  right: -22px;
  top: 11px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $light-text;
  cursor: pointer;
}
.sorting {
  position: relative;
  display: inline-block;
  &.ascending {
    &:before {
      border-bottom: 5px solid $primary-color;
    }
  }
  &.descending {

    &:after {
      border-top: 5px solid $primary-color;
    }
  }
}
/**/
.opacity-25 { opacity: 0.25; }
/**/
.content-box {
  background-color: #fff;
  border: 1px solid #D4D9E3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
/**/
.icon-with-text {
  position: relative;
  padding-left: 30px;
  min-height: 20px;
  @media (max-width: 575px) {
    padding-left: 22px;
  }
  .icon-span {
    position: absolute;
    left: 0;
    top: -2px;
    @media (max-width: 575px) {
      top: -1px;
    }
    svg {
      width: 20px;
      max-height: 27px;
      @media (max-width: 575px) {
        width: 15px;
      }
    }
  }
}

/* Form */
.form-control {
  font-size: 1.125rem;
  border-color: #bbbbbb;
  padding: 0.6rem 1.25rem;
  border-radius: 6px;

  @media (max-width: 575px) {
    font-size: 1rem;
  }

}
.form-control:focus {
  box-shadow: none;
  border-color: #185EEF;
}

/* Placeholder */
.form-control::placeholder {
  color: #9F9F9F;
}

.form-control:-ms-input-placeholder {
  color: #9F9F9F;
}

.form-control::-ms-input-placeholder {
  color: #9F9F9F;
}

/* Select */
.form-select {
  font-size: 1.125rem;
  border-color: #bbbbbb;
  padding: 0.75rem 1.25rem;
  border-radius: 6px;

  @media (max-width: 575px) {
    font-size: 1rem;
  }
}
/* Checkbox */
.form-check-input:checked {
  background-color: $primary-color;
  border-color: $primary-color;
}
.custom-check {
  min-height: 2rem;
  padding-left: 2em;
  .form-check-input {
    width: 20px;
    height: 20px;
    border-width: 2px;
    margin-left: -2em;
  }
  .form-check-label {
    padding-top: 0.25rem;
  }
}
/* Switch */
.form-switch {
  padding-left: 4.75em;
  min-height: 2.35rem;
  .form-check-label {
    font-size: 1.25rem;
    font-weight: 600;
    min-height: 2.35rem;
    display: inline-flex;
    align-items: center;
  }
  .form-check-input {
    height: 30px;
    width: 58px;
    margin-left: -4.75em;
    &:checked {
      background-color: $success-color;
      border-color: $success-color;
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgb(54 164 32 / 25%);
      border-color: $success-color;
    }
  }
  &.left-switch {
    padding-right: 4.75em;
    padding-left: 0;

    .form-check-input {
      float: right;
      margin-right: -4.75em;
    }
  }
}


/**/
.form-group {
  .autocomplete-container {
    box-shadow: none;
    .input-container {
      input {
        font-size: 1.125rem;
          border: 1px solid #bbbbbb;
          padding: 0.6rem 1.25rem;
          border-radius: 6px;
      }
    }
  }
}


/* Modal */
.modal-body {
  padding: 2.5rem 2.5rem;
  @media screen and (max-width:767px) {
    padding: 1.5rem 1.5rem;
  }
}
.modal-xl {
  @media screen and (max-width:991px) {
    max-width: 680px;
  }
  
}
/* Pagination */
.custom-pagination {
  .ngx-pagination {
    padding: 0;
    margin-bottom: 0;
    li {
      margin: 0 7px;
      font-weight: 500;
      border-radius: 6px;
      @media screen and (max-width:1199px) {
        margin-left: 3px;
        margin-right: 3px;
      }
      &.current {
        background-color: $primary-color;
        
      }
      a {
        border-radius: 6px;
      }
    }
    
  }
  .per-page-wrap {
    .form-select {
      font-size: 1rem;
      padding: 0.25rem 0.75rem;
      max-width: 70px;
    }
  }
}

/* Fiters Style */
.list-filters {
  .btn-outline-secondary {
    font-size: 1rem;

    svg {
      width: 20px;
      max-height: 20px;
      //   path {
      //     fill: $light-text;
      //     stroke: $light-text;
      //   }
    }
  }

  .multiple-filter {
    .dropdown-menu {
      min-width: 290px;
      left: auto;
      right: -20px;
      border-radius: 10px;
      border: 1px solid #B9B9B9;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      transform: translate(-148px, 51px) !important;
      @media screen and (max-width:767px) {
        left: 100% !important;
        margin-left: 35px;
      }
      .dropdown-item {
        padding: 0.75rem 1.5rem;
        font-size: 1.15rem;
        font-weight: 500;
        display: flex;
        align-items: center;

        svg {
          margin-right: 0.75rem;
          height: 20px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        right: 31px;
        top: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        @media screen and (max-width:767px) {
          right: 182px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        right: 31px;
        top: -11px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #B9B9B9;
        @media screen and (max-width:767px) {
          right: 182px;
        }
      }

      .form-select {
        font-size: 1rem;
        padding: 0.4rem 1rem;
      }
    }
  }
  .calendar-filter {
    .dropdown-menu {
      padding: 10px 5px;
      border-radius: 10px;
      border: 1px solid #B9B9B9;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      .ngb-dp-day,
      .ngb-dp-week-number,
      .ngb-dp-weekday {
            width: 2.25rem;
      }
      .ngb-dp-header {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
        .btn-link {
          color: $primary-color;
        }
        .custom-select {
          border-radius: 4px;
          border: 1px solid #ccc;
          margin: 0 2px;
        }
      }
      &:after {
        content: '';
        position: absolute;
        right: 24px;
        top: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }

      &:before {
        content: '';
        position: absolute;
        right: 24px;
        top: -11px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #B9B9B9;
      }
    }
  }

  .form-switch {
    .form-check-label {
      font-size: 1rem;
    }
  }
}

/**/
.auth-sec-bg {
  background-image: url(../src/assets/images/auth-sec-bg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-color: #EDF0F6;
  min-height: 100%;
  padding: 50px 0;
  display: flex;
  align-items: center;

  @media (max-width: 1460px) {
    background-size: 54% auto;
  }

  @media (max-width: 991px) {
    background-size: 500px auto;
    background-position: center top 75px;
    padding-top: 30px;
    align-items: normal;
    background-image: none;
  }

  @media (max-width: 575px) {
    background-size: 400px auto;
  }
 
}
@media screen and (max-width:576px){
  .calendar-filter .dropdown-menu {
    transform: translate(-165px, 53px) !important;
    left: 42px!important;
}
}
.auth-sec-logo {
  @media (max-width: 991px) {
    width: 250px;
    // margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    // margin-bottom: 440px;
  }

  @media (max-width: 575px) {
    // margin-bottom: 340px;
  }
}

/**/
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #B5B6B8;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #B5B6B8;
}

.separator:not(:empty)::before {
  margin-right: .75em;
}

.separator:not(:empty)::after {
  margin-left: .75em;
}
.vl {
  width: 1px;
  height: 100%;
  background-color: #D4D4D4;
  display: block;
}
/* Modal */
.close {
  position: absolute;
  right: -8px;
  border: none;
  background: $dark-text;
  width: 26px;
  height: 26px;
  padding: 0 0 4px 2px;
  border: 1px solid #fff;
  top: -8px;
  border-radius: 50%;
  text-align: center;
  line-height: 1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 9;
}
/* Main Menu Modal */
.main-menu-modal {
  .list-group-item {
    font-size: 2.25rem;
    min-width: 384px;
    padding-left: 3rem;
    padding-right: 3rem;
    @media screen and (max-width:767px) {
      min-width: inherit;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1.25rem;
    }
    a {
      color: $dark-text;
      text-decoration: none;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .close {
    position: absolute;
    right: 30px;
    top: 20px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    z-index: 9;
    width: 52px;
    height: 52px;
    @media screen and (max-width:767px) {
      right: 10px;
      top: 11px;
    }
    svg {
      @media screen and (max-width:767px) {
        width: 30px;
        height: 30px;
      }
    }
    
  }
  .menu-on-profile {
    background-color: #EDF0F6;
    margin: -26px -20px 20px -20px !important;
    padding: 18px;
    border-bottom: 1px solid #ddd;
    .menuItem-lng {
      .dropdown-toggle {
        font-weight: 500;
        background-color: transparent;
        color: #3B5998;
        border-radius: 10px;
        padding: 0.563rem 0.85rem;
        font-size: 1rem;
        border: none;
        padding-left: 0;

        img {
          margin-right: 0.5rem;
        }
      }
    }
  }
  

}

.calendar-filter {
  .dropdown-menu {
    transform: translate(-200px, 53px) !important;
  }
}

/**/
.app-install-bar {
  background-color: $primary-color;
}