/*##########################################################banner css#################################################################*/
.error{
  color: #FF0000;
} 
.header {
  background-color: transparent;
}
.banner {
  background-image: url('../../assets/images/banner.png');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;

  .find-job {
    .form-group {
      // width: 36.5%;
      // margin: 0 27px 0 0;
      position: relative;

      label {
        color: #000;
        top: 15px;
        left: 23px;
        font-size: 1.25rem;
        font-weight: 600;
        @media screen and (max-width:575px) {
          top: 12px;
          left: 16px;
          font-size: 1.15rem;
        }
      }

      .form-control {
        height: 56px;
        border: 0px;
        @media screen and (max-width:575px) {
          height: 46px;
        }
      }

      .select-distance {
        padding-left: 5px;
      }
    }

  }
}



.skill {
  padding-left: 60px;
  background: #fff;
  border-radius: 6px;
  @media screen and (max-width:575px) {
    padding-left: 44px;
  }
}


.banner-info {
  padding: 165px 0px;
}

.distance-radius {
  background: white;
  padding-left: 180px;
  border-radius: 8px;
  @media screen and (max-width:575px) {
    padding-left: 148px;
  }
}


.distance-radius select {
  border: 0px;
}

@media screen and (max-width:1350px) {
  body .ul-divide ul {
    width: 47%;
  }

  .find-job .form-group label {
    top: 18px;
    left: 23px;
    font-size: 1rem;
  }
}

@media screen and (max-width:1199px) {

  body .ul-divide ul {
    width: 100%;
  }

  .ul-divide.d-flex.justify-content-between {
    flex-direction: column;
  }

  body .ul-divide ul:first-child {
    border-right: 0px;
  }

  .banner-info {
    padding: 106px 0px;
    @media screen and (max-width:767px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

@media screen and (max-width:991px) {


  .find-job .form-group label {
    top: 14px;
    left: 23px;
    font-size: 0.875rem;
  }

}

/*#########################################################posted-jobs##########################################################*/




.job-post-item {
  padding: 2em 2.25rem;
  border-radius: 6px;
  border: 1px solid #D4D9E3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  @media (max-width: 991px) {
    padding: 1.25em 1.5rem;
  }
  .post-heading {
    margin-bottom: 0.75rem;
  }
  .list-group-item {
    padding: 0.15rem 0;
  }
}
.job-post-item+.job-post-item {
  margin-top: 35px;
}

.icon-with-text-wrap li {
  
  @media (min-width: 768px) {
    border-right: 1px solid #D4D4D4;
    padding: 0 25px 0 0;
    margin-right: 25px;
  }
}

.icon-with-text-wrap li:last-child {
  border: 0px;
  @media (max-width: 767px) {
    margin-top: 14px;
  }
  @media (max-width: 575px) {
    margin-top: 6px;
  }
}

.posted-jobs {
  // background: #EDF0F6;
  // padding: 80px 0;
  @media (max-width: 767px) {
    padding: 50px 0;
  }
}

.earn {
  h2 {
    @media (max-width: 991px) {
      font-size: 2rem;
    }
    @media (max-width: 767px) {
      font-size: 1.75rem;
    }
  }
  span {
    font-size: 1.125rem;
    font-weight: 600;
    color: #707070;
  }
  .btn {
    @media (max-width: 991px) {
      font-size: 1.15rem;
      width: 144px !important;
    }

  }
  .item-Favourite {
    svg {
      @media (max-width: 991px) {
        width: 18px;
      }
    }
    span {
      @media (max-width: 991px) {
        font-size: 1rem;
      }
    }
  }
}


@media screen and (max-width:767px) {
  .one-row {
    flex-direction: column;
  }

  .one-row li {
    border-right: 0;
    padding: 0;
    margin: 0px 0 10px !important;
  }
}

/**/
.apply-job-terms {
  background-color: #F8F8F8;
  max-height: 120px;
  overflow: auto;
  padding: 17px 26px 20px 26px;
  border-radius: 6px;
  border: 1px solid #D4D9E3;
  margin-top: 30px;
  line-height: 1.72;
  font-size: 14px;
  .apply-job-terms-inner {
    
  }
}



