<section class="your-job py-3 py-lg-5 bg-secondary">
  <div class="container">
    <div class="content-box p-4 p-lg-5">
      <div class="job-consultancy bg-white">
        <h3 class="text-dark fw-bolder mb-4">Job Offered</h3>

        <div class="table-head d-none d-md-block">
          <div class="row">
            <div class="col-md-6">
              <span class="text-muted fw-medium">
                Job
              </span>
            </div>
            <div class="col-md-3">
              <span class="text-muted fw-medium sorting" [ngClass]="{'ascending': order=='ASC', 'descending':order=='DESC'}" #filterBySort (click)="onFilterChangeSortBy(filterBySort.value)">
                Job Date
              </span>
            </div>
            <div class="col-md-3">
              <span class="text-muted fw-medium">
                Status
              </span>
            </div>
          </div>
        </div>
        <div class="table-body" *ngFor="let job of jobs | paginate : {
          itemsPerPage: limit,
          currentPage: this_page,
          totalItems: total
        };">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h4 class="text-dark fw-bolder pb-1" style="cursor: pointer;" (click)="open(mymodal, job.job_id)">{{job.job_type}}</h4>
              <div class="mb-2 mt-2 mb-sm-3 icon-with-text">
                <span class="icon-span">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19.232" height="27" viewBox="0 0 19.232 27">
                    <g id="location-outline" transform="translate(-7 -2.5)">
                      <path id="Path_7" data-name="Path 7"
                        d="M16.616,3.375a8.539,8.539,0,0,0-8.741,8.316c0,5.281,5.827,13.65,7.967,16.54a.957.957,0,0,0,1.548,0c2.139-2.889,7.967-11.255,7.967-16.54A8.54,8.54,0,0,0,16.616,3.375Z"
                        transform="translate(0 0)" fill="none" stroke="#707070" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.75"></path>
                      <path id="Path_8" data-name="Path 8"
                        d="M21.375,13.5A3.375,3.375,0,1,1,18,10.125,3.375,3.375,0,0,1,21.375,13.5Z"
                        transform="translate(-1.384 -1.2)" fill="none" stroke="#707070" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.75"></path>
                    </g>
                  </svg>
                </span>
                <span class="fw-medium">{{job.job_location}}</span>
              </div>
              <!-- <div class="text-dark fw-bolder text-status-label" *ngIf="job.job_rejected== true">
                <span class="dot rounded-circle bg-danger"></span>
                Your application has been rejected.
              </div> -->
              <div class="text-dark fw-bolder text-status-label" *ngIf="job.job_accepted== true">
                <span class="dot rounded-circle bg-green"></span>
                You have been hired for this job. We have emailed you full details of the job and look forward to seeing you on {{job.job_date}}. If you have any questions please <a routerLink="/messages">contact us</a>.
              </div>
              <div class="text-dark fw-bolder text-status-label" *ngIf="job.job_offered==true && job.job_rejected==true">
                <span class="dot rounded-circle bg-danger"></span>
                You have declined this job offer. If you have any questions or have changed your mind, please <a routerLink="/messages">contact us</a>.
              </div>
              <div class="text-dark fw-bolder text-status-label" *ngIf="job.job_staffed== true">
                <span class="dot rounded-circle bg-red"></span>
                Your application has been fully staffed.
              </div>
              <div class="text-dark fw-bolder text-status-label" *ngIf="job.job_applied== true && job.job_offered== false">
                <span class="dot rounded-circle bg-green"></span>
                Your application for this job has been received and is being reviewed. We will let you know if your application is successful as soon as a decision is made.
              </div>
              <div class="text-dark fw-bolder text-status-label" *ngIf="job.job_offered== true && job.job_accepted==false && job.job_rejected==false">
                <span class="dot rounded-circle bg-green"></span>
                Congratulations you have been offered this job at {{job.job_offered_earn}}. You must accept this offer by {{job.job_offer_expires}} or the offer will be withdrawn.
              </div>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
              <p class="text-dark fw-medium mb-0">{{job.job_date}}</p>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
              <span class="status-badge badge-green sm align-top" *ngIf="job.job_applied== true">Applied</span>
              <span class="status-badge badge-green sm align-top" *ngIf="job.job_accepted== true">Accepted</span>
              <span class="status-badge badge-green sm align-top" *ngIf="job.job_offered== true">Offered</span>
              <span class="status-badge badge-red sm align-top" *ngIf="job.job_rejected== true">Declined</span>              
              <span class="status-badge badge-red sm align-top" *ngIf="job.job_staffed== true">Fully Staffed</span>              
              <span class="status-badge badge-red sm align-top" *ngIf="job.job_offer_expired==true">Expired</span>
              <!-- <span class="status-badge bg-green text-white" *ngIf="job.job_offered== true">Offered</span> -->
              <button class="btn btn-warning btn-sm m-1" (click)="offerJobEdit(job.job_id, 'withdraw')" *ngIf="job.job_accepted==true && job.job_offered==true && job.job_offer_expired== false && job.job_rejected==false">Withdraw</button>              
              <button class="btn btn-primary btn-sm m-1" (click)="offerJobEdit(job.job_id, 'accept')" *ngIf="job.job_offered==true && job.job_offer_expired==false && job.job_accepted==false && job.job_rejected==false">Accept</button>
              <button class="btn btn-outline-primary btn-sm m-1" (click)="offerJobEdit(job.job_id, 'decline')" *ngIf="job.job_offered==true && job.job_offer_expired==false && job.job_accepted==false && job.job_rejected==false">Decline</button>              

              <div class="alert alert-success mb-0 p-2" *ngIf="message!=='' && row_id==job.job_id">
                {{message}}
              </div>
              <div class="alert alert-danger mb-0 p-2" *ngIf="error_message!=='' && row_id==job.job_id">
                {{error_message}}
              </div>

            </div>
          </div>
        </div>
        <div class="table-body" *ngIf="!(jobs?.length > 0) && !loader">
          <div class="row align-items-center">
            <div class="col-md-12 text-center">
              You have no job offered.
            </div>
          </div>
        </div>

        <div class="text-center" *ngIf="loader">
          <img src="../../assets/images/text-loading.svg" alt="" />
        </div>
        
      </div>
    </div>

    <div class="custom-pagination">
      <div class="row align-items-center mt-5">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
          <div class="text-center" *ngIf="jobs?.length > 0">
            <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
              (pageChange)="handlePageChange($event)"></pagination-controls>
          </div>
        </div>
        <div class="col-lg-2">
          <div
            class="per-page-wrap d-flex align-items-center justify-content-center justify-content-lg-end mt-3 mt-lg-0">
            <div class="fw-medium fs-7 text-nowrap pe-2">Per page</div>
            <select class="form-select w-100" aria-label="Default select example" #filterByPage (change)="onFilterChangeLimit(filterByPage.value)">
              <option value="10">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
            </select>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #mymodal let-modal >
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="11.414" height="11.414" viewBox="0 0 11.414 11.414">
        <g id="Group_21" data-name="Group 21" transform="translate(-1497.793 -105.793)">
          <line id="Line_62" data-name="Line 62" x2="10" y2="10" transform="translate(1498.5 106.5)" fill="none"
            stroke="#fff" stroke-width="2" />
          <line id="Line_63" data-name="Line 63" x1="10" y2="10" transform="translate(1498.5 106.5)" fill="none"
            stroke="#fff" stroke-width="2" />
        </g>
      </svg>
    </span>
  </button>
  <div class="modal-body">    
    <div class="job-post-item p-0 border-0 shadow-none">
      <h3 class="post-heading text-dark fw-bolder">{{jobDetails.job_type}}</h3>
      <div class="row">              
        <div class="col">
          
          <div class="mb-3 icon-with-text">
            <span class="icon-span">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22.857" viewBox="0 0 20 22.857">
                <path id="calendar-regular"
                  d="M17.857,2.857H15.714V.536A.537.537,0,0,0,15.179,0H13.393a.537.537,0,0,0-.536.536V2.857H7.143V.536A.537.537,0,0,0,6.607,0H4.821a.537.537,0,0,0-.536.536V2.857H2.143A2.143,2.143,0,0,0,0,5V20.714a2.143,2.143,0,0,0,2.143,2.143H17.857A2.143,2.143,0,0,0,20,20.714V5A2.143,2.143,0,0,0,17.857,2.857ZM17.8,20.982H2.231a.269.269,0,0,1-.268-.268L1.942,6.533h16.1l.021,14.182A.269.269,0,0,1,17.8,20.982Z"
                  fill="#707070" />
              </svg>
            </span>
            <span class="fw-medium">{{jobDetails.job_date}}</span>

          </div>
          <ul class="icon-with-text-wrap d-md-flex mb-4 list-unstyled">
            <li class="">
              <div class="icon-with-text">
                <span class="icon-span">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19.232" height="27" viewBox="0 0 19.232 27">
                    <g id="location-outline" transform="translate(-7 -2.5)">
                      <path id="Path_7" data-name="Path 7"
                        d="M16.616,3.375a8.539,8.539,0,0,0-8.741,8.316c0,5.281,5.827,13.65,7.967,16.54a.957.957,0,0,0,1.548,0c2.139-2.889,7.967-11.255,7.967-16.54A8.54,8.54,0,0,0,16.616,3.375Z"
                        transform="translate(0 0)" fill="none" stroke="#707070" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.75" />
                      <path id="Path_8" data-name="Path 8"
                        d="M21.375,13.5A3.375,3.375,0,1,1,18,10.125,3.375,3.375,0,0,1,21.375,13.5Z"
                        transform="translate(-1.384 -1.2)" fill="none" stroke="#707070" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.75" />
                    </g>
                  </svg>
                </span>
                <span class="fw-medium">{{jobDetails.job_location}}</span>
              </div>



            </li>
            <li class="d-flex">
              <div class="icon-with-text">
                <span class="icon-span">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                    <g id="time-outline" transform="translate(-3.625 -3.625)">
                      <path id="Path_9" data-name="Path 9" d="M15,4.5A10.5,10.5,0,1,0,25.5,15,10.5,10.5,0,0,0,15,4.5Z"
                        fill="none" stroke="#707070" stroke-miterlimit="10" stroke-width="1.75" />
                      <path id="Path_10" data-name="Path 10" d="M18,9v7.875h5.25" transform="translate(-3 -1)"
                        fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.75" />
                    </g>
                  </svg>
                </span>
                <span class="fw-medium">{{jobDetails.job_start_time}}</span>
              </div>
              <div class="px-3"> - </div>
              <div class="icon-with-text">
                <span class="icon-span">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                    <g id="time-outline" transform="translate(-3.625 -3.625)">
                      <path id="Path_9" data-name="Path 9" d="M15,4.5A10.5,10.5,0,1,0,25.5,15,10.5,10.5,0,0,0,15,4.5Z"
                        fill="none" stroke="#707070" stroke-miterlimit="10" stroke-width="1.75" />
                      <path id="Path_10" data-name="Path 10" d="M18,9v7.875h5.25" transform="translate(-3 -1)"
                        fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.75" />
                    </g>
                  </svg>
                </span>
                <span class="fw-medium">{{jobDetails.job_end_time}}</span>
              </div>

            </li>
          </ul>


          <ul class="icon-with-text-wrap d-md-flex mb-3 list-unstyled">
            <li class="">
              <div class="icon-with-text">
                <span class="icon-span">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewBox="0 0 28 26">
                    <path id="Meal-2"
                      d="M14,1C6.279,1,0,7.728,0,16a15.728,15.728,0,0,0,1.648,7H1.622A14.991,14.991,0,0,0,2.4,24.359c.043.069.076.147.12.215l.015-.012c.1.146.2.31.292.437H5.3a14.332,14.332,0,0,1-1.345-1.75A13.544,13.544,0,0,1,1.867,16C1.867,8.808,7.288,3,14,3S26.133,8.808,26.133,16a13.543,13.543,0,0,1-2.085,7.25A14.341,14.341,0,0,1,22.7,25h2.472c.1-.127.194-.292.292-.437l.015.012c.044-.068.077-.146.12-.215A14.99,14.99,0,0,0,26.378,23h-.026A15.729,15.729,0,0,0,28,16C28,7.728,21.721,1,14,1ZM10.267,9a4.219,4.219,0,0,0-3.423,2.336,8.843,8.843,0,0,0-1.243,4.5,5.417,5.417,0,0,0,1.378,3.836A4.357,4.357,0,0,0,9.333,20.91V27H11.2V20.91a4.355,4.355,0,0,0,2.355-1.238,5.419,5.419,0,0,0,1.378-3.836,8.847,8.847,0,0,0-1.243-4.5A4.218,4.218,0,0,0,10.267,9ZM16.8,9v8h1.867V9Zm3.733,0v9a.955.955,0,0,1-.933,1H16.195a6.731,6.731,0,0,1-1.119,1.863,2.605,2.605,0,0,0,.791.137H16.8v6h1.867V21H19.6a2.92,2.92,0,0,0,2.8-3V9ZM10.267,11a2.48,2.48,0,0,1,1.859,1.426,6.971,6.971,0,0,1,.941,3.41,3.252,3.252,0,0,1-.806,2.395,2.692,2.692,0,0,1-1.994.77,2.693,2.693,0,0,1-1.994-.77,3.25,3.25,0,0,1-.806-2.395,6.967,6.967,0,0,1,.941-3.41A2.48,2.48,0,0,1,10.267,11Z"
                      transform="translate(0 -1)" fill="#707070" />
                  </svg>
                </span>
                <span class="fw-medium">{{jobDetails.job_break_time}}</span>
              </div>



            </li>
            <li class="d-flex">
              <div class="icon-with-text">
                <span class="icon-span">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24.868" height="26.389" viewBox="0 0 24.868 26.389">
                    <g id="age" transform="translate(0.017 0)">
                      <path id="Path_84" data-name="Path 84"
                        d="M22.688,15.767a1.1,1.1,0,0,1,.158-.4h0a1.084,1.084,0,0,1,.3-.3,1.127,1.127,0,0,1,.391-.169,1.068,1.068,0,0,1,.427,0,1.1,1.1,0,0,1,.4.158h0a1.084,1.084,0,0,1,.3.3,1.127,1.127,0,0,1,.169.391,1.069,1.069,0,0,1,0,.427h0c-.032.172-.068.345-.108.514s-.083.345-.133.514-.1.345-.151.506-.108.32-.176.5-.129.341-.19.488-.133.309-.215.485q-.108.237-.237.474c-.083.154-.165.309-.255.463l0,.007a12.566,12.566,0,0,1-1.429,2,12.491,12.491,0,0,1-3.868,2.97,12.541,12.541,0,0,1-7.165,1.2,12.492,12.492,0,0,1-2.374-.55,12.9,12.9,0,0,1-2.234-1l-.083-.047a12.526,12.526,0,0,1-5.8-7.582,12.518,12.518,0,0,1-.327-4.859,12.52,12.52,0,0,1,.55-2.37,12.744,12.744,0,0,1,1-2.23l.022-.04A.678.678,0,0,1,1.7,7.546,12.785,12.785,0,0,1,3.114,5.578,12.508,12.508,0,0,1,18.769,3.017l.011.007a1.09,1.09,0,0,1,.532,1.081,1.109,1.109,0,0,1-.136.406,1.007,1.007,0,0,1-.28.32,1.071,1.071,0,0,1-.384.19,1.095,1.095,0,0,1-.83-.108h0a10.306,10.306,0,0,0-5.847-1.361,10.563,10.563,0,0,0-2,.33A10.382,10.382,0,0,0,6.206,5.668,10.093,10.093,0,0,0,4.734,7.05,10.529,10.529,0,0,0,3.556,8.7l-.032.057a10.224,10.224,0,0,0-.8,1.792,10.238,10.238,0,0,0-.524,3.994,10.563,10.563,0,0,0,.33,2A10.382,10.382,0,0,0,4.31,20.17a10.35,10.35,0,0,0,6.845,3.951,10.369,10.369,0,0,0,2.029.065,10.4,10.4,0,0,0,3.908-1.045,10.352,10.352,0,0,0,1.724-1.07,10.067,10.067,0,0,0,1.473-1.379,10.479,10.479,0,0,0,1.182-1.652c.072-.122.14-.248.2-.374.057-.108.122-.244.2-.4h0c.054-.111.111-.248.176-.4s.111-.273.158-.4h0c.047-.129.093-.262.14-.4s.086-.28.126-.42h0c.043-.154.079-.3.108-.424.043-.158.075-.3.1-.449ZM20.17,14.011H17.308a.913.913,0,0,0,.187.514.674.674,0,0,0,.539.241.826.826,0,0,0,.4-.1.861.861,0,0,0,.248-.233l1.408.129a2.006,2.006,0,0,1-.779.8A2.847,2.847,0,0,1,18,15.605,2.7,2.7,0,0,1,16.83,15.4a1.706,1.706,0,0,1-.7-.664,1.989,1.989,0,0,1-.28-1.07,1.883,1.883,0,0,1,.56-1.415,2.139,2.139,0,0,1,1.548-.542,2.756,2.756,0,0,1,1.264.244,1.636,1.636,0,0,1,.7.7,2.556,2.556,0,0,1,.241,1.2v.165Zm-1.455-.686a.966.966,0,0,0-.223-.593.7.7,0,0,0-1.02.09,1.009,1.009,0,0,0-.165.5ZM14,11.791h1.34v3.52l0,.165a1.539,1.539,0,0,1-.151.668,1.4,1.4,0,0,1-.4.514,1.562,1.562,0,0,1-.629.284,3.977,3.977,0,0,1-.873.09,2.564,2.564,0,0,1-1.544-.338,1.093,1.093,0,0,1-.42-.9c0-.047,0-.111.007-.19l1.386.158a.446.446,0,0,0,.162.266.683.683,0,0,0,.4.108.59.59,0,0,0,.46-.165.855.855,0,0,0,.151-.575V14.83a1.385,1.385,0,0,1-1.131.539,1.412,1.412,0,0,1-1.207-.654,2.1,2.1,0,0,1-.327-1.225,1.9,1.9,0,0,1,.42-1.329,1.423,1.423,0,0,1,1.1-.456,1.568,1.568,0,0,1,.718.147,1.586,1.586,0,0,1,.528.488v-.55ZM12.657,13.6a.892.892,0,0,0,.172.6.609.609,0,0,0,.9-.007.876.876,0,0,0,.18-.607.912.912,0,0,0-.19-.621.592.592,0,0,0-.463-.215.527.527,0,0,0-.435.2,1.031,1.031,0,0,0-.162.654Zm-3.408,1.07H7.438l-.248.848H5.567L7.5,10.369H9.234l1.936,5.147H9.507l-.259-.848Zm-.334-1.11-.567-1.85-.564,1.85Zm8.749-5.01a1.09,1.09,0,0,1-.424.05,1.078,1.078,0,0,1-.409-.119h0a1.082,1.082,0,0,1-.334-.266,1.135,1.135,0,0,1-.208-.37,1.09,1.09,0,0,1-.05-.424,1.077,1.077,0,0,1,.119-.413,1.029,1.029,0,0,1,.266-.33,1.135,1.135,0,0,1,.37-.208L21.1,5.154,19.251,1.6a1.069,1.069,0,0,1-.119-.409,1.125,1.125,0,0,1,.047-.424,1.045,1.045,0,0,1,.2-.377A1.085,1.085,0,0,1,20.127,0a1.125,1.125,0,0,1,.424.047,1.1,1.1,0,0,1,.377.2,1.062,1.062,0,0,1,.266.334l2.449,4.7a.529.529,0,0,0,.036.079l.018.05.014.047a1.112,1.112,0,0,1,.047.417,1.077,1.077,0,0,1-.119.413,1.029,1.029,0,0,1-.266.33,1.135,1.135,0,0,1-.37.208L17.663,8.548Z"
                        transform="translate(0 0)" fill="#707070" fill-rule="evenodd" />
                    </g>
                  </svg>

                </span>
                <span class="fw-medium">{{jobDetails.job_min_age}} years</span>
              </div>
              

            </li>
          </ul>

          <div class="badge badge-danger mb-4" *ngIf="jobDetails.job_req_dl==true">
            <svg xmlns="http://www.w3.org/2000/svg" width="17.047" height="19.312" viewBox="0 0 17.047 19.312">
              <g id="asterisk" transform="translate(-2.111)">
                <path id="Path_83" data-name="Path 83"
                  d="M10.634,0a1.207,1.207,0,0,1,1.207,1.207V7.565l5.506-3.179a1.207,1.207,0,1,1,1.207,2.09L13.048,9.656l5.506,3.179a1.207,1.207,0,1,1-1.207,2.09l-5.506-3.179V18.1a1.207,1.207,0,0,1-2.414,0V11.746L3.921,14.925a1.207,1.207,0,1,1-1.207-2.09L8.22,9.656,2.714,6.476a1.207,1.207,0,1,1,1.207-2.09L9.427,7.565V1.207A1.207,1.207,0,0,1,10.634,0Z"
                  transform="translate(0 0)" fill="#e41616" fill-rule="evenodd" />
              </g>
            </svg>


            Driving license required
          </div>

          <div class="badge badge-warning mb-4 ms-3" *ngIf="jobDetails.job_staffed==true">
            <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
              <g id="checkmark-circle-outline" transform="translate(0.875 0.875)">
                <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                  transform="translate(-4.5 -4.5)" fill="none" stroke="#f34515" stroke-miterlimit="10"
                  stroke-width="1.75" />
                <path id="Path_12" data-name="Path 12" d="M21.75,12.375,14.4,22.625l-3.15-4.1"
                  transform="translate(-6 -7)" fill="none" stroke="#f34515" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1.75" />
              </g>
            </svg>



            Already Staffed
          </div>
          <div *ngIf="jobDetails.job_offer_expired==true" class="badge badge-warning mb-4 ms-3">  
            <svg xmlns="http://www.w3.org/2000/svg" width="26.714" height="20.335" viewBox="0 0 26.714 20.335">
              <g id="asterisk" transform="translate(-2.111)">
                <path id="Path_83" data-name="Path 83"
                  d="M10.634,0a1.207,1.207,0,0,1,1.207,1.207V7.565l5.506-3.179a1.207,1.207,0,1,1,1.207,2.09L13.048,9.656l5.506,3.179a1.207,1.207,0,1,1-1.207,2.09l-5.506-3.179V18.1a1.207,1.207,0,0,1-2.414,0V11.746L3.921,14.925a1.207,1.207,0,1,1-1.207-2.09L8.22,9.656,2.714,6.476a1.207,1.207,0,1,1,1.207-2.09L9.427,7.565V1.207A1.207,1.207,0,0,1,10.634,0Z"
                  transform="translate(0 0)" fill="#e41616" fill-rule="evenodd" />
              </g>
            </svg>
            Expired
          </div>
          
          <p class="mb-4 fw-medium">{{jobDetails.job_desc}}</p>
          <div class="row">
            <div class="col-lg-5">
              <h6 class="text-dark fw-bolder mb-2">Requirements</h6>
              <ol class="list-group list-group-numbered">
                <li class="list-group-item border-0" *ngFor="let child of jobDetails.job_requirements">{{child}}</li>                
              </ol>
            </div>
            <div class="col-lg-1 text-center d-none d-lg-block"><span class="vl d-inline-block"></span></div>
            <div class="col-lg-6 mt-3 mt-lg-0">
              <h6 class="text-dark fw-bolder mb-2">Perks</h6>
              <ol class="list-group list-group-numbered">
                <li class="list-group-item border-0" *ngFor="let child of jobDetails.job_perks">{{child}}</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="earn text-center pe-0 pe-xl-3">
            <span>Earn</span>
            <h2 class="mb-2 text-dark">{{jobDetails.job_earn}}</h2>

            <div *ngIf="jobDetails.job_ot_paid == true" class="badge badge-success">
              <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                  <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                    transform="translate(0 0)" fill="none" stroke="#36a420" stroke-miterlimit="10"
                    stroke-width="1.75" />
                  <path id="Path_12" data-name="Path 12" d="M21.75,12.375,14.4,22.625l-3.15-4.1"
                    transform="translate(-1.5 -2.5)" fill="none" stroke="#36a420" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.75" />
                </g>
              </svg>

              Overtime Available
            </div>
            <br>
            
            <div  *ngIf="jobDetails.job_offered == true" class="badge badge-success item-Favourite mt-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="22.75" height="22.75" viewBox="0 0 22.75 22.75">
                <g id="checkmark-circle-outline" transform="translate(-3.625 -3.625)">
                  <path id="Path_11" data-name="Path 11" d="M25.5,15A10.5,10.5,0,1,0,15,25.5,10.5,10.5,0,0,0,25.5,15Z"
                    transform="translate(0 0)" fill="none" stroke="#36a420" stroke-miterlimit="10"
                    stroke-width="1.75" />
                  <path id="Path_12" data-name="Path 12" d="M21.75,12.375,14.4,22.625l-3.15-4.1"
                    transform="translate(-1.5 -2.5)" fill="none" stroke="#36a420" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.75" />
                </g>
              </svg>
              Offered
            </div>
            <br>
            <button *ngIf="jobDetails.job_favourite == false" class="item-Favourite border-0 bg-transparent mt-4 mt-lg-5" (click)="favouriteJobAddDetails(jobDetails.job_id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.668" height="22" viewBox="0 0 23.668 22">
                <path id="heart"
                  d="M14.208,24.5a1.667,1.667,0,0,1-.938-.29,30.4,30.4,0,0,1-6.843-5.875,12.075,12.075,0,0,1-3.053-7.969A5.875,5.875,0,0,1,9.16,4.5a6.337,6.337,0,0,1,4.812,2.37.313.313,0,0,0,.472,0A6.334,6.334,0,0,1,19.256,4.5a5.875,5.875,0,0,1,5.785,5.867,12.079,12.079,0,0,1-3.053,7.969,30.421,30.421,0,0,1-6.843,5.875,1.667,1.667,0,0,1-.938.29Z"
                  transform="translate(-2.374 -3.5)" fill="#fff" stroke="#a7a7a7" stroke-width="2" />
              </svg>

              <span class="text-muted ms-2">Favourite</span>
              
            </button>
            <button *ngIf="jobDetails.job_favourite == true" class="item-Favourite border-0 bg-transparent mt-5 mt-lg-5" (click)="favouriteJobAddDetails(jobDetails.job_id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.668" height="22" viewBox="0 0 23.668 22">
                <path id="heart"
                  d="M14.208,24.5a1.667,1.667,0,0,1-.938-.29,30.4,30.4,0,0,1-6.843-5.875,12.075,12.075,0,0,1-3.053-7.969A5.875,5.875,0,0,1,9.16,4.5a6.337,6.337,0,0,1,4.812,2.37.313.313,0,0,0,.472,0A6.334,6.334,0,0,1,19.256,4.5a5.875,5.875,0,0,1,5.785,5.867,12.079,12.079,0,0,1-3.053,7.969,30.421,30.421,0,0,1-6.843,5.875,1.667,1.667,0,0,1-.938.29Z"
                  transform="translate(-2.374 -3.5)" fill="#36a420" stroke="#36a420" stroke-width="2" />
              </svg>

              <span class="text-success ms-2">Favourite</span>
            </button>

            <small class="d-block mt-3 text-muted fw-medium">Date Job Posted:<br>
              {{jobDetails.job_start | date: 'dd MMMM yyyy'}} ({{calculateDiff(jobDetails.job_start)}} days ago)</small>
          </div>
        </div>
      </div>
      <div class="apply-job-terms mb-2" *ngIf="jobDetails.job_terms!=undefined">
        <div class="apply-job-terms-inner" *ngFor="let terms of jobDetails.job_terms.split('\n')">
          {{terms}}
        </div>

        
      </div>
      <span class="status-badge badge-red mt-2" *ngIf="jobDetails.job_offer_expired==true">Expired</span>
      <span class="status-badge badge-red mt-2" *ngIf="jobDetails.job_rejected== true">Declined</span>
      <button class="btn btn-warning px-5 mt-2" (click)="offerJobEdit(jobDetails.job_id, 'withdraw')" *ngIf="jobDetails.job_accepted==true && jobDetails.job_offer_expired==false && jobDetails.job_offer_expired== false && jobDetails.job_rejected==false">Withdraw</button>
      <button class="btn btn-primary px-5 ms-3 mt-2" (click)="offerJobEdit(jobDetails.job_id, 'accept')" *ngIf="jobDetails.job_offered==true && jobDetails.job_rejected==false && jobDetails.job_offer_expired==false && jobDetails.job_accepted==false">Accept</button>
      <button class="btn btn-outline-primary px-5 ms-3 mt-2" (click)="offerJobEdit(jobDetails.job_id, 'decline')" *ngIf="jobDetails.job_offered==true && jobDetails.job_rejected==false && jobDetails.job_offer_expired==false && jobDetails.job_accepted==false">Decline</button>
      <p class="mt-2" *ngIf="jobDetails.job_offered==true && jobDetails.job_offer_expired==false && jobDetails.job_rejected==false && jobDetails.job_accepted==false">If didn't reply on time and date, it will be automatically marked as declined</p>
      
      <div class="alert alert-success mb-0" *ngIf="message!==''">
        {{message}}
      </div>
      <div class="alert alert-danger mb-0" *ngIf="error_message!==''">
        {{error_message}}
      </div>
    </div>
  </div>  
</ng-template>