<section class="py-3 py-lg-5 bg-secondary">
  <div class="container">
    <div class="content-box p-4 p-lg-5">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-dark fw-bolder border-bottom pb-4">Settings</h3>
        </div>
      </div>
      <form [formGroup]="settingForm" (ngSubmit)="onSubmitSetting()">
        <div class="setting-item">
          <div class="row">
            <div class="col-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="57" height="46" viewBox="0 0 65.683 51.333">
                <g id="mail-outline" transform="translate(-1.625 -5)">
                  <path id="Path_31" data-name="Path 31"
                    d="M9.355,6.75H59.58a5.98,5.98,0,0,1,5.978,5.98V48.605a5.98,5.98,0,0,1-5.978,5.978H9.355a5.98,5.98,0,0,1-5.98-5.978V12.73A5.98,5.98,0,0,1,9.355,6.75Z"
                    transform="translate(0 0)" fill="none" stroke="#3b5998" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="3.5" />
                  <path id="Path_32" data-name="Path 32" d="M7.875,11.25,29.4,27.992,50.925,11.25"
                    transform="translate(5.067 5.067)" fill="none" stroke="#3b5998" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="3.5" />
                </g>
              </svg>
            </div>
            <div class="col">
              
              <div class="row">
                <div class="col-md">
                  <div class="setting-box">
                    <h5 class="fw-bolder text-dark">Email notification </h5>
                    <p class="mb-0">Simply dummy text of the printing and typesetting dummy<br>
                      industry Lorem Ipsum is....</p>

                  </div>
                </div>
                <div class="col-md-auto">
                  <div class="d-inline-block">
                    <div class="form-check form-switch left-switch mt-3">
                      <label class="form-check-label" for="flexSwitchCheckChecked">On</label>
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" formControlName="email_notification">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>


        <div class="setting-item">
          <div class="row">
            <div class="col-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="57" height="58" viewBox="0 0 63.5 64.92">
                <path id="bxs-message"
                  d="M57,3H9A6,6,0,0,0,3,8.976V45.024A6,6,0,0,0,9,51h9V63L37.054,51H57a6,6,0,0,0,6-5.976V8.976A5.994,5.994,0,0,0,57,3Z"
                  transform="translate(-1.25 -1.25)" fill="none" stroke="#3b5998" stroke-width="3.5" />
              </svg>

            </div>
            <div class="col">
              <div class="row">
                <div class="col-md">
                  <div class="setting-box">
                    <h5 class="fw-bolder text-dark">SMS notification </h5>
                    <p class="mb-0">Simply dummy text of the printing and typesetting dummy<br>
                      industry Lorem Ipsum is....</p>

                  </div>
                </div>
                <div class="col-md-auto">
                  <div class="d-inline-block">
                    <div class="form-check form-switch left-switch mt-3">
                      <label class="form-check-label" for="flexSwitchCheckChecked">Off</label>
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" formControlName="sms_notification">
                    </div>
                  </div>
                </div>
              </div>

              
            </div>
            
          </div>
        </div>


        <div class="setting-item">
          <div class="row">
            <div class="col-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="57" height="46" viewBox="0 0 63.474 51.572">
                <g id="briefcase" transform="translate(0 -2.25)">
                  <path id="Path_69" data-name="Path 69"
                    d="M0,38.428a5.951,5.951,0,0,0,5.951,5.951H57.523a5.951,5.951,0,0,0,5.951-5.951v-23.8H59.506v23.8a1.984,1.984,0,0,1-1.984,1.984H5.951a1.984,1.984,0,0,1-1.984-1.984v-23.8H0Z"
                    transform="translate(0 9.444)" fill="#3b5998" fill-rule="evenodd" />
                  <path id="Path_70" data-name="Path 70"
                    d="M0,16.135a5.951,5.951,0,0,1,5.951-5.951H57.523a5.951,5.951,0,0,1,5.951,5.951v9.458l-30.2,8.052a5.951,5.951,0,0,1-3.063,0L0,25.592Zm5.951-1.984a1.984,1.984,0,0,0-1.984,1.984v6.411l27.258,7.268a1.984,1.984,0,0,0,1.024,0l27.257-7.268V16.135a1.984,1.984,0,0,0-1.984-1.984ZM19.835,8.2A5.951,5.951,0,0,1,25.786,2.25h11.9A5.951,5.951,0,0,1,43.638,8.2v1.984H39.671V8.2a1.984,1.984,0,0,0-1.984-1.984h-11.9A1.984,1.984,0,0,0,23.8,8.2v1.984H19.835Z"
                    transform="translate(0 0)" fill="#3b5998" fill-rule="evenodd" />
                </g>
              </svg>

            </div>
            <div class="col">
              <div class="row">
                <div class="col-md">
                  <div class="setting-box">
                    <h5 class="fw-bolder text-dark">Notify me about new jobs </h5>
                    <p class="mb-0">Simply dummy text of the printing and typesetting dummy<br>
                      industry Lorem Ipsum is....</p>

                    <div class="row mt-4">
                      <div class="col-md-8">
                        <div class="slidecontainer">
                          <label class="fw-bolder text-dark" for="">Distance From Home Address</label>
                          <div class="range-wrap"><input type="range" value="" formControlName="job_radius"></div>
                          <ul class="list-unstyled d-flex justify-content-between">                            
                            <li>10 miles</li>
                            <li>20 miles</li>
                            <li>30 miles</li>
                            <li>40 miles</li>
                            <li>50 miles</li>                            
                          </ul>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
                <div class="col-md-auto">
                  <div class="d-inline-block">
                    <div class="form-check form-switch left-switch mt-3">
                      <label class="form-check-label" for="flexSwitchCheckChecked">On</label>
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" formControlName="job_notification">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="setting-item">
          <div class="row">
            <div class="col-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="57" height="58" viewBox="0 0 63.5 64.92">
                <path id="bxs-message"
                  d="M57,3H9A6,6,0,0,0,3,8.976V45.024A6,6,0,0,0,9,51h9V63L37.054,51H57a6,6,0,0,0,6-5.976V8.976A5.994,5.994,0,0,0,57,3Z"
                  transform="translate(-1.25 -1.25)" fill="none" stroke="#3b5998" stroke-width="3.5" />
              </svg>

            </div>
            <div class="col">
              <div class="row">
                <div class="col-md">
                  <div class="setting-box">
                    <h5 class="fw-bolder text-dark">Notify me about new messages </h5>
                    <p class="mb-0">Simply dummy text of the printing and typesetting dummy<br>
                      industry Lorem Ipsum is....</p>

                  </div>
                </div>
                <div class="col-md-auto">
                  <div class="d-inline-block">
                    <div class="form-check form-switch left-switch mt-3">
                      <label class="form-check-label" for="flexSwitchCheckChecked">Off</label>
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" formControlName="message_notification">
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
          
          
        <div class="setting-item">
          <div class="row align-items-center">
            <div class="col-auto">
              <svg id="account-logout" xmlns="http://www.w3.org/2000/svg" width="57" height="48"
                viewBox="0 0 53.844 53.833">
                <path id="Path_33" data-name="Path 33"
                  d="M31.914,24.553H1.118V20.964h30.8L23.5,12.547h0l2.538-2.538L38.784,22.758h0L26.034,35.509,23.5,32.972h0l8.417-8.417Z"
                  transform="translate(15.061 4.162)" fill="#3b5998" />
                <path id="Path_34" data-name="Path 34" d="M48.933,1.125V4.714H14.839V51.369H48.933v3.589H11.25V1.125Z"
                  transform="translate(-11.25 -1.125)" fill="#3b5998" />
              </svg>

            </div>
            <div class="col">
              <div class="setting-box">
                <button class="h5 fw-bolder text-dark border-0 bg-transparent m-0" (click)="onLogout()"> Logout all devices</button>

              </div>
            </div>
          </div>
        </div>

        <!-- <div class="setting-item">
          <div class="row align-items-center">
            <div class="col-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="57" height="47" viewBox="0 0 53.507 53.507">
                <g id="close-circle-outline" transform="translate(-2.75 -2.75)">
                  <path id="Path_35" data-name="Path 35" d="M54.507,29.5a25,25,0,1,0-25,25A25.01,25.01,0,0,0,54.507,29.5Z"
                    fill="none" stroke="#3b5998" stroke-miterlimit="10" stroke-width="3.5" />
                  <path id="Path_36" data-name="Path 36" d="M30.169,30.169,13.5,13.5" transform="translate(7.669 7.669)"
                    fill="none" stroke="#3b5998" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" />
                  <path id="Path_37" data-name="Path 37" d="M13.5,30.169,30.169,13.5" transform="translate(7.669 7.669)"
                    fill="none" stroke="#3b5998" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" />
                </g>
              </svg>

            </div>
            <div class="col">
              <div class="setting-box">
                <a href="#" class="h5 text-dark fw-bolder">Close account</a>
              </div>
            </div>
          </div>
        </div> -->

        <div class="alert alert-success"
            *ngIf="message!==''">
            {{message}}
          </div>
          <div class="alert alert-danger"
            *ngIf="error_message!==''">
            {{error_message}}
        </div>
        <div class="row mt-4">
          <div class="col-xl-3 col-md-5 ms-auto">
            <button class="btn btn-primary w-100">Save Settings</button>
          </div>
        </div>
      </form>
    
    </div>
  </div>
</section>