/*#################################################### settings PAGE START #######################################################################################*/
@import '../../assets/scss/variables.scss';
.body-bg {
  background-color: #EDF0F6;
}

.sms-box {
  background: white;
  padding: 50px;
  border: 1px solid #D4D9E3;
  border-radius: 6px;
}

.setting-item {
  border-bottom: 1px solid #D4D9E3;
  padding: 25px 0;
}
.setting-item:last-child {
  border-bottom: none;
}

.slidecontainer ul li {
  margin-top: 5px;
  font-size: 12px;
  padding: 0 3px;
  text-align: center;
  line-height: 1.3;
}




.range-wrap {
  overflow: hidden;
  
}
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: #D4D9E3;
    border-radius: 6px;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 15px;
    -webkit-appearance: none;
    color: $success-color;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: ew-resize;
    background: $success-color;
    box-shadow: -600px 0 0 600px $success-color;
  }

}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: $success-color;
}

input[type="range"]::-moz-range-track {
  background-color: #D4D9E3;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: $success-color;
}

input[type="range"]::-ms-fill-upper {
  background-color: #D4D9E3;
}